[2021-04-08 02:33] charleskorn commented on #847
Hey @csxero, would you be able to create a sample repo that demonstrates this problem? I'm not particularly familiar with Selenium but I'm happy to take a look if you have a sample that I can check some things with.

[2021-04-08 02:56] csxero commented on #847
Sure thing @charleskorn. I'll send one by tomorrow

[2021-04-08 17:11] erMaurone opened #848 "config-var usage"
Hi Charles,

Great work on batect - I'm really enjoying it!

Quick question: is there a way I can pass a variable to the docker CMD?

I thought I could use the --config-var, but after trying it looks like it's meant to achieve another goal.
Here's my example.  In pseudo-code i have this in batect.yml:

[code]

Then I would run:
`./batect --config-var env=int tests-e2e`

Also, tried to define the v

[2021-04-10 00:19] charleskorn commented on #848
Hey @erMaurone, glad to hear it :)

Config variables aren't automatically turned into environment variables, which is why the `$env` there won't be working. There are two possible ways to achieve what you're after:

1. Use config variables and use them to set environment variables for the container, for example:

[code]

    (you'll also need to define the `env` config variable in `config_variable

[2021-04-16 20:30] erMaurone commented on #848
Thanks for the explanation @charleskorn - I went for option 2, the simplest.

[2021-04-16 22:42] #848 closed

[2021-04-20 09:39] charleskorn commented on #847
No worries at all @csxero.

In that config, I can see you're using an internal Docker registry - are those just copies of the public Selenium images available from [`selenium/hub`](https://hub.docker.com/r/selenium/hub) and [`selenium/node-chrome`](https://hub.docker.com/r/selenium/node-chrome) on Docker Hub?

[2021-04-20 09:50] charleskorn commented on #847
I've just tried that project on my machine with the publicly available images (but same tag), and it appears to work fine 🤔

I don't see that error message in any of the logs from the containers and I get a HTTP 200 response when using this command, which I had to tweak slightly from that repo (swapping single quotes for double quotes in the request body and adding a missing space before `--data`)

[2021-04-20 20:11] csxero commented on #847
an yeah, sorry; I've removed our docker reg

[2021-04-20 20:15] csxero commented on #847
Weird; I still get that error message when making a request through postman or using that curl command. I'm also using windows if that's a difference

![image](https://user-images.githubusercontent.com/71737320/115458153-7a357b80-a279-11eb-9efb-27b24f5d1ad9.png)

[2021-04-21 22:00] charleskorn commented on #847
Could you please try running Batect with `--output=all` (eg. `./batect --output=all test-grid`) to get the logs from all the containers and share them with me? I'd like to compare them with what I get to see if I can see what the difference is.

If you're not comfortable sharing the logs publicly here, feel free to email them to me at `me@charleskorn.com`.

[2021-04-27 00:47] csxero commented on #847
[code]

[2021-04-27 09:11] charleskorn commented on #847
There's nothing jumping out at me there... could you try running the task with the default Docker network? There are a couple of reports online with issues around networking and ChromeDriver.

Something like `./batect --use-network=default --output=all test-grid` should do it.

[2021-05-02 05:10] chinwobble opened #872 "Environment variable substitution doesn't work with default variables"
This is a great tool that thoughtworkers have introduced me to make docker development easier.

However i encountered a problem with variable substitution.

In bash I can do:
[code]
if the variable `$AZURE_CONFIG_DIR` doesn't exist, it will expand to something like `/home/myuser/.azure`

However when i try to use the following batect config it doesn't work.

[code]

Instead what happens is that a

[2021-05-04 10:42] charleskorn commented on #872
Hi @chinwobble, unfortunately [expressions](https://batect.dev/docs/reference/config/expressions/) don't support nested expressions like Bash does, so what you're trying to do currently won't work. (If you'd like to add this as a feature, PRs are always welcome, and I'm happy to point you in the right direction and review work in progress :) )

In this particular case, you can get away without nes

[2021-05-12 00:00] #679 closed

[2021-05-13 03:53] kokrange commented on #286
I think it's a pretty common scenario especially for database migration because most db containers do not have the environment to migrate itself. It would be nice to have some kind of short-lived container that do something only for the long-lived container and quit after finished, like k8s Jobs.

[2021-05-23 20:03] fwilhe2 opened #895 "Support Fedora/Podman runtime?"
Hi,

I've tried to use batect on my fedora 34 laptop which has [podman](https://podman.io/)  installed (with the "docker" cli compatibility layer) but it seems not to be supported.

I get a `Docker is not installed, not running or not compatible with Batect: Cannot connect to '/var/run/docker.sock': Permission denied` message. True, Docker is not installed, but it would be nice if podman would be

[2021-05-23 22:51] charleskorn commented on #895
Hi @fwilhe2, I'm not familiar with Podman, so I can't answer that question specifically.

The Docker socket or something speaking the Docker API is required, as the CLI doesn't expose all the information Batect needs for some situations in a workable format (eg. being able to get the download progress of an image pull).

If Podman supports the Docker API, then Batect should be able to use it, but

[2021-05-24 08:08] fwilhe2 commented on #895
It looks like podman has a similar api, cf [Chapter 14. Using the container-tools API](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/building_running_and_managing_containers/using-the-container-tools-api_using-the-container-tools-cli), [Provides an API for the Libpod library](https://docs.podman.io/en/latest/_static/api.html).

I did not work with the docker api bef

[2021-05-25 09:39] charleskorn commented on #895
It _looks_ like it would work, based on a very quick glance through the API. You'd need to set up that API to be available on your machine, either as a Unix socket at `/var/run/docker.sock` or a TCP socket.

However, reading the error message you originally posted, it looks like the `/var/run/docker.sock` socket is there, but your user doesn't have access. Perhaps you just need to give your user p

[2021-05-25 17:17] fwilhe2 commented on #895
You're right, the file exists and it is a link to `/run/podman/podman.sock`. This seems to be leftover from my experiments.

Just for the sake of trying it out, when running as root I get this:

`Docker is not installed, not running or not compatible with Batect: Docker daemon responded with unknown Builder-Version ''.`

I have not checked what exactly it is looking for there, but I guess it shoul

[2021-05-25 23:06] charleskorn commented on #895
OK, that's progress. If you are interested in submitting a PR to fix this, [this](https://github.com/batect/batect/blob/a1c3e9bf9ccae4019c0434f93b74847b01c3677e/libs/docker-client/src/main/kotlin/batect/docker/api/SystemInfoAPI.kt#L112) is the likely area of the code you'd need to change.

[2021-06-08 08:51] binkley commented on #116
Seeing lots of great stuff in this space.  Any thoughts on timeline for BASH support?

[2021-06-09 10:37] charleskorn commented on #116
My current focus is on BuildKit support - once that's out of the way (hopefully soon 🤞), this should be near the top of the list.

[2021-06-16 20:52] csxero commented on #847
@charleskorn Using WSL in my windows machine solves the issue. I don't think it's abatect issue because it happens with docker compose as well. Must be a windows thing 🤷‍♂️

[2021-06-16 20:52] #847 closed

[2021-06-29 03:41] ZhuYeXero opened #924 "Batect fails to remove temporary directory."
Hi,

I want to check the remote git commit in my task, then I mount the local `~/.ssh` in the container.

[code]

But it occasionally raises the following errors while the task is finished.

[code]
Actually, batect cleans all other things except the temporary home dir, and the home dir is already empty when I check it. It seems like the `.ssh` is still mounted when batect wants to remove this temp

[2021-06-29 08:14] charleskorn commented on #924
Hi @ZhuYeXero, thanks for the issue report. I have two requests to help me diagnose this issue:

* Could you please run `./batect --version` and paste the output here?
* Could you please run the task again and check the owner of the `.ssh` directory it mentions in the error message? (eg. for the run above, run `ls -la /tmp/batect-home-3526676190332469942/.ssh`)

[2021-06-30 02:16] ZhuYeXero commented on #924
Hey @charleskorn

Here is the version info.
[code]

The .ssh dir is still in the temporary home directory this time, I remember it was an empty dir when I first check it.
[code]
But it's an empty one, maybe I mixed something.

Hope this can help.

[2021-07-01 22:58] charleskorn commented on #924
Thanks for the details @ZhuYeXero, I'll take a look.

[2021-07-02 08:39] charleskorn commented on #924
Hey @ZhuYeXero, I'm not able to reproduce this issue - is this something that you can reliably reproduce? A set of repro steps and a sample repo that demonstrate the issue reliably would help me resolve this problem.

[2021-07-07 09:53] Mubashwer opened #930 "Is using host network possible in Batect?"
Is it possible to use host network in Batect?

Fore more information: https://docs.docker.com/network/host/

[2021-07-07 11:17] charleskorn commented on #930
Hi @Mubashwer, this is currently not supported. Could you tell me a little more about why you'd like to use host networking?

[2021-07-07 23:59] Mubashwer commented on #930
@charleskorn We have 3 containers. One is identity, one is our spa and one is a cypress container. We were having intermittent `ECONNREFUSED` error from cypress randomly in some of the tests where cypress failed to connect to the spa (which depends on identity). The dependencies were correctly set so they should be using the same network. The issue doesn't happen when we run containers with host n

[2021-07-08 22:45] charleskorn commented on #930
Do you have [a health check](https://batect.dev/docs/how-to/wait-for-dependencies) defined for your SPA? It may be that Cypress is starting too quickly and trying to start using the application before it is ready.

[2021-07-09 02:00] Mubashwer commented on #930
We do have a healthcheck and the cypress tests start after the spa is up. The intermittent ECONNREFUSE happens in the middle of the tests. (i.e not necessarily the first spec file).

[2021-07-09 09:26] ZhuYeXero commented on #924
Sorry, @charleskorn  Actually, I couldn't reproduce this every time, as I mentioned it happens occasionally, and when it's in this status, it will be always in that error status, unless you re-clone the repo. There was another interesting thing, I got a repo with this issue the week before last week, and wanted to show this situation as an known issue in my showcase on this Monday, then everything

[2021-07-10 11:40] #872 closed

[2021-07-11 00:28] charleskorn commented on #924
No worries at all - if you're able to provide a reproduction, I'm happy to investigate further.

I also have some changes planned that will remove the need for the temporary directory altogether, but I can't make any promises about when that will be implemented.

[2021-07-11 00:29] charleskorn commented on #930
OK, weird. Do you see the same issue with Docker Compose when not using host networking?

[2021-07-11 10:52] Mubashwer commented on #930
Did not try that.

[2021-07-11 22:58] charleskorn commented on #930
I know this is going off topic from your original question, but would you mind giving that (Docker Compose without host networking) a go?

I'm hesitant to add host networking support to Batect as it would break one of the core ideas of Batect, that each task runs in its own isolated network, so if this is an issue with how Batect is setting up the isolated network, I'd be keen to fix that.

[2021-07-12 06:48] ZhuYeXero commented on #924
Thanks, Charles. Hope this could resolve the issue.

[2021-07-12 10:25] Mubashwer commented on #930
In batect, you can pass a docker network:
[code]

In the above case, the docker network is not necessarily isolated as there is no restrictions on how the network is used.

So I was thinking maybe we could do something like:
[code]

(docker network with name 'host' cannot be created so the above syntax is suitable)

Ok. I will give that a shot when I find the time and will let you know. It is a bi

[2021-07-13 12:02] ZhuYeXero commented on #924
Hey, Charles.

I have 2 repos here to simulate my case.
https://github.com/ZhuYeXero/batect-bundle
https://github.com/ZhuYeXero/batect-test
`batect-test` includes `batect-bundle` as part of the batect config.

After some tests, I found this situation might be caused by file/dir structure is changing while docker is unmounting volume.
I have 2 scripts `update-test` and `add-new-res` in `batect-test

[2021-07-16 00:34] Tzrlk opened #935 "Batect 0.70.0 not reading DOCKER_CERT_PATH environment variable"
I've got a CI build running that sets the DOCKER_CERT_PATH env var, but batect doesn't pick it up for some reason:
[code]
Specifying the property as --docker-cert-path in the command works fine:
[code]

[2021-07-16 01:43] Tzrlk commented on #935
I was kinda hoping that I'd just find a typo in the code, but the CommandLineOptionsParser looks fine:
[code]
Manually specifying `--docker-tls` in the command makes no difference either.

[2021-07-16 01:53] Tzrlk commented on #935
Ah, found the issue. The value for the environment variable wasn't being interpolated by the parser:
[code]

[2021-07-16 02:03] Tzrlk commented on #935
Tell a lie, setting the environment variable specifically to `/certs/client` actually just ignored it again. FYI, `/certs` is a volume mount needed for docker-in-docker.

[2021-07-16 10:23] charleskorn commented on #935
Thanks for the detailed report @Tzrlk. Does it work as expected if you provide the path to the certificate files on the command line? Something like `./batect --docker-tls-ca-cert=${DOCKER_CERT_PATH}/ca.pem --docker-tls-cert=${DOCKER_CERT_PATH}/cert.pem --docker-tls-key=${DOCKER_CERT_PATH}/key.pem terraform:init`

[2021-07-16 10:26] #828 closed

[2021-07-18 22:47] xiangyu-leo-cai commented on #924
I have the same issue. I guess this is caused by the multi-thread cleanup. If I add the param --max-parallelism=1, then the issue is fixed. Hope you could check the thread pool and see whether it is related to this issue. One more thing, is it possible to set the --max-parallelism=1 as a default param in my local machine? It happens frequently, but typing this command every time is a little bit an

[2021-07-18 23:20] Tzrlk commented on #935
Nope:
[code]
Though it will work if the `${DOCKER_CERT_PATH}` is set to `/certs/client` instead of `${DOCKER_TLS_CERTDIR}/client`. Not actually sure if this is specifically a batect issue, but if the code performing parameter evaluation could be enhanced to take nested interpolation into account, it would make things a little less awkward.

Java/Kotlin doesn't really have an idiomatic way of doing

[2021-07-19 03:18] ZhuYeXero commented on #924
`--max-parallelism=1` works. Thanks @xiangyu-leo-cai

[2021-07-19 08:08] charleskorn commented on #935
I suspect your suspicion that this isn't a Batect issue is correct: interpolation of environment variables into command lines should be taken care of by your shell, not Batect.

So if you're seeing an error message like `The value '${DOCKER_TLS_CERTDIR}/client/ca.pem' for option '--docker-tls-ca-cert=${DOCKER_TLS_CERTDIR}/client/ca.pem' is invalid...`, that suggests that whatever is invoking Batec

[2021-07-19 08:15] Tzrlk commented on #935
I'm trying to get batect running in a kubernetes-based Gitlab runner, and it's a nightmare. I'd contribute docs on how to get it running if I ever actually do. Finally got docker-in-docker acting as the host, only to find that the run-as-user feature causes permissions errors, but turning it off also causes permissions errors. Extremely frustrating.

[2021-07-19 10:22] charleskorn commented on #935
Are you able to share the error messages you're seeing? I might be able to help out.

I've also found the source of your original issue (setting the `DOCKER_CERT_PATH` environment variable did nothing) - I'm working on a fix and will release it when I have some time.

[2021-07-20 03:52] diwang-xero opened #938 "Support specify build stage in Dockerfile"
In a multi stage Dockerfile, we can specify which target we can stop when building the image, doc [Stop at a specific build stage](https://docs.docker.com/develop/develop-images/multistage-build/#stop-at-a-specific-build-stage).
In docker-compose.yml, we can also do [that](https://docs.docker.com/compose/compose-file/compose-file-v3/#target).
Can we also add this support in batect, so we can reuse

[2021-07-21 10:15] charleskorn commented on #938
Hey @diwang-xero, thanks for the suggestion. This should be straightforward to implement, I'll add it to my backlog. In the meantime, if you're interested in making a PR, I'm always open to that as well :)

[2021-07-22 11:28] #935 closed

[2021-07-22 11:29] charleskorn commented on #935
I've fixed the issue where setting `DOCKER_CERT_PATH` didn't behave as expected and will release a new version shortly.

If you'd like help getting Batect working within a Kubernetes-based GitLab runner, please feel free to open another issue or start a discussion thread, I'd be glad to help where I can.

[2021-07-25 04:21] #895 closed

[2021-07-25 04:22] charleskorn commented on #895
I've just pushed a fix for this issue, and it will be included in the next release. Please feel free to open another issue if you run into further problems.

[2021-07-26 01:15] Tzrlk opened #943 "Getting Batect running on a kubernetes-based Gitlab runner"
Given the following gitlab-runner config:
[code]
and the following Gitlab CI config:
[code]
and the following (partial) batect config:
[code]
the following error is encountered when running a build:
[code]
If I remove the `run_as_current_user` configuration, I end up with a different permissions error:
[code]

[2021-07-26 02:24] charleskorn commented on #943
Thanks for the detailed issue report @Tzrlk.

The first issue (where `run_as_current_user` is enabled) is caused by the fact that Batect needs to create some temporary files to mount into the container when run as current user is enabled (see [the docs](https://batect.dev/docs/concepts/run-as-current-user-mode/#changes-made-when-running-in-run-as-current-user-mode) for more details). Batect create

[2021-07-26 03:18] #938 closed

[2021-07-26 03:18] charleskorn commented on #938
I've just added support for this and it will be included in the next release. Thanks again for the suggestion @diwang-xero!

[2021-07-26 07:42] #924 closed

[2021-07-26 07:42] #943 closed

[2021-07-26 07:49] charleskorn commented on #943
I've just made a change to how 'run as current user' mode works to not use mounted directories, and will release this shortly. Please give the new version (0.72.0) a go and let me know if it fixes the issue for you.

[2021-07-26 07:51] charleskorn commented on #924
I've just made a change to how 'run as current user' mode works to not use mounted files or directories. This removes the need to clean up any temporary files or directories, which should fix this issue and remove the need to set `--max-parallelism=1` as a workaround.

Please give the new version (0.72.0) a go when I release it and let me know if it fixes the issue for you.

[2021-07-27 00:58] Tzrlk commented on #943
Indeed, that appears to have fixed the issue.

Just for future reference, the key parts for getting the gitlab runners working are:
[code]
and
[code]
and
[code]
with whatever other bits and pieces needed to get tools running smoothly.

[2021-07-27 10:01] charleskorn commented on #943
Awesome, glad to hear it's working now. If you run into any further issues, please don't hesitate to open another issue.

[2021-07-29 06:58] mario-prabowo-xero opened #945 "Batect task failed with `stdin is not a tty`"
**Issue:** Batect task failed with error message `stdin is not a tty`.
- This only happens when executing batect task from git pre-push script and not when running the task directly
- The issue also doesn't happen when running the pre-push script manually and only happens when doing git push
- The issue looks similar to issues found in [Yarn](https://github.com/yarnpkg/yarn/issues/2998)/[Husky](ht

[2021-07-29 08:41] charleskorn commented on #945
Hi @mario-prabowo-xero, thanks for the bug report. Just to confirm, are you using the most recent version of Batect?

If you are, are you able to share a sample project that demonstrates the issue?

[2021-07-29 23:22] mario-prabowo-xero commented on #945
Hi @charleskorn,

Thanks for your prompt response. We are using the latest version (0.72.0). We can't share the code as it's commercially sensitive, but I can try creating a sample project to reproduce the issue.

Thanks,

Mario

[2021-07-30 06:24] gabrielsadaka opened #947 "Cache initialisation fails on Ubuntu 20.04 on Raspberry PI"
When trying to run batect on a Raspberry PI running Ubuntu 20.04 using a cache volume I get the following error:

[code]

It works fine when I remove `type: cache` though. It also works fine with Ubuntu 16.04 running via WSL2 on Windows, on Windows itself and on MacOS.

Here's a repro: https://github.com/gabrielsadaka/batect-cache-issue-repro

My guess is it is due to the RPI having an ARM based C

[2021-07-30 10:52] mario-prabowo-xero commented on #945
Hi @charleskorn,

I managed to reproduce the issue in my sample project. You can find it in https://github.com/mario-prabowo-xero/sample-batect.

Thanks,

Mario

[2021-08-01 04:32] #945 closed

[2021-08-01 04:38] charleskorn commented on #945
Thanks for the reproduction repo @mario-prabowo-xero. I've been able to fix the issue and it will be included in the next release.

For the time being, you can make this change to line 86 of the `batect` wrapper script in your project to fix the problem:

[code]

[2021-08-01 04:51] charleskorn opened #949 "Test bug report"
### Describe the bug

Testing

### Reproduction repo

No

### Steps to reproduce

1. a
2. b
3. c

### Expected behaviour

x

### Actual behaviour

y

### Version information

[code]

### Any other information

This is a test issue.

[2021-08-01 04:52] #949 closed

[2021-08-01 04:59] charleskorn commented on #947
Thanks for the bug report @gabrielsadaka. You're right, this would be an issue with running on a non-x86 CPU. I'll take a look at providing an ARM64 version with the image as well.

[2021-08-01 05:21] gabrielsadaka commented on #947
That would be great, thanks @charleskorn.

Does batect make use of native assemblies as well as a Java app?

[2021-08-01 05:22] charleskorn commented on #947
It does make some calls to non-Java functions from Java, but they _should_ work fine on ARM. Are you running into issues that might be caused by that?

[2021-08-01 05:27] gabrielsadaka commented on #947
Not that I know of, the only issue I have run into is the cache volume type error.

I was just wondering what you would need to produce an AMR64 version of, as you suggested could be included in the image.

[2021-08-01 05:28] charleskorn commented on #947
Ah sorry, I misunderstood - the cache init image contains a separate, statically compiled Golang app that needs to built for each architecture.

[2021-08-01 05:35] gabrielsadaka commented on #947
Ah makes sense. I didn't know the cache initialisation happened by a separate docker image, I just assumed batect did that using docker API calls.

[2021-08-01 06:10] #947 closed

[2021-08-01 06:18] charleskorn commented on #947
I've just pushed a fix for this and it will be included in the next release.

In the meantime, you can pass the `--linux-cache-init-image=batect/batect-cache-init-image@sha256:eb29737360eede3543065a4ebfa853043a91631260ce2f4aa1d0cb4d0943a431` option on the command line, or set the `BATECT_LINUX_CACHE_INIT_IMAGE` environment variable to `batect/batect-cache-init-image@sha256:eb29737360eede3543065a4e

[2021-08-01 06:20] charleskorn commented on #947
Sadly not... in order to support 'run as current user' mode, we have to use another image to set the owner of the volume before it's used as a cache by other containers.

[2021-08-01 07:54] gabrielsadaka commented on #947
The environment variable worked perfectly, thanks!

Fair enough, that's unfortunate but good to know.

[2021-08-01 23:26] mario-prabowo-xero commented on #945
Fantastic! Thanks for fixing it so quickly @charleskorn.

[2021-08-04 23:30] davified commented on #549
Hi @charleskorn , thanks for the great work on batect!

I have a question related to this issue. If I should open a new issue instead, please let me know.

Our scenario:
- While some of our env vars are static values, some are dynamic (see GIT_BRANCH, GIT_COMMIT and USERNAME)

[code]

May I know if there's a way to define these dynamic config vars so that it's computed at the time of running the b

[2021-08-05 07:16] charleskorn opened #950 "Dynamically computed environment variables"
_Originally posted by @davified in https://github.com/batect/batect/issues/549#issuecomment-893042871_

Hi @charleskorn , thanks for the great work on batect!

I have a question related to this issue. If I should open a new issue instead, please let me know.

Our scenario:
- While some of our env vars are static values, some are dynamic (see GIT_BRANCH, GIT_COMMIT and USERNAME)

[code]

May I know

[2021-08-05 07:17] charleskorn commented on #549
Hey @davified, I've moved this over to a new issue: #950 - let's discuss this there.

[2021-08-05 07:20] charleskorn commented on #950
Hi @davified, at the moment, there isn't any way built into Batect to do this. There are two options I can think of for this:

* create a shell script for your task that computes the values for you and then invokes the command that needs these values
* if you'd like these environment variables to be available for a range of tasks that use the same container, you could create an entrypoint script t

[2021-08-09 01:27] davified commented on #950
Thanks so much for your prompt response @charleskorn !

In our case, I think we need to compute those variables on the host, outside of Docker, because it has a dependency on (i) `git` and (ii) value of $USER on the host:

[code]

What you think of this workaround?
1. Create a `./batect-wrapper.sh`, which will compute these variables (GIT_BRANCH, GIT_SHA, USERNAME) on the host
2. Create/update a `

[2021-08-09 05:11] charleskorn commented on #950
As a general technique, that will work, however, I think in your particular case you might be able to get away with doing everything in the container.

For the Git information, given you're mounting the project directory into the container, you should be able to use `git` inside the container to get the information you're after from an entrypoint script - you would need to install `git` in the con

[2021-08-11 23:57] davified commented on #950
Thanks @charleskorn ! That worked much better than my suggestion :-)

Just to close the loop on this, this was my implementation of your suggestion:

[code]

## For use case 1:

[code]

[code]

## For use case 2:

[code]

## Common

[code]

[2021-08-12 22:59] charleskorn commented on #950
Awesome, glad to hear it's working @davified.

One small thing: you might want to replace the `bash` command on the last line of your entrypoint script with `exec "$@"`. This ensures that the `command` (which will be in `$@`) is run as PID 1, which makes signals work correctly (see [this Stack Overflow answer for an explanation](https://stackoverflow.com/a/48096779/1668119)). This is important for

[2021-08-17 12:18] nkrul opened #969 "batect gets stuck when downloading old versions"
### Describe the bug

An old project with a fresh checkout from git.

Downloading Batect version 0.68.0 from https://dl.bintray.com/batect/batect/0.68.0/bin/batect-0.68.0.jar...
Downloading failed with error: The remote server returned an error: (403) Forbidden.

### Reproduction repo

_No response_

### Steps to reproduce

run batect 0.68.0.

### Expected behaviour

batect runs
Specifically, bate

[2021-08-17 23:06] charleskorn commented on #969
Hi @nkrul, thanks for the report. Unfortunately there's not much I can do here. I can't go back and change the wrapper script in old versions as users have already downloaded a copy and so they wouldn't get the changes.

[This blog post from March](https://batect.dev/blog/2021/03/10/bintray-shutdown) explains some of the options available to deal with the shutdown of Bintray. Newer versions of Bat

[2021-08-18 00:47] mylesmacrae opened #970 "BuildKit broken since 0.71 with multiple project solutions"
### Describe the bug

When building and running a dotnet core application with multiple project via a dockerfile using buildkit, an error is generated by batect from the new FileSyncService.  Running it multiple times with no change produces different messages in some cases.   Removing the sub project allows it to build.

[code]

### Reproduction repo

https://github.com/mylesmacrae/batect-bug

##

[2021-08-18 00:50] mylesmacrae commented on #970
With build kit disabled, the task runs successfully:

[code]

[2021-08-19 07:36] charleskorn commented on #970
Thanks for the detailed report and for providing a damper project @mylesmacrae. I've been out sick but I will take a look at this as soon as I can.

[2021-08-21 03:34] nkrul commented on #969
No problem with not updating old versions. I did chuckle that I had v0.68 and its fixed in v0.69.
Thanks for the response

[2021-08-21 03:34] #969 closed

[2021-08-21 05:44] #970 closed

[2021-08-21 05:44] charleskorn commented on #970
I've just fixed this and I'll release a new version shortly. Thanks again for the bug report @mylesmacrae!

[2021-08-22 10:07] charleskorn commented on #116
📢 I've just released [v0.73](https://github.com/batect/batect/releases/tag/0.73.0) which includes shell tab completion support for Bash.

If you have any feedback on this, please feel free to post it here or open a separate issue for bugs.

I'm considering this feature complete now, given that all of Bash, Fish and Zsh are now supported 🎉  (If there's great interest in PowerShell, I'll consider ad

[2021-08-22 10:07] #116 closed

[2021-08-22 10:08] charleskorn commented on #950
Looks like this is sorted now, so I'm going to go ahead and close the issue - if you have any further questions, feel free to reopen this issue or open a new one.

[2021-08-22 10:08] #950 closed

[2021-08-25 02:20] ryanb6920 opened #974 "YAML String interpolation for image property"
### Describe the problem you'd like to solve

Hi, Is it possible to implement string interpolation via config / environment variables for the "image" property? This would be helpful with running different versions of containers in test pipelines.

The below is compatible with docker-compose, so thinking something similar can be implemented?
`image: my-repo/my-image:${IMAGE_TAG:-latest}`

### Descr

[2021-08-27 15:35] sschuberth opened #981 "Migrate remaining Groovy Gradle scripts to Kotlin"
### Describe the problem you'd like to solve

There currently is an inconsistent mix of Groovy and Kotlin Gradle build files.

### Describe the solution you'd like

Migrate all build files to Kotlin script, to align with other scripts and the main application code.

### Describe alternatives you've considered

_No response_

### Additional context

I can help with this if desired.

[2021-08-27 15:41] sschuberth opened #982 "Add examples on how to cache ~/.gradle for Gradle projects"
### Describe the problem you'd like to solve

The docs contains example on [how to cache](https://batect.dev/docs/how-to/performance#cache-volumes) `node_modules` for NPM projects. However, these examples to do straight apply to e.g. Gradle (or Maven) builds which cache dependencies outside of the code working tree, under the user home.

### Describe the solution you'd like

Document more examples

[2021-08-28 02:11] charleskorn commented on #981
If you're interested in submitting PRs for this, I'd be very grateful - this has been on my to-do list for a while but it's never the most important thing to do.

[2021-08-28 02:15] charleskorn commented on #207
You'll need to define a pool of private IP addresses ([this Wikipedia page](https://en.wikipedia.org/wiki/Private_network#Private_IPv4_addresses) has a table showing the reserved private ranges) that doesn't overlap with the address range used by your VPN. Unfortunately I don't use OpenVPN so I can't provide more hints as to how to work out what the address range used by your VPN is, but whoever a

[2021-08-28 06:18] sschuberth commented on #982
Sorry, for overlooking that section somehow, that indeed comes close. However, it seems to be quite outdated. The linked Gradle issue as been closed since Gradle 6.2, and by then there's the possibility to use a [shareable, read-only dependency cache](https://github.com/gradle/gradle/issues/851#issuecomment-581407924) which seems to be a good fit for *Batect* use.

I'll experiment a bit an eventua

[2021-08-28 06:22] charleskorn commented on #982
Any improvements or suggestions would be great. The docs are maintained in a separate repo, for example, that page is: https://github.com/batect/batect.dev/blob/main/docs/using-batect-with/tools/gradle.md

[2021-08-28 17:14] sschuberth opened #984 "Get rid of the hypirion.io dependency"
### Describe the problem you'd like to solve

[hypirion.io](https://github.com/hypirion/com.hypirion.io) seems unmaintained for years and is only hosted on JCenter, which has [set its sails](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/). As only its RevivableInputStream seems to be used, maybe it's easy enough to migrate to an alternative.

### Describe the solu

[2021-08-28 18:08] sschuberth commented on #981
Let's start slowly: https://github.com/batect/batect/pull/985

[2021-08-29 01:06] charleskorn commented on #984
Thanks for the suggestion @sschuberth.

Is this something that already exists in Okio? If not, it might be worth raising with them.

[2021-08-29 10:46] charleskorn commented on #974
Take a look at #990 and let me know your thoughts.

[2021-08-29 11:33] sschuberth commented on #984
No idea. What exactly *is* the functionality of `RevivableInputStream` you're using? I'm aware of the `kill` and `resurrect` calls, but I have to admit I'm not really grasping the use-case.

[2021-08-29 13:26] sschuberth opened #993 "Generated embedded PoweShell script contains duplicate line endings"
### Describe the bug

When embedding the Powershell script into `batect.cmd`, original line endings get dublicated, resulting in alternating blank lines in `batect.cmd`, which seems unnecessary:

https://github.com/batect/batect/blob/f936697c0ff947ea60b85fadf6343d66bdc84457/wrapper/windows/build.gradle#L58-L59

### Reproduction repo

_No response_

### Steps to reproduce

Take a look at e.g. https

[2021-08-30 00:25] charleskorn commented on #993
Yep, this is expected and yep, it should be documented. A `^` without a following blank line would only add a space to the result, rather than a new line character.

[2021-08-30 00:28] #993 closed

[2021-08-30 00:35] charleskorn commented on #984
`RevivableInputStream` is used when we're streaming stdin to a container. If the container stops, we need to stop any pending read from stdin without closing stdin (because then we wouldn't be able to use it in any subsequent tasks). This is where `kill` comes in: it aborts the pending read without closing the stream, allowing us to then `resurrect` the stream and continue reading from it in the f

[2021-08-30 06:51] sschuberth commented on #981
FYI, I'm working on migrating the *wrapper* module script, but ran into [this issue](https://youtrack.jetbrains.com/issue/KTIJ-19341#focus=Comments-27-5151860.0-0) which blocks me for now. I have some hope that https://github.com/batect/batect/pull/976 might do something good about it.

[2021-08-30 07:03] ryanb6920 commented on #974
Looks like a good solution to me :)

[2021-08-30 07:10] charleskorn commented on #981
Awesome, thanks. #976 won't be merged until there's a fix out for [this issue](https://youtrack.jetbrains.com/issue/KT-48295), which [breaks our tests](https://github.com/batect/batect/pull/976/checks?check_run_id=3439105774#step:5:7534).

[2021-08-30 15:47] sschuberth opened #994 "Consider using clikt for command line parsing"
### Describe the problem you'd like to solve

Batect currently seems to implement its own command line parsing. In order to focus on Batect's core functionality, it might make sense to use a (multi-platform) third-party library instead.

### Describe the solution you'd like

I propose to use https://github.com/ajalt/clikt, which I also use at https://github.com/oss-review-toolkit/ort/tree/master/c

[2021-08-31 00:27] charleskorn commented on #994
Thanks for the suggestion @sschuberth. At the time I started writing Batect, frameworks like clikt either didn't exist or were very immature, but it's worth relooking at this to see if it's worth switching to a library.

[2021-09-02 09:31] ineffyble opened #998 "Alternative backends"
### Describe the problem you'd like to solve

With the recent announcement of licensing changes for Docker Desktop I suspect we will see some shifts away from Docker in favour of other container orchestration tools (Docker is perfectly capable of running without Docker Desktop but it does seem to make things trickier on non-Linux hosts).

I think it's worth noting that Kubernetes recently moved aw

[2021-09-03 03:37] charleskorn commented on #998
Great question @ineffyble. I'm going to wait and see if any specific options become particularly popular before committing to adding support for any of them, but this is definitely on my radar.

Podman in particular seems like a likely candidate given its compatibility with Docker's API, as you mentioned. (#895 was raised previously for Podman - Batect _should_ work fine with it now, but I haven't

[2021-09-09 07:00] sschuberth opened #1010 "Allow `--clean` to remove only specific caches"
### Describe the problem you'd like to solve

For debugging / profiling build performance, I'd like to be able to only remove specific caches of a project, not all of them.

### Describe the solution you'd like

`--clean` could take an optional list of names that each refer to the [volume name of the cache](https://batect.dev/docs/reference/config/containers#caches).

### Describe alternatives you

[2021-09-10 00:09] charleskorn commented on #1010
Makes sense to me, thanks for the suggestion @sschuberth.

PRs are always welcome, but otherwise I'll add this to my backlog.

[2021-09-10 06:14] sschuberth opened #1012 "Add a way to "forward" task names to the command"
### Describe the problem you'd like to solve

I'd like to avoid repetitive code as

[code]

### Describe the solution you'd like

It would be nice if the task could be written as some kind of generic template that just "forwards" the task name to the command. Naively, something like

[code]

### Describe alternatives you've considered

Maybe this could be archived with some thing of native YAML co

[2021-09-11 07:46] charleskorn commented on #1012
Hey @sschuberth, thanks for the suggestion.

It's not quite as nice as what you've suggested, but you could achieve something similar by [passing additional arguments to the task from the command line](https://batect.dev/docs/reference/cli/#pass-additional-arguments-to-a-task).

So if your configuration file looked like this:

[code]

You could then run `./batect run-gradle -- build` to run `./gra

[2021-09-11 12:49] sschuberth commented on #1012
That's good enough for me, thanks!

[2021-09-11 12:49] #1012 closed

[2021-09-11 14:50] sschuberth opened #1014 "Git for Windows' Bash is not recognized as an interactive session"
### Describe the bug

Running `./batect` (the shell script) from "Git Bash" (which uses [mintty](https://mintty.github.io/)) that ships with Git for Windows results in the hint:

[code]

However, mintty actually *is* an interactive session.

### Reproduction repo

_No response_

### Steps to reproduce

Run any Batect task on "Git Bash" on Windows.

### Expected behaviour

"Git Bash" / mintty is pr

[2021-09-11 17:40] sschuberth commented on #981
Turns out I can resolve this by aligning the configured Project SDK and Gradle JVM in IntelliJ as [indicated here](https://youtrack.jetbrains.com/issue/KTIJ-1277#focus=Comments-27-4706475.0-0). So I'll continue to work on the migration.

[2021-09-12 07:22] charleskorn commented on #1014
Thanks for the bug report @sschuberth.

To help me diagnose the problem further, could you please run Batect [with logging enabled](https://batect.dev/docs/reference/cli/#--log-file) and share the full log line with the message `Checking if terminal supports interactivity`? I don't need the whole log file, just that line with the attributes such as `stdoutIsTTY`.

[2021-09-12 08:35] sschuberth opened #1016 "Make batect respect JAVA_HOME"
### Describe the problem you'd like to solve

If a JRE is installed but the `java` executable is not in `PATH`, `batect`will quite with

    Java is not installed or not on your PATH. Please install it and try again.

even if the conventional `JAVA_HOME` environment variable points to a JDK / JRE installation.

### Describe the solution you'd like

I'd like the batect scripts for Windows and Linux

[2021-09-12 08:48] sschuberth commented on #1014
Here you go:

[code]

[2021-09-12 11:20] sschuberth opened #1018 "Remove testapp-specific spotless configuration?"
### Describe the problem you'd like to solve

While converting Groovy to Kotlin, I came across

https://github.com/batect/batect/blob/8498dde8af163558dfd83ff4f0d7f6d80f1d1a5a/wrapper/testapp/build.gradle#L39-L50

which seems to duplicate global configuration done elsewhere in the project, like in [spotless.gradle](https://github.com/batect/batect/blob/main/gradle/spotless.gradle) or [KotlinPlugin.

[2021-09-12 19:18] sschuberth opened #1019 "Allow the default value of expression to refer to environment variables"
### Describe the problem you'd like to solve

I'd like to specify a sub-directory of the host user's home directory as the `local` source directory for a volume. As a `~` prefix did not seem to work, I was trying to use an [expression](https://batect.dev/docs/reference/config/expressions#environment-variables) like `local: ${HOME:-$USERPROFILE}/.gradle` (so `$HOME` is tried first, assuming the hos

[2021-09-12 19:30] sschuberth commented on #1019
This seems to be the code that would need to get touched for this:

https://github.com/batect/batect/blob/8498dde8af163558dfd83ff4f0d7f6d80f1d1a5a/app/src/main/kotlin/batect/config/Expression.kt#L255

[2021-09-13 11:10] charleskorn commented on #1019
Thanks for the suggestion @sschuberth. Have you seen #990? I'm planning on replacing the current expression syntax with something that would support this far more naturally.

[2021-09-13 11:11] charleskorn commented on #1019
This is supported in places that accept local file paths (eg. the local side of a volume mount). Are there other places that you'd like to use it?

[2021-09-13 11:18] charleskorn commented on #1018
It's certainly similar to the existing configuration in those places, however this is the only place where we need to configure Spotless to deal with Java. If this is something that can easily be configured for all languages, then I'd certainly be open to a PR for that.

[2021-09-13 11:53] sschuberth commented on #1019
Ah, no, I didn't connect "expression" with "environment variable" in that context. Thanks for pointing this out to me.

Hmm, when I tried it did not seem to work for me on Windows. Is `~`-resolution maybe implemented only on platforms where the shell usually supports it (i.e. on non-Windows)?

Nope, not yet 😉

[2021-09-14 16:46] sschuberth commented on #1018
If this is the only place to deal with Java (i.e. no other Java code requires a different configuration), can't this then simply be moved as `format "Java"` to `spotless.gradle`? And do the same for the Spotless code in `KotlinPlugin.kt`? It seems odd to me to configure Spotless in three different places instead of a single one.

[2021-09-15 08:50] charleskorn commented on #1018
I believe Spotless doesn't support that, but I might be wrong - I'm 95% sure the configuration needs to be applied to each project rather than being able to be applied to the project globally.

[2021-09-15 08:52] charleskorn commented on #1019
It should be happening on all platforms - and if it's not, that's a bug :)

[2021-09-15 08:52] charleskorn commented on #1014
Thanks for the information, I'll take a look when I get a chance.

[2021-09-15 08:52] charleskorn commented on #1016
Makes sense to me, thanks for the suggestion @sschuberth.

[2021-09-15 08:58] sschuberth commented on #1019
Is there a way to see in the log what `local` paths Batect resolves to?

[2021-09-15 09:00] charleskorn commented on #1019
You should be able to see the resolved paths for volume mounts in the creation request sent to the Docker daemon, which is logged [here](https://github.com/batect/batect/blob/bcaa3d64ad054174f8b794b16cb457de772c388a/libs/docker-client/src/main/kotlin/batect/docker/api/ContainersAPI.kt#L64).

[2021-09-15 16:23] sschuberth commented on #1019
Ok, I'm getting

    {"type":"batect.docker.DockerVolumeMountSource.LocalPath","formatted":"C:\\Users\\sebastian\\.gradle","path":"C:\\Users\\sebastian\\.gradle"}

which actually looks good, and using `~` in front of a `local` path on Windows seems to resolve to the user home correctly.

[2021-09-15 17:04] sschuberth commented on #1019
So, since the [table](https://github.com/batect/batect/blob/rfc-2021-01-expressions/rfcs/2021-01-expressions/proposal.md#new-expression-syntax) in the RFC has an entry for "Reference to environment variable with default from other environment variable" (and my immediate use-case would be solved with `~`) I'm closing this in favor of waiting for the new expression syntax.

[2021-09-15 17:04] #1019 closed

[2021-09-16 06:41] sschuberth opened #1028 "Allow to disable telemetry from `batect.yml`"
### Describe the problem you'd like to solve

As Batect can nicely be bootstrapped, it works out of the box even for people new to Batect. However, new users still need to explicitly opt-in/-out from collecting telemetry, which may seem inconvenient.

### Describe the solution you'd like

I'd like to pre-configure the collection of telemetry on a per-project basis via a setting in `batect.yml`. Th

[2021-09-16 09:57] charleskorn commented on #1028
Thanks for the suggestion @sschuberth.

I can see value in having something that disables telemetry for a project even if a user has enabled it, however, I'm not keen to add something that enables telemetry automatically with no user intervention - that seems like something that a user should still have control over. Does that make sense?

[2021-09-16 10:09] #1018 closed

[2021-09-16 10:14] sschuberth commented on #1028
Yes, makes sense. So essentially, the idea would be to only allow to disable telemetry from `batect.yml`, but not to enable it.

[2021-09-16 10:17] sschuberth commented on #1018
Thanks for addressing this!

[2021-09-17 16:56] #930 closed

[2021-09-18 06:22] #1016 closed

[2021-09-18 16:23] sschuberth opened #1032 "Consider replacing the `jnr-posix` dependency with Kotlin's `platform.posix.*`"
### Describe the problem you'd like to solve

In order to get rid of move Java-only dependencies, I was looking at possible alternatives to the `jnr-posix` dependency.

### Describe the solution you'd like

Using Kotlin's own `platform.posix.*` as outlines in [this answer](https://stackoverflow.com/a/67358378/1127485) seems like a solution.

### Describe alternatives you've considered

_No respons

[2021-09-19 10:37] charleskorn commented on #1032
Hi @sschuberth, thanks for the suggestion. `platform.posix.*` is only available on Kotlin/Native, so unfortunately we can't remove the dependency on `jnr-posix` - `jnr-posix` will always be required while Batect targets Kotlin/JVM.

It would definitely make sense to use `platform.posix.*` when we start migrating to Kotlin/Native.

[2021-09-19 10:37] #1032 closed

[2021-10-05 08:59] sschuberth commented on #1012
Sorry, a follow-up question @charleskorn: Is it also possible to pass those extra arguments for tasks (here: "build") as part of [task prerequisites](https://batect.dev/docs/reference/config/tasks#prerequisites)? I tried

    task:
      prerequisites:
        - run-gradle build

and

    task:
      prerequisites:
        - run-gradle -- build

but neither works.

[2021-10-05 10:02] charleskorn opened #1053 "Pass extra arguments to prerequisite tasks"
Is it also possible to pass those extra arguments for tasks (here: "build") as part of [task prerequisites](https://batect.dev/docs/reference/config/tasks#prerequisites)? I tried

    task:
      prerequisites:
        - run-gradle build

and

    task:
      prerequisites:
        - run-gradle -- build

but neither works.

_Originally posted by @sschuberth in https://github.com/batect/batect/issu

[2021-10-05 10:03] charleskorn commented on #1053
@sschuberth could you talk a little more about your use case? I'm interested to understand what you're trying to achieve in case there's another way to provide the same end result in another way.

[2021-10-05 11:16] sschuberth commented on #1053
Sure thing. I've defined a task like

[code]

and now my idea was to define another task like

[code]

That, however, does not work. What I'm currently doing as a work-around is to define yet one more intermediate task like

[code]

and then replace the prerequisite "gradle installDist" with "buildCli".

[2021-10-05 19:48] sschuberth commented on #1028
So, how would you go for implementing this, @charleskorn? In particular, where exactly inside `batect.yml` should this be configured? Should we allow the user to add a special entry to `config_variables` to disable telemetry?

[2021-10-05 21:56] charleskorn commented on #1028
I was thinking it could be a top-level configuration option in `batect.yml`, similar to [`project_name`](https://batect.dev/docs/reference/config/#project_name). Something like `forbid_telemetry` perhaps?

I'm keen to keep config variables for users to do with as they wish.

What do you think?

[2021-10-07 07:43] charleskorn commented on #1053
Makes sense, thanks for explaining @sschuberth.

[2021-10-27 19:59] sschuberth opened #1069 "Getting `/bin/sh: 0: cannot open ./gradlew: Permission denied` when SELinux is in enforcing mode"
### Describe the bug

In our [project](https://github.com/oss-review-toolkit/ort/tree/batect), running `./batect gradle -- tasks` works just fine on an older Ubuntu version, but on Fedora 34 I'm getting

    /bin/sh: 0: cannot open ./gradlew: Permission denied

with exactly the same `batect.yml`. Needless to say that `gradlew` of course *is* committed to Git with executable bits set.

### Reproduc

[2021-10-29 21:03] charleskorn commented on #1069
Unfortunately, I don't have a lot of experience with SELinux (and even less with SELinux and Docker working together), so I might not be the best person to ask. It might be worth asking this question on the Docker Slack or on Stack Overflow.

One thing to confirm is that processes inside and outside containers are getting labelled the same - try running `gradlew` in a container and also outside a

[2021-10-31 09:48] sschuberth commented on #1069
Ok, I got a tiny step further: It's not really about `gradlew`'s permissions, but really about the whole volume mount. On the host, `ls -Z gradlew` gives

    system_u:object_r:container_file_t:s0:c387,c788 gradlew

but in the container I get

    $ ./batect selinux
    Running selinux...
    build: running ls -Z gradlew
    ls: cannot access 'gradlew': Permission denied

(and I get the same when

[2021-10-31 09:52] sschuberth commented on #1069
For now, I'll simply run containers with `privileged: true` to work around this.

[2021-11-02 04:15] charleskorn commented on #1028
Thanks for catching this @sschuberth - I've fixed this issue and it will be included in the next release.

[2021-11-02 04:15] #1028 closed

[2021-11-02 07:57] sschuberth commented on #1028
Awesome @charleskorn, thanks for the follow-up fix and new release!

[2021-11-02 22:04] charleskorn commented on #998
Since the announcement by Docker earlier this year, I haven't heard much noise about people moving away from Docker or Docker Desktop (but this may just be the bubble I exist in).

Of those that I have seen talking about this, Podman seems to be the most frequently cited option. Have you seen much discussion about any other options @ineffyble?

[2021-11-02 23:40] charleskorn commented on #1014
@svishal9 has kindly offered to take a look at fixing this issue. I'm going to copy my investigation notes here for him (and my future self):

* Primary issue is that `ConsoleInfo.stdoutIsTTY` is returning `false`
* This is caused by mintty's stdout not being a terminal recognised by Windows
* The page that @sschuberth linked to above (https://github.com/mintty/mintty/wiki/Tips#terminal-type-detec

[2021-11-05 07:40] #984 closed

[2021-11-06 06:43] #994 closed

[2021-11-10 20:06] sschuberth commented on #981
I'll continue working on this at some point.

[2021-11-10 20:12] charleskorn commented on #981
No worries at all, there's no rush and I appreciate what you've already done!

[2021-11-13 00:30] charleskorn commented on #10
With https://github.com/docker/for-linux/issues/264#issuecomment-965465879, this is now unblocked for Linux 🎉

[2021-11-15 21:45] #1014 closed

[2021-11-18 07:15] sschuberth opened #1089 "Add a `build_tag` option to containers"
### Describe the problem you'd like to solve

I'm like to make use of the image built by Batect with plain Docker.

### Describe the solution you'd like

My proposal is to add a `build_tag` option to the [container configuration](https://batect.dev/docs/reference/config/containers) which, when used with `build_directory`, will tag the image built from `<build_directory>/Dockerfile` with `<build_ta

[2021-11-18 20:37] #982 closed

[2021-11-18 21:49] charleskorn commented on #1089
Hi @sschuberth, thanks for the suggestion. Are you aware that any built images are automatically tagged in the format `<project name>-<container name>`? For example, if you have an image built for the `database` container in a project called `my-project`, the image will be tagged as `my-project-database` automatically.

Furthermore, there's also the [`--tag-image`](https://batect.dev/docs/referenc

[2021-11-19 06:39] sschuberth commented on #1089
No, I wasn't aware of that. Is that documented anywhere? I would have expected it to be mentioned as part of https://batect.dev/docs/reference/config/containers/#build_directory or https://batect.dev/docs/reference/config/containers/#dockerfile.

Yes, thank you, that auto-generated tag is sufficient for my use-case.

[2021-11-21 02:17] #1089 closed

[2021-11-21 02:18] charleskorn commented on #1089
No, good catch - I've just added that.

[2021-12-21 21:38] Mknight492 opened #1131 "Allow the git include configuration to also download git submodules"
### Describe the problem you'd like to solve

I'm trying to setup a multi-repo application to use Batect to orchestrate local development and CI Docker containers.
Currently we use PowerShell scripts and Nuget packages to do this.

We have a core repo which hold all the utilities and in this repo there is currently a PowerShell script which will download all the Nuget Packages and images for the o

[2021-12-22 22:35] charleskorn commented on #1131
Thanks for the suggestion @Mknight492. So you'd like Batect to run something like `git submodule update --init --recursive` after cloning the bundle?

[2022-01-06 17:16] #1069 closed

[2022-01-09 08:30] #998 closed

[2022-01-14 11:57] sschuberth opened #1156 "Batect should use BuildKit if it's enabled globally"
### Describe the bug

I've [enabled BuildKit globally](https://docs.docker.com/develop/develop-images/build_enhancements/#to-enable-buildkit-builds) via `/etc/docker/daemon.json` and as such would expect Batect to make use of it, but I get `Building image failed: the --mount option requires BuildKit`.

### Reproduction repo

https://github.com/oss-review-toolkit/ort/tree/batect

### Steps to repro

[2022-01-14 12:09] sschuberth commented on #1156
I couldn't find a way to ask Docker whether BuildKit is enabled, so my best idea currently is to simply parse `/etc/docker/daemon.json` (if `DOCKER_BUILDKIT` is unset).

[2022-01-14 22:22] charleskorn commented on #1156
Thanks for the report @sschuberth.

The `DOCKER_BUILDKIT` environment variable should already be respected - are you not seeing this behaviour?

The Docker daemon does expose this information (albeit in a slightly unexpected way): performing a `HTTP GET /_ping` should return a `Builder-Version` header indicating the daemon's preferred builder, either the legacy builder or BuildKit.

Batect has (up

[2022-01-15 03:42] binkley opened #1159 "Complaint whilst building Batect project -- wrapper:windows:build ... execution optimizations have been disabled"
### Describe the bug

(Apologies that marked in GitHub labels as "is:bug" -- I'm unsure how to mark this correctly.)

I'm not sure if I should care about this warning during build of Batect's code base.  Yeah, I'm not on Windows, but as a matter of general principles, I'd like to see **No build warnings**.  Note: no diffs with `upstream/main`.

Is there anything I can do to improve this (possibly

[2022-01-15 07:58] sschuberth commented on #1156
I *do* see that behavior, see the edited "Any other information" in my original post.

👍🏻

[2022-01-16 02:31] #1156 closed

[2022-01-16 02:43] charleskorn commented on #1159
Thanks for the report @binkley.

I believe this is an issue with the Shadow plugin: https://github.com/johnrengelman/shadow/issues/713.

Running `./gradlew --warning-mode=all clean build` shows a number of warnings from that plugin's tasks. If you were interested in fixing this, I'd suggest starting there.

[2022-01-16 02:44] charleskorn commented on #1156
I've just made this change and will release a new version shortly - thanks for the report @sschuberth!.

[2022-01-27 22:02] Mknight492 commented on #1131
Hi @charleskorn, sorry about the delaying getting back to you but yes that's exactly what I'm referring to. I had a brief look at the source code and I could raise a PR if there's some interesting in adding the feature?

[2022-01-29 09:36] charleskorn commented on #1131
No worries at all. A PR would be great. Let me know if you have any questions or need any help.

[2022-02-02 04:51] charleskorn commented on #998
If anyone comes across this issue looking for information on how to use Colima with Batect, @jcartledge has put together https://gist.github.com/jcartledge/0ce114e9719a62a4776569e80088511d which shows how to do exactly that.

A similar technique can be used for other alternative Docker backends that don't use the standard `/var/run/docker.sock` location for the Docker API socket.

I'm working on a

[2022-02-19 01:59] binkley commented on #998
I did not have success with the approach from @jcartledge.  I'm casually poking at what works for me.

[2022-02-19 02:21] charleskorn commented on #998
Could you expand on this a little @binkley? What's not working for you? Do you get an error message?

[2022-03-01 06:46] ineffyble opened #1183 "Distinct error code for "failed to run""
### Describe the problem you'd like to solve

When running a batect task fails, there's not a great way to tell why. We would like to be able to distinguish between "batect failed to run the task" and "the task failed" so that we can make our pipeline retry the task if appropriate.

### Describe the solution you'd like

If batect fails to run a task (as opposed to the task running and exiting non-

[2022-03-01 21:48] charleskorn commented on #1183
Thanks for the suggestion @ineffyble. I can definitely change the exit code to something other than 1 for these cases.

However, keep in mind that Batect will pass through the exit code from the task if it does run, so the exit code isn't a 100% reliable way to determine the cause of the failure - there's nothing stopping the task from returning that same exit code for unrelated reasons.

My recom

[2022-03-02 21:33] charleskorn commented on #1183
Just tried this with the latest version of Batect and it exits with code 255 if there's an issue running the task (eg. the image doesn't exist or can't be built) - is this not what you're seeing @ineffyble?

[2022-03-05 11:43] yuzhanglong opened #1189 "feat: support output image in iterm2"
### Describe the problem you'd like to solve

thanks for the awesome project！
And I Have feature request：
some script can output image in iterm:
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/56540811/156881471-03d6b60b-f90e-4390-ba45-b00b8e688bdf.png">

but when run the script by batect in iterm, it will not work:
<img width="1020" alt="image" src="https://user-image

[2022-03-05 22:08] charleskorn commented on #1189
Hi @yuzhanglong, thanks for reporting this issue.

Could you please share a simple sample repository that demonstrates this issue?

[2022-03-06 04:09] yuzhanglong commented on #1189
Thanks for your reply, I have found a solution, It is not batect's problem :
- [ the image output library](https://github.com/sindresorhus/term-img) I used will determine the operating system of the current operating environment, if not MacOS will not output the image. because Item2 is macos software.
- But whether or not you can print an image depends on what the command line says，If I run docker

[2022-03-06 04:09] #1189 closed

[2022-03-24 14:59] #1159 closed

[2022-03-31 18:35] kllp commented on #930
I run a docker compose based setup on localhost that I want to test with batect.
I found
[code]
but I think it doesn't translate to batect.

How can I use localhost inside a test container so it refers to the host?

[2022-03-31 21:23] charleskorn commented on #930
@klip, have you tried using the hostname `host.docker.internal`? That _should_ work.

If not, extra hosts are supported just like you've given there - is that not working for you?

[2022-04-01 07:56] kllp commented on #930
Thank you for your answer!
In batect.yml
[code]
works.
I couldn't get `localhost: host-gateway` to work but that's a docker or linux issue with `/etc/hosts`

[2022-04-02 23:27] charleskorn commented on #1131
Hey @Mknight492, are you still interested in putting together a PR for this?

[2022-04-13 00:24] ineffyble opened #1230 "HTTP Includes"
### Describe the problem you'd like to solve

File includes are mostly only useful to help split up a batect file within a repo/context.

Git includes are useful but can introduce complexity around versioning and auth.

We would like to be able to publish and version our batect bundle alongside the images it relies on, and ideally publish them to the same artifact repository.

### Describe the sol

[2022-05-10 00:16] flo-everett-xero opened #1253 "shared tmpfs volume support"
### Describe the problem you'd like to solve

Hi, I'd like to share a file that is created by a prerequisite task with the final task. the contents of this file have no meaning outside of the context of the overall task, and so there is no reason to persist the contents of this file on disk after the task has finished. this seems like the perfect candidate for a tmpfs volume mount

### Describe th

[2022-05-10 06:31] charleskorn commented on #1253
Hi @flo-everett-xero, thanks for the suggestion.

[Docker's tmpfs mounts](https://docs.docker.com/storage/tmpfs/) don't support sharing between containers - a tmpfs mount can only be used by a single container, and they're then destroyed when the container exits.

However, [Batect's caches](https://batect.dev/docs/concepts/caches/) might do what you're looking for - have you tried using a cache?

[2022-05-12 04:54] isaac-patterson opened #1256 "Included file '' from '' does not exist"
### Describe the bug

Weird local setup issue it seems? The following code works great on all engineers laptops except one! This error is thrown when trying to include a bundle (cloned via ssh)

[code]

[code]

### Reproduction repo

_No response_

### Steps to reproduce

Docker version 20.10.12, build e91ed57

java 18.0.1.1 2022-04-22
Java(TM) SE Runtime Environment (build 18.0.1.1+2-6)
Java HotS

[2022-05-12 07:26] charleskorn commented on #1256
That sounds like a corrupted local version of the bundle... can you try removing the contents of `~/.batect/incl` and try again? (On Windows, I believe this will be something like `C:\Users\<user>\.batect\incl`, but I'm not near a Windows machine right now to check.)

[2022-05-12 21:53] #1256 closed

[2022-05-12 21:53] isaac-patterson commented on #1256
Yes that was it! learnt something new today :) this was because the ssh key wasnt setup properly initially. So it must of created the folder but not populated it. Closing this issue

[2022-05-23 07:45] Bidaya0 opened #1261 "Unable to pull images when using a private docker image registry that requires login."
### Describe the bug

Pulling image '****' failed: pull access denied for ***, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

### Reproduction repo

_No response_

### Steps to reproduce

1. use private docker image registry
2. run batect task.

### Expected behaviour

It works fine when docker is logged in

### Actual behaviour

[code]

[2022-05-23 08:07] charleskorn commented on #1261
Hi @Bidaya0, pulling images from private registries is supported by Batect, so I'm surprised to see this.

If you try to pull the image with `docker pull ...`, does it work?

[2022-05-23 08:20] Bidaya0 commented on #1261
it work with `docker pull `.
it failed when I use
[code]

In fact, my temporary solution now is   `docker pull` first and then use batect to start

[2022-05-23 10:49] charleskorn commented on #1261
Without more information, it's going to be hard for me to understand what's happening.

Are you able to tell me a little bit more about your private image registry? Are you using something like AWS ECR or Artifactory?

Are there entries for your image registry in the `auths` key in `~/.docker/config.json`?

Also, if you run Batect with logging enabled (`./batect --log-file=log.json ...`), are ther

[2022-05-23 10:55] Bidaya0 commented on #1261
Can you tell me which parts of log.json will have sensitive information? I need to deal with it and post it, I see some Exceptions in it.

[2022-05-23 11:01] Bidaya0 commented on #1261
@charleskorn
I'm using alibaba cloud's docker registry, and I don't know the specific differences between their implementations.

[2022-05-24 04:25] Bidaya0 commented on #1261
[Uploading log.json.zip…]()

[2022-05-24 09:24] Bidaya0 commented on #1261
log.json file here.
@charleskorn

[2022-05-24 09:31] charleskorn commented on #1261
OK, in your `~/.docker/config.json` file, you should have something like this:

[code]

If you base64-decode those `auth` values, you should get your credentials for those repositories (try something like `echo -n "xxxx" | base64 --decode` to view them). Do the credentials look right to you?

(Please don't post the encoded or decoded values here 😃)

[2022-05-25 03:39] Bidaya0 commented on #1261
I don't have this file in my system, do I need to create it manually, generally, `docker login` is valid

I don't have this file in my system, do I need to create it manually？strangely, the `docker login` works well

[code]

[2022-05-28 03:37] charleskorn commented on #1261
According to the log file, Batect is using a configuration file from `/root/.docker/config.json` - does that exist?

[2022-05-28 03:38] charleskorn commented on #1261
Are you running some commands with `sudo` and some without by any chance? Docker registry credentials are stored per-user, so any credentials stored for your user won't be used when running commands as `root` with `sudo`.

[2022-06-10 02:06] #1131 closed

[2022-07-16 22:07] #1253 closed

[2022-08-04 00:06] #1261 closed

[2022-08-08 05:09] diachedelic opened #1315 "Java 11: Fatal error"
### Describe the bug

Hi,

I have been using Batect for a few years now, and it has been very reliable and useful. However, I just upgraded to openjdk11 (from JDK 1.8), and I am getting a fatal error when I attempt to run batect:

[code]

I am not sure if this is a bug in Batect, or if Batect does not support openjdk11, or it is a misconfiguration on my end.

My workaround is to run `export JAVA_H

[2022-08-08 05:29] charleskorn commented on #1315
Thanks for the bug report @diachedelic. At first glance, this _seems_ like an issue with the JDK, rather than with Batect.

I've just tried running Batect on my machine with the latest OpenJDK 11 from Homebrew without any issues, and I haven't had any other reports of issues from anyone else. Are you running the latest available version from Homebrew? On my machine, running `java -version` gives:

[2022-08-08 05:56] diachedelic commented on #1315
I get exactly that output. I have quite an old Macbook (2012), perhaps there is an issue with the architecture or something. Thanks for checking!

[2022-08-08 05:56] #1315 closed

[2022-08-08 06:31] charleskorn commented on #1315
That's very odd - are you able to try a more recent version, such as OpenJDK 17?

[2022-08-08 06:57] diachedelic commented on #1315
Bugger, I get the same error using OpenJDK v18.0.2.

[2022-08-08 07:02] diachedelic commented on #1315
OpenJDK 11 works fine with Gradle via Android Studio, so it's working to some degree. It seems there is some incompatibility with my dylibs, which does not surprise me (my system being somewhat decrepit). I am more than happy to run batect with JDK 1.8 for the foreseeable future.

[2022-08-25 04:00] charleskorn commented on #998
And this is now available in [v0.80.0](https://github.com/batect/batect/releases/tag/0.80.0) 🎉 Setting `DOCKER_HOST` should no longer be required to use Batect with Colima. Please give the new version a go and let me know if you run into any issues.

[2022-08-28 04:55] chadlwilson commented on #998
Thanks @charleskorn - this is much more convenient now and seems to be working great :-)

[2022-08-28 09:31] sschuberth opened #1330 "Disable progress output when downloading / bootstrapping Batect"
### Describe the problem you'd like to solve

I'd like to get rid of broken progress indicators when bootstrapping Batect in CI builds.

### Describe the solution you'd like

An option to the Batect script to disable progress output when downloading / bootstrapping the Batect distribution.

### Describe alternatives you've considered

One could do a "dummy run" of Batect to bootstrap itself and pi

[2022-08-28 09:38] sschuberth opened #1331 "Improve Batect's output when caching is used"
### Describe the problem you'd like to solve

I'd like to better be able to debug performance issues with Batect runs, e.g. by better understanding when Batect is able to make use of cached Docker (base) images and / or layers.

For example, even if the base image has already been fully pulled, Batect outputs

[code]

which makes it look from the console as is the whole images has been repulled (w

[2022-08-28 09:47] sschuberth commented on #1331
In essence, I'd like to better understand how much time of a Batect run is spent with (implicit) (re-)building of the Docker image vs. running tasks *in* the Docker image. Something like

[code]

[2022-08-28 10:03] sschuberth commented on #981
@charleskorn, looks like the current code base contains no more Groovy-related code, so I guess this is done and can be closed?

[2022-08-28 11:02] sschuberth commented on #981
Ah, no, there's still these:

- app/gradle/journeyTest.gradle
- app/gradle/shadow.gradle
- app/gradle/versionInfo.gradle
- gradle/utilities.gradle
- gradle/versioning.gradle

[2022-08-28 23:58] charleskorn commented on #1330
Thanks for the suggestion @sschuberth. Have you tried setting the `BATECT_QUIET_DOWNLOAD` environment variable to `true`? This should silence the progress output during downloads.

[2022-08-28 23:59] charleskorn commented on #981
That would be great, thanks for your help @sschuberth!

[2022-08-29 00:07] charleskorn commented on #1331
Thanks for the feedback @sschuberth.

This is an interesting idea, and shouldn't be too difficult to support.

This is a little trickier to provide in a way that is meaningful: because Batect starts running containers as soon as their image and dependent containers are ready, the total task time isn't a straightforward sum of the time taken to build all images plus the time taken to run the task c

[2022-08-29 04:38] sschuberth commented on #1331
As long as it can easily be used / works nicely with CI builds, something like that would certainly be helpful.

Interesting. Maybe one could create some Markdown from that JSON, and use it as a [GitHub Action job summary](https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/).

[2022-08-29 04:47] sschuberth commented on #1330
Now I [have](https://github.com/oss-review-toolkit/ort/pull/5705) 😀 I was only looking for CLI options to do that so far; thanks for pointing out the environment variable!

[2022-08-29 04:47] #1330 closed

[2022-08-30 06:18] sschuberth opened #1334 "Migrate from Spek / Hamkrest to Kotest / MockK?"
### Describe the problem you'd like to solve

I'd like to get consistency into the test framework(s) being used.

### Describe the solution you'd like

Settle on either Spek / Hamkrest or Kotest / MockK, but esp. do not use Spek and Kotest in the same tests.

### Describe alternatives you've considered

_No response_

### Additional context

While working on https://github.com/batect/batect/pull/1

[2022-08-30 23:50] charleskorn commented on #1334
Thanks for the suggestion @sschuberth. This is something I've been wanting to do for a while, but haven't had the time to.

I'd prefer to migrate to Kotest as it is more actively maintained and supports Kotlin/Native.

I'm not sure I'd link Kotest and MockK though - I don't see anything stopping us from using Hamkrest and Kotest together.

In terms of migration steps, I was thinking this could be

[2022-08-31 01:59] Tobytee17 opened #1335 "Batect v0.80.0 unable to connect to Docker Daemon when run on GitLab runner (Kubernetes executor, Alpine image)."
### Describe the bug

When running any Batect task as part of our GitLab-CI build pipeline after upgrading to Batect v0.80.0, we run into the following issue:

[code]

When reverting back to earlier versions of Batect (for example v0.78.0) this issue goes away:

[code]

Our GitLab runners use the Kubernetes executor to schedule/run builds, coupled with the Docker in Docker service (docker:20.10.8-

[2022-08-31 04:48] charleskorn commented on #1335
Thanks for the detailed bug report @Tobytee17.

As you hinted at, this looks like an Alpine-specific issue, I can reproduce it without GitLab with the following command:

[code]

I think I know what the issue might be, but I'll have to investigate a little further to confirm.

[2022-08-31 06:11] sschuberth commented on #1334
Just to clarify, more actively maintained than Spek, that is, right?

Kotest comes with its own matchers, so I don't see a reason to use Hamkrest. MockK, on the other hand, complements Kotest with mocking for unit tests.

Makes sense to me, though I believe the order could also be swapped.

Comby looks interesting, thanks for pointing it out. On the topic of "mass refactoring" I was looking at htt

[2022-08-31 07:04] charleskorn commented on #1334
Yep, that's what I meant.

Sorry, I meant to say "I'm not sure I'd link Kotest and MockK though - I don't see anything stopping us from using **Mockito** and Kotest together."

[2022-08-31 07:10] sschuberth commented on #1334
Ah, right. There's indeed no technical blocker to use / continue using Mockito. It's just that MockK is written in Kotlin (🎉) and thus there's a [chance for Kotlin/Native support](https://github.com/mockk/mockk/issues/58).

[2022-09-01 01:30] charleskorn commented on #1335
Turns out this isn't what I thought it was. It's [a bug in Golang](https://github.com/golang/go/issues/13492#issuecomment-1002224721), which was first reported late last year...

For now, I'd recommend sticking with Batect 0.79 or using a non-Alpine base image on GitLab.

[2022-09-01 01:46] Tobytee17 commented on #1335
Ahh okay sweet as, thank you for the update and speedy investigation!

[2022-09-02 15:39] or1can opened #1340 "Batect 0.80+ unable to run when `/tmp` mounted `noexec`"
### Describe the bug

I've just upgraded a build to batect 0.80.1 and am observing failures to run any tasks. I've logged onto a build agent and tried to get batect version information, but getting a fatal exception instead (`java.lang.UnsatisfiedLinkError`).

### Reproduction repo

_No response_

### Steps to reproduce

`./batect --version`

### Expected behaviour

Batect version information is o

[2022-09-02 22:27] charleskorn commented on #1340
Thanks for the big report @or1can.

Is `/tmp` mounted `noexec` on your system by any chance?

[2022-09-05 00:14] #981 closed

[2022-09-05 13:14] or1can commented on #1340
Good guess 😄, yes, it is:
[code]

[2022-09-06 00:45] charleskorn commented on #1340
OK, that should be easy enough to add a workaround for - I'll try to get a fix out in the next few days.

[2022-09-06 05:11] charleskorn commented on #1340
This should be fixed in v0.81.1 - please give that a go and let me know if you're still running into this issue.

[2022-09-06 05:11] #1340 closed

[2022-09-06 06:21] MichaelKnightXero opened #1344 "Linux containers sometimes fail to start on Windows when using Docker 4.12+"
### Describe the bug

While trying to use the dependencies for a task batect isn't waiting for the dependencies to pass health checks.

![batect_error](https://user-images.githubusercontent.com/112362709/188560503-e5f33bce-3cb9-455b-9b57-c92f8106eaa3.gif)

### Reproduction repo

given the following batect.yml

[code]

### Steps to reproduce

run the following command ` ./batect --log-file  batect_

[2022-09-06 06:41] MichaelKnightXero commented on #1344
I'm see this in the logs for what it's worth:

{"@timestamp":"2022-09-06T06:20:07.268Z","@message":"Running container failed.","@severity":"error","@source":"batect.execution.model.steps.runners.RunContainerStepRunner","@processId":20076,"@threadId":24,"@threadName":"pool-1-thread-6","exception":"batect.dockerclient.AttachToContainerFailedException: The pipe is being closed.\r\n\tat batect.dockerc

[2022-09-06 07:02] charleskorn commented on #1344
Thanks for the bug report @MichaelKnightXero.

Are there any other errors in the logs? (If you'd rather not trawl through them yourself, feel free to either attach them here or send them to me privately at me@charleskorn.com.)

[2022-09-06 07:23] MichaelKnightXero commented on #1344
I'll send them through, I can't see any other errors or exceptions in the logs though

[2022-09-07 05:04] charleskorn commented on #1344
Thanks for sharing the logs. I can't see any clues in there, and I'm not able to reproduce this issue myself either unfortunately.

Is there any other information that might help me reproduce the issue?

For example, does this happen consistently for you? Or does it only happen sometimes?

Also, what shell and terminal are you using? (eg. PowerShell in the Windows Terminal app, or Git Bash in the

[2022-09-07 07:53] MichaelKnightXero commented on #1344
Yeah I'm not surprised it's hard to repo.

The error only happens intermittently but very frequently.

 I'm using the following powershell:

 Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      19041  1682

However I also get the same error when running when running it from Git Bash.

It all seem to occur less frequently when I run it with the --output=all flag

and if I run

[2022-09-07 10:47] charleskorn commented on #1344
The `Invoking native method GetOverlappedResult failed with error ERROR_BROKEN_PIPE (The pipe has been ended).` error was an issue in the pre-v0.80 Docker client that Batect used, so I _think_ that's unrelated.

I'll keep digging and see if I can come up with any other theories as to why this might be happening, and let you know if I need any more information. Thanks for your patience!

[2022-09-08 05:41] MichaelKnightXero commented on #1344
My current theory (for what it's worth) is that it's failing to connect to the docker containers and it's throwing an unhandled error and causes the process to end instead of waiting for the container to be ready. But I don't really know how to debug or investigate it given I'm not very familiar with the toolchain.

[2022-09-08 06:34] charleskorn commented on #1344
Yep, that's exactly what's happening - the issue isn't starting the container, but attaching to it to stream input and output to/from it. Once attaching fails, Batect bails out rather than trying to continue.

I don't think so - at least I don't have any ideas until we can nail down what's causing this. I've had the task running on a loop all day on my Windows laptop and it's worked flawlessly eve

[2022-09-08 19:39] MichaelKnightXero commented on #1344
It does actually happen with just a single container running:

![image](https://user-images.githubusercontent.com/112362709/189211022-2af470d0-6241-4a18-a6f1-570e6ffa220f.png)

Would it be helpful if I setup the batect toolchain and run it locally in debug mode? How difficult might that be to do?

[2022-09-09 00:54] charleskorn commented on #1344
Interesting... are you able to run the task with logging enabled and share the logs with me?

Thanks for offering. Debugging Batect as a whole might not be so useful, as I suspect it's not Batect itself but an interaction between the Docker API client Batect uses and Docker.

If you're keen and have the time, try cloning [docker-client](https://github.com/batect/docker-client) and run `./gradlew j

[2022-09-11 20:57] MichaelKnightXero commented on #1344
Ahh I didn't realise you also maintained the docker-client tool. I've run `./gradlew jvmTest` a few times and there are a  number of tests are failing intermittently and they're largely due to issues connecting to the containers, as you'd expect.

I've sent you through the logs and one with the --debug flag test to true. I don' think they get us further though. Would it be useful debugging one of

[2022-09-13 03:05] charleskorn commented on #1344
Thanks for sharing the logs @MichaelKnightXero. I'm a bit snowed under with other things at the moment but I will look at this properly when I get a chance in the next few days.

[2022-09-14 02:50] charleskorn commented on #1344
It _seems_ like there's an issue with your Docker daemon - a couple of the tests fail in ways that should never happen with a well-behaving daemon (eg. `unable to upgrade to tcp, received 500` and `Error response from daemon: i/o timeout`).

Do you have the same issues if you use the `docker` CLI? For example, does running `docker run --rm -it redis:6-alpine` consistently work?

Also, if you can,

[2022-09-15 22:38] yoyo-ohno opened #1350 "batect.cmd broken on windows with powershell core installed"
### Describe the bug

Seems to be the same issue from #627

Reinstating @thirkcircus' original fix from #629 fixes the issue for me.

### Reproduction repo

_No response_

### Steps to reproduce

In powershell core
![image](https://user-images.githubusercontent.com/66757187/190520729-7c7b92ef-eb27-44fe-9eab-50f32e34ba0c.png)

Run `./batect -T`

### Expected behaviour

Available tasks are listed

#

[2022-09-15 23:41] charleskorn commented on #1350
Thanks for the bug report @yoyo-ohno.

Just so I'm clear, would you be able to share a diff with the changes you've made to `batect.cmd`?

[2022-09-19 00:38] charleskorn commented on #1350
Sorry, one last question: has this always been broken for you? Or has it only been broken as of a particular Batect version?

[2022-09-19 01:42] yoyo-ohno commented on #1350
To be honest I'm not 100% sure - have switched back and forward between bash, windows powershell & pscore since first using batect so I'm quite hazy on when what worked where

[2022-09-19 03:22] charleskorn commented on #1350
Hmmm... I'm not able to reproduce this issue. I've tried running Batect from both a vanilla PowerShell (`powershell`) and PowerShell Core (`pwsh`) prompt and it works fine in both cases without the change you've suggested.

I'm running the same version of PowerShell Core and Windows as you - are there any other details that might be relevant?

Also, is `$PSModulePath` set on your machine? (It's em

[2022-09-19 20:23] yoyo-ohno commented on #1350
Oh. I had `$PSModulePath = C:\Program Files\PowerShell\7\Modules` set in user variables and removing it fixes the issue 🙌

[2022-09-20 03:29] charleskorn commented on #1350
Awesome 🎉 Are you happy for me to close this issue?

[2022-09-20 03:34] MichaelKnightXero commented on #1344
Hey sorry @charleskorn for taking so long to get back to you. I'll be looking into this more next week and update you with the docker-daemon logs etc. I'm guessing it's likely that I may need to raise an issue there instead though presumably?

[2022-09-20 03:39] charleskorn commented on #1344
No worries @MichaelKnightXero. Let's see what the daemon logs say - it may just be that it's in a bad state and needs to be reinstalled, or there might be something else going on.

[2022-09-23 04:07] yoyo-ohno commented on #1350
Yep! Thanks for all your help 🙏

[2022-09-23 04:09] #1350 closed

[2022-09-27 09:02] sschuberth commented on #994
Should this "relooking" be performed by you @charleskorn, or can the community just come up with a PR that implements a switch?

[2022-09-27 09:05] sschuberth commented on #994
BTW, I also find the [Why not X?](https://ajalt.github.io/clikt/whyclikt/) sections in *clikt*'s docs to be a good read.

[2022-09-28 07:03] charleskorn commented on #994
I'm open to suggestions or PRs from anyone, but at the moment, this isn't a high priority for me - what's currently there is working well and there are more pressing things to look at first.

[2022-09-30 04:14] DanielLoth commented on #1344
Hi @charleskorn,

I'm another Xero employee. I don't work with Michael, but encountered this problem today independently.

After doing most of the things described above prior to seeing this thread. After seeing this thread and discovering the ability to write to a log file I was later able to run batect with the logging flag, and only had an error similar to the one shared above.

Ultimately I un

[2022-09-30 07:17] charleskorn commented on #1344
Interesting, thanks for reporting back @DanielLoth. Do you have the same problems with the `docker` CLI on Docker 4.12? Or is it only with Batect?

[2022-10-03 23:48] DanielLoth commented on #1344
Hi @charleskorn,

It appeared to just be Batect as I was able to run the following commands via Docker CLI without any issue:
[code]

[2022-10-03 23:49] DanielLoth commented on #1344
Also, just as an aside, thank you for the very cool tool. This particular issue notwithstanding, Batect has never skipped a beat.

[2022-10-04 06:13] charleskorn commented on #1344
@DanielLoth

Weird. Next time this fails with Batect, could you take a look at the Docker daemon's logs (see https://github.com/batect/batect/issues/1344#issuecomment-1246165236) to see if there are any clues in there?

[2022-10-10 19:41] MichaelKnightXero commented on #1344
Hey @charleskorn, sorry it's been such a long time since I've given an update.

Essentially there are a few people at Xero who have had the same issue with the latest version of Docker (4.12) which was fixed by downgrading.

I tried to get logging working with the docker daemon but it wasn't that easy to get going. I'm currently not blocked and I don't really have time to investigate it future at

[2022-10-11 03:39] thiagoolsilva commented on #1089
@charleskorn is it possible to delete untagged image after the batect build it and avoid left untagged images on host computer?

[2022-10-11 06:25] charleskorn commented on #1344
No worries @MichaelKnightXero, thanks for getting back to me. Let's leave this open until we solve it once and for all.

[2022-10-11 06:26] charleskorn commented on #1089
@thiagoolsilva, I'll answer this over in #1368.

[2022-10-12 04:38] MarwanAwroojXero commented on #1344
Hi There, I also Work in Xero and encountered same issue, we are using latest docker but were on batect 0.79.1 and this issue surfaced when we upgraded to 0.8.1 from 0.79.1
I get the same error The pipe is being closed, I have compared docker logs between a run on 0.79 and 0.8.1 see below (0.79 on the left doesn't through an error message when upgrading to raw stream
![image](https://user-images.g

[2022-10-14 22:23] charleskorn commented on #1344
Thanks for sending through the logs @MarwanAwroojXero. What is the name of the process that is emitting those log lines (something ending with `.exe`)? It's cut off in your screenshot.

[2022-10-16 20:47] MarwanAwroojXero commented on #1344
its com.docker.proxy.exe
![image](https://user-images.githubusercontent.com/115607342/196057483-2ef9a1ff-d815-46d1-b42a-5088de929812.png)

[2022-10-17 07:30] charleskorn commented on #1344
As far as I'm aware, the source code for that process is not open source, so I can't look into what might have changed with Docker for Windows 4.12. Would you be open to raising an issue with Docker directly, explaining what you're seeing? Feel free to tag me in the issue and I'll help out however I can.

[2022-11-02 14:27] Malinskiy opened #1385 "Provide support for Docker outside of Docker while using run_as_current_user"
### Describe the problem you'd like to solve

Executing complex integration tests requires the test itself to declare its dependencies and spin them up e.g. using https://www.testcontainers.org/

### Describe the solution you'd like

An option to add more host user groups to the container should be enough as well

### Describe alternatives you've considered

Boolean flag along the lines of `DooD`,

[2022-11-03 09:21] charleskorn commented on #1385
Hi @Malinskiy, thanks for the suggestion.

Batect encourages a slightly different approach to integration tests with external dependencies. Rather than having your tests orchestrate dependencies with something like testcontainers, the recommended approach is to use Batect itself to orchestrate them.

The [Java](https://github.com/batect/batect-sample-java) and [Ruby](https://github.com/batect/bate

[2022-11-03 09:40] Malinskiy commented on #1385
No, unfortunately, this doesn't suit the use case because of the side effects external dependencies have. The test itself has to allocate its dependency for multiple reasons, I'll try to provide a couple of examples.
1. Let's say you have a codebase that depends on some form of SQL storage. After the container is spun up each test prepares the initial state of the storage, i.e. schema and basic en

[2022-11-06 02:12] charleskorn commented on #1385
Right, makes sense.

Just to clarify, is this only an issue on Linux hosts? Or does it affect macOS hosts as well?

Would something like being able to configure a list of additional group names to propagate into the container for your user work for your use case? I'm imagining something like having `additional_groups` as a list under `run_as_current_user`, and then you could specify `docker`, for

[2022-11-07 09:49] charleskorn commented on #1385
Perfect, that's exactly what I'm thinking (a list of group names, not a list of group IDs).

I will be travelling for the next week and a bit, so I'm not likely to have time to do this myself in the next little while unfortunately. I'm happy to have a look when I get a chance, or I'm also happy to provide some pointers and feedback on a PR if you're keen to have a go at this yourself.

[2022-11-10 23:55] lbv opened #1392 "Some key events (e.g. arrows) ignored in shell inside a container, starting with batect 0.80.0"
### Describe the bug

Hi! I've used Batect from time to time to tinker with development environments in Windows, and after a while without meddling with it (because where I've used it, it just works™), I installed a recent version of batect to prepare a new workspace, but noticed something strange.

If I prepare a task that simply starts a shell inside a container, I can certainly start the shell

[2022-11-11 06:04] #1331 closed

[2022-11-11 06:04] #1334 closed

[2022-11-12 00:11] charleskorn commented on #1392
Thanks for the bug report @lbv.

If you run `docker run -it ubuntu:22.04 bash` from a terminal, do you see the same behaviour?

[2022-11-12 04:11] lbv commented on #1392
No. Meaning, when I run `docker run ...` directly, it works as expected regarding the arrow keys and others like Home, End, etc.

[2022-11-13 17:46] charleskorn commented on #1392
That definitely sounds like a bug in Batect then.

I'm currently travelling, but I will take a look at this when I return home in a few weeks.

[2022-11-26 22:19] charleskorn commented on #1385
Just been thinking about this a little more @Malinskiy. If one of the groups listed under `additional_groups` doesn't exist on the host, what should the behaviour be? Batect could either ignore the group, add the group with a random group ID, or show an error and not start the container.

I can see pros and cons to each approach depending on the scenario - what do you think?

[2022-11-27 01:15] #1392 closed

[2022-11-27 03:09] charleskorn commented on #1392
This should be fixed in [0.83.0](https://github.com/batect/batect/releases/tag/0.83.0).

[2022-11-28 00:31] Malinskiy commented on #1385
My personal view on this is the code should fail fast, so if the group specified is missing - fail the build as soon as possible. otherwise, you risk having undefined behaviour.
The purpose of this parameter will always be granting permissions to some group, if it's generated at random then I'm not sure how it can grant those.