[2017-11-03 05:38] assafw opened #1 "UnsupportedOperationException when running on Java 9"
when trying to run `batect -v`
the output is:
`java.lang.UnsupportedOperationException: Retrieving groups by name is not supported on this platform.`

[2017-11-03 05:39] charleskorn commented on #1
Thanks for the bug report Assaf! I don't have much time to look at this this weekend, but I'll take a look next week.

Could you please send me the exact version of Java you're using (eg. run `java -version`)?

[2017-11-05 23:20] assafw commented on #1
No worries Charles, happy to help :)

output from 1.9 'java -version' command:

java version "9.0.1"
Java(TM) SE Runtime Environment (build 9.0.1+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.1+11, mixed mode)

Cheers,

  -- Assaf

On Fri, Nov 3, 2017 at 4:39 PM, Charles Korn <notifications@github.com>
wrote:

[2017-11-09 03:32] charleskorn commented on #1
This looks like an issue in Kotlin's stdlib when running on Java 9: https://youtrack.jetbrains.com/issue/KT-20865

The Kotlin team is aware of the issue and working on a fix, so it seems that there's not much value in me spending time on adding a temporary workaround. For the time being, please use Java 8.

I'll add a note to the release notes so people are aware of this problem and leave this iss

[2017-11-27 09:34] charleskorn commented on #1
I've added a workaround for this, and it'll be included in the upcoming 0.7 release.

Thanks again for reporting this issue!

[2017-11-27 09:34] #1 closed

[2018-03-11 11:26] Byron-TW opened #2 "[Q&A] Kubernetes as backend?"
What would it take to take (parts) of Batect to use kubernetes as runtime?

That could be useful if people wanted to escape their constrained workstation resources and run in the cloud.

Something relevant or inspiring might be [argo](https://github.com/argoproj/argo).

[2018-03-14 10:10] charleskorn commented on #2
Hey @Byron-TW, thanks for the question.

(@Byron-TW contacted me offline about this, I'm sharing my original response from that conversation below.)

In theory, it shouldn’t be too hard to plug another runner into batect so that things are launched on Kubernetes instead of directly on Docker.

Practically, it’s a bit different :) These are some of the issues I foresee:
* there isn’t a clean separa

[2018-04-18 04:55] pameck opened #3 "Improve error message when defining a container with an unknown field"
When defining a container with an unknown property (`non-existant`), I get a confusing error message:

[code]

Here is my `batect.yaml`:

[code]

[2018-04-18 05:28] pameck opened #4 "Improve the error message when defining empty containers/tasks"
When defining a container with an empty property (`nodejs`), I get the following error message :

[code]

Here is my `batect.yaml`:

[code]

It also happens for empty tasks (`start`):

[code]

[2018-04-18 05:54] pameck opened #5 "Improve the error message when the format of a property is incorrect"
When defining a property with the incorrect format, I get the following error message:

[code]

I'm modified the property `ports.local` in the `batect.yaml` file for the [batect-sample-java project](https://github.com/charleskorn/batect-sample-java/blob/master/batect.yml)

[code]

[2018-04-18 07:31] charleskorn commented on #4
Thanks for the bug report Pam!

The error is 'correct' in that the config file isn't valid (I'm not sure it would even count as valid YAML), but you're right that error message is not helpful at all... it doesn't even give you a message or line number to point you in the right direction.

I know you're looking at improving some of the other error messages at the moment, are you going to look at th

[2018-04-18 11:33] pameck commented on #4
Leave this one to me please! Focus on the hard stuff while I get a better understanding of how all this stuff works! :)

[2018-06-01 11:38] Letitia-May opened #7 "Improve error message for Java versions less than 8"
When Java version was 1.7 I got the following error:

![screen shot 2018-05-28 at 6 10 44 pm](https://user-images.githubusercontent.com/9855395/40838990-e801f48e-65e3-11e8-8e01-9caa27467f1c.png)

[2018-06-01 11:49] charleskorn commented on #7
Thanks for the bug report @Letitia-May!

This is definitely something that needs to be fixed... while it is mentioned in a number of places that Java 8+ is required, that error message could be much, much clearer and tell you exactly what's wrong.

[2018-06-01 11:52] Letitia-May commented on #7
Thanks Charles! I didn't even realise I still had 1.7 installed and set as the default - so a clearer error message would have definitely helped in realising this was the issue sooner :)

[2018-06-01 11:54] charleskorn commented on #2
While this is something I'd be interested in exploring in the future, I have no immediate plans to act on this, so I'm going to close this issue.

If anyone has any thoughts on this topic, please feel free to continue the discussion here.

[2018-06-01 11:54] #2 closed

[2018-06-01 11:56] charleskorn commented on #7
(also, GitHub tells me this is your first ever issue on GitHub... congratulations :tada: )

[2018-06-01 11:57] Letitia-May commented on #7
It is, thanks! 😄

[2018-06-01 12:42] #7 closed

[2018-06-01 12:43] charleskorn commented on #7
This has been fixed with 27d53b6 and will be part of the next release.

Thanks again @Letitia-May!

[2018-06-09 00:37] andeemarks opened #8 "First time user install confusion"
The instructions 'Download the latest version of batect from the releases page, and copy it into your project.' are correct, but the [releases page](https://github.com/charleskorn/batect/releases) contains 4 artefacts where it seems only the script is needed to download.  Strictly speaking, this is exactly what the above instruction is telling people, but I considered downloading the JAR as well,

[2018-06-11 07:50] charleskorn commented on #8
Hey @andeemarks, thanks for the feedback.

I'm a little unclear which page you're referring to - which page has the instructions you're referring to on them?

[2018-06-13 11:09] #8 closed

[2018-06-13 11:10] charleskorn commented on #8
I've added some clarification in a225dba, and the docs site will be updated when the next release goes out.

Thanks again for the feedback!

[2018-06-25 23:47] minnn-minnn opened #9 "Batect doesn't work with Java 10"
Returns error:

./batect: line 62: ((: 0 2018-04-17: syntax error in expression (error token is "2018-04-17")

Output of java -version:

java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)

[2018-06-27 09:29] charleskorn commented on #9
Thanks for the bug report @minnn-minnn, I'll take a look.

[2018-06-27 11:15] #9 closed

[2018-06-27 11:18] charleskorn commented on #9
This has been fixed with 23e6d63 and will be part of the next release.

Thanks again @minnn-minnn!

(also, GitHub tells me this is your first ever issue on GitHub... congratulations 🎉)

[2018-06-27 11:20] charleskorn commented on #5
Hey @pameck, are you still interested in fixing this (and #3 and #4)? Otherwise I'll take a look at them.

[2018-06-28 09:21] pameck opened #10 "Add support for authentication proxy"
Hi,
I am using [cntlm](http://cntlm.sourceforge.net/) to go through a proxy.
The environment variables that I have set in my host are something like this:
[code]

I have to set the variables in `batect.yml` to something like this:
[code]
Otherwise batect.yml picks up the ones set in the environment which wouldn't work within the container.

[2018-06-28 09:53] pameck commented on #5
Just started looking at #4 ... If I don't make a PR tonight, feel free to work on it.

[2018-06-28 10:02] charleskorn commented on #5
No worries, there's no rush, just wanted to check.

[2018-06-28 10:10] charleskorn commented on #10
Thanks for the feedback @pameck, this seems like something that batect should take care of for you.

On Mac it looks pretty straightforward: if the proxy refers to `localhost` or `127.0.0.1`, use `host.docker.internal` on Docker 18.03+ or the now-deprecated `docker.for.mac.localhost` on Docker 17.06+.

On Linux, it's not quite that simple. https://github.com/docker/for-linux/issues/264 talks about

[2018-07-01 10:01] #4 closed

[2018-07-06 10:37] charleskorn commented on #10
Support for this on OS X has been added and will be included in 0.16.

Supporting this on Linux is way more involved, so I'm not going to add it right now.

[2018-09-04 09:09] ekamara opened #12 "Improve message produced after running upgrade"
After running the upgrade task, you get notified that batect has been upgraded which could be read to imply that both the wrapper script and the jar file have been upgraded whereas only the wrapper script has been upgraded to the latest version.

The upgrade message should state explicitly that only the wrapper is being upgraded and that the jar file will be upgraded when you next run batect

[2018-09-05 10:06] ekamara opened #13 "Error message when using invalid YAML config file"
When I incorrectly indent one line in the batect.yml, I get the following error:

[code]

[2018-09-05 10:12] ekamara opened #14 "Error message when container entry is duplicated"
When you create a second container entry in batect.yml, you get the an error similar to the following
[code]

[2018-09-05 10:13] ekamara opened #15 "Error message when dependency is duplicated"
When you create a dependency more than once in batect.yml, you get an error message similar to the following
[code]

[2018-09-06 11:10] charleskorn commented on #13
Yep, that error message could be much better. Thanks for the feedback @ekamara!

[2018-09-06 11:10] charleskorn commented on #14
Yep, that error message could be much better. Thanks for the feedback @ekamara!

[2018-09-06 11:10] charleskorn commented on #15
Yep, that error message could be much better. Thanks for the feedback @ekamara!

[2018-09-06 11:11] charleskorn commented on #12
Thanks for the feedback @ekamara. That message could definitely be a bit clearer.

[2018-09-21 23:29] charleskorn opened #17 "Error message given when indentation in configuration file is incorrect is difficult to understand"
If you have a configuration file with incorrect indentation, such as:

[code]

then you get an error message like this:

[code]

...which is not very clear at all. It would be better if it led the user to what the real issue is.

[2018-09-25 23:42] charleskorn opened #18 "Published ports do not work if port is not exposed in Dockerfile"
If a container or task publishes a port to the local machine, but this port does not have a corresponding EXPOSE instruction in the image's Dockerfile, the port is not published and is not accessible on the host machine.

This works correctly in v0.17, but not v0.18.

[2018-09-28 01:14] #18 closed

[2018-09-28 07:30] #15 closed

[2018-09-28 07:44] #3 closed

[2018-09-30 04:27] #12 closed

[2018-09-30 04:28] charleskorn commented on #12
I've improved some of the messages, but I don't want to explicitly mention the JAR file as at some point in the (hopefully near) future, we won't be using JAR files anymore.

Thanks again for the feedback @ekamara!

[2018-09-30 07:40] #14 closed

[2018-11-07 02:20] Sami5 opened #19 "Received error message when trying to run a particular batect task after upgrading"
I'm getting the following error when trying to run a particular batect task:

[code]
The above unit test ran but I got an error at the end

I'm finding that tasks which do not include a ``prerequisite`` property will work fine but ones that do, will not. For example this works:

[code]

But this does not:

[code]

[2018-11-07 07:46] #19 closed

[2018-11-07 07:48] charleskorn commented on #19
Thanks for the bug report @Sami5 - I've fixed this issue and there should be a new release out shortly.

[2018-11-07 07:48] charleskorn commented on #19
(also, GitHub tells me this is your first ever issue on GitHub... congratulations 🎉)

[2018-11-07 08:05] Sami5 commented on #19
Haha yes it is! Thanks! :) 👍

[2018-11-07 23:52] Sami5 opened #20 "NoSuchElementException: Element Error is missing"
I'm receiving the following error when running a task in GoCD:

<img width="1113" alt="screen shot 2018-11-08 at 10 51 07 am" src="https://user-images.githubusercontent.com/16506862/48168668-53eb2200-e344-11e8-814e-06237987ebd6.png">

[2018-11-08 05:11] charleskorn commented on #20
Are you able to run the task with logging enabled (`--log-file=<some file>`) and send it to me at me@charleskorn.com?

Please double-check that the log file does not contain any sensitive information before sending it to me (it will contain things like paths to your configuration file, all of your environment variables and some version information).

[2018-11-08 06:02] Sami5 commented on #20
Hmm are you saying to run that locally or on GoCD? 😕

Samantha

On 8 Nov 2018, at 4:11 pm, Charles Korn <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you able to run the task with logging enabled (--log-file=<some file>) and send it to me at me@charleskorn.com<mailto:me@charleskorn.com>?

Please double-check that the log file does not contain any sensitive information bef

[2018-11-08 06:08] charleskorn commented on #20
On GoCD if you can.

[2018-11-08 06:31] Sami5 commented on #20
I'll try to but I don't know when I'll have a free moment to test it on GoCD again as we have two squads working off the same pipeline.

Samantha

On 8 Nov 2018, at 4:11 pm, Charles Korn <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you able to run the task with logging enabled (--log-file=<some file>) and send it to me at me@charleskorn.com<mailto:me@charleskorn.com>?

P

[2018-11-08 06:40] charleskorn commented on #20
No worries, thanks @Sami5!

[2018-11-15 03:45] minnn-minnn opened #21 "Inputs on CLI get printed twice"
Issue discovered when sshed onto a docker container started by batect (bash).  Typed commands look like I have very shaky hands/or too much coffee.

[code]

It's pretty hard to read.

Batect version: 0.23
Container Image: Alpine 3.8

[2018-11-15 05:07] charleskorn commented on #21
Thanks for the bug report @minnn-minnn.

Just to confirm, you're running `bash` inside a container (which is using `alpine:3.8`), and then SSHing into the container?

Could you perhaps send me a sample `batect.yml` and the commands you're running so that I can reproduce the problem here?

[2018-11-15 06:09] minnn-minnn commented on #21
Yup.

I'll send you an email

[2018-11-15 06:13] charleskorn commented on #21
Thanks!

[2018-11-19 23:29] charleskorn commented on #21
Further offline discussion has revealed that SSH is not involved (this happens when running `./batect the-task`)

I can't reproduce this issue at the moment and @minnn-minnn is going to try to isolate the problem so I can reproduce it.

[2018-11-19 23:30] charleskorn commented on #20
Hi @Sami5, were you able to get that log file?

[2018-11-19 23:39] Sami5 commented on #20
No sorry I haven't had the chance. It's been a rush here.

On 20 Nov 2018, at 10:30 am, Charles Korn <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @Sami5<https://github.com/Sami5>, were you able to get that log file?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/charleskorn/batect/issues/20#issuecom

[2018-11-20 02:37] charleskorn commented on #20
No worries, let me know when you get a chance to take a look.

[2018-11-28 04:12] ineffyble commented on #21
I'm now working with @minnn-minnn and have worked out that this bug was introduced in 0.22.0. Previous versions work fine. Hope this helps narrow the problem down.

[2018-11-28 23:16] charleskorn commented on #21
Alright, that tells me where the problem is but I don't understand why it's happening. Does this affect all containers you run, or just this one? (I can't reproduce the problem locally at the moment, so I need some help to narrow it down so that I can.)

[2018-11-29 00:15] charleskorn commented on #21
Further details from @minnn-minnn:

[2018-11-30 01:35] charleskorn commented on #21
I can now reproduce this problem! Thanks for your help @minnn-minnn and @ineffyble. I'll take a look and see what the fix is.

[2018-11-30 02:32] charleskorn commented on #21
Resolved with 6b593a8.

Thanks for your help and patience @minnn-minnn and @ineffyble!

[2018-11-30 02:32] #21 closed

[2018-12-26 06:35] charleskorn commented on #17
This should be fixed with 99c45a7.

[2018-12-26 06:35] #17 closed

[2018-12-26 06:36] charleskorn commented on #13
This should be fixed with 99c45a7.

Thanks again for the feedback @ekamara.

[2018-12-26 06:36] #13 closed

[2018-12-26 10:30] binkley opened #39 "Example of customising shell inside container"
What a keen tool, love it, thank you.

Some documentation requests:
- Help setting up the first time shell (`command: bash`).  For example, explaining how to bring in a user's `.bashrc`, `.bash_profile`, etc.
- Tips on integrating common shell setups, such as one of the fabulous "git" prompts.  https://github.com/magicmonty/bash-git-prompt is a popular example

I'm starting a new project for clien

[2018-12-26 10:33] binkley opened #40 "Moving to Kotlin/native, away from JVM: stories"
I'm excited to see in your "Roadmap" doc (first rate docs, btw) that you intent to move to Kotlin/native.  This appears a sound choice.

I looked through the issue tracker, and didn't see much around this aspiration.  If you could post particular areas of batect where you'd like to see the migration begin, it might garner volunteers.

[2018-12-26 11:25] binkley opened #41 "Build failed: Java 11 perhaps"
[code]

[2018-12-26 21:44] charleskorn commented on #41
Hmmm... if you run the unit tests (`./gradlew check`), do they pass, or do they fail for the same reason?

[2018-12-26 22:02] charleskorn commented on #40
Great idea, thanks for the suggestion @binkley.

Most of the work involved is not batect-specific, and largely revolves around library support for Kotlin/Native.

For example, last time I checked, Spek didn't yet support Kotlin/Native but there was talk of doing that.  Looking at the code now, it looks like they've restructured the library to support it in the future, but haven't yet implemented i

[2018-12-26 22:04] charleskorn commented on #39
I'm a little unclear on your first question - are you asking how to bring in your `.bashrc` or `.bash_profile` into a container?

[2018-12-26 22:46] binkley commented on #41
Howdy.  Int tests fail with:
[code]

[2018-12-27 08:45] charleskorn commented on #41
That's very odd. If it was a Java 11 issue, then the unit tests wouldn't pass either, but you're getting to the integration tests so the unit tests are passing. Can you verify that [this file](https://github.com/charleskorn/batect/blob/master/app/src/integrationTest/resources/mockito-extensions/org.mockito.plugins.MockMaker) is present in your clone and has the same content?

[2018-12-27 13:55] carloslimasis opened #42 "Batect doesn't work on Windows"
Hi there!

My environment is:
Java: 1.8.0_191
Docker: 18.09.0
Windows 10
GitBash

When I try to run `./batect --version` I have the following error:

java.lang.UnsatisfiedLinkError: A opera▒▒o foi conclu▒da com ▒xito.
        at jnr.ffi.provider.jffi.NativeLibrary.loadNativeLibraries(NativeLibrary.java:87)
        at jnr.ffi.provider.jffi.NativeLibrary.getNativeLibraries(NativeLibrary.java:70)

[2018-12-27 22:55] charleskorn commented on #42
Unfortunately batect does not yet support Windows, and the error message you're seeing there is a symptom of that. (The error message could be much clearer though, so I'll fix that.)

If you're running Windows 10, batect might work under [WSL](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux), although I haven't tried it.

Adding Windows support is not a big priority for me at the moment

[2018-12-27 22:58] charleskorn commented on #20
Hi @Sami5, did you ever get a chance to get that log file?

[2018-12-27 23:13] charleskorn commented on #41
Can you try again with the latest master (https://github.com/charleskorn/batect/commit/91f7ab946889a2ad8069aab0b18380215d6939e7)?

I've upgraded to a newer version of mockito-kotlin (which in turn brings in a newer version of Mockito) that should have some Java 11-related fixes.

[2018-12-27 23:38] Sami5 commented on #20
Hi Charles, unfortunately I don't think I'd be able to get this information. You can probably close this issue.

[2018-12-27 23:38] #20 closed

[2018-12-27 23:39] charleskorn commented on #20
No worries, thanks for the feedback. Are you still seeing this issue?

[2018-12-27 23:51] Sami5 commented on #20
We are't using the latest version so I can't say. But if we run into this again, I'll try your above steps and let you know.

[2018-12-28 11:16] binkley commented on #41
Cool beans.  Int tests pass; now I'm watching shellcheck do it's thing.  Thanks!

[2018-12-28 11:18] binkley commented on #39
This may be user inexperience at play.  When I pop open a shell in the image, I'd like my bash experience to match that when I'm not using docker, eg, shell prompt and all that.  I'm not sure the exact level of developer your docs are aimed at.  For an experienced docker user, they probably know what to do; perhaps a good link in your docs pointing to getting for someone like me.

[2018-12-28 11:19] binkley commented on #40
Thanks for a solid answer.  My takeaway is progress on Kotlin/native for batect is blocked by other dependencies.

[2018-12-28 11:42] binkley commented on #41
This looks a little more like Java version (change in class file format number):
[code]

[2018-12-29 06:03] charleskorn commented on #40
I'm going to close this for now to keep the issues list on GitHub clean, but I will definitely add some stories once the basic building blocks are in place for the migration.

[2018-12-29 06:03] #40 closed

[2018-12-29 06:06] charleskorn commented on #41
I've just pushed a commit that should fix this (https://github.com/charleskorn/batect/commit/e42f66783996f27d00c2345838d840674a75d962 - I referenced the wrong issue in the commit message) - the target Java version was set for the main application but not the test app used for the wrapper.

[2018-12-29 06:18] charleskorn commented on #39
That's certainly possible, but does go against the idea of batect a little - one of the main ideas is to provide everyone with a consistent environment (to remove "works on my machine" issues), so incorporating each user's profile breaks that consistency.

However, if you're happy to live with that compromise, doing it is straightforward. In the definition of the container, add something like this

[2018-12-29 06:19] charleskorn commented on #39
(please ignore the referenced commit above, that was meant to refer to #41)

[2018-12-29 06:19] charleskorn commented on #39
That's certainly possible, but does go against the idea of batect a little - one of the main ideas is to provide everyone with a consistent environment (to remove "works on my machine" issues), so incorporating each user's profile breaks that consistency.

However, if you're happy to live with that compromise, doing it is straightforward. In the definition of the container, add something like this

[2018-12-31 11:20] binkley commented on #39
@charleskorn That's a good explanation, thank you.  Your point of "consistent environment" is really on point.  Please close this issue.

What I'll do is play with setting up the shell *within* the docker env, so we can share the same, eg, git aliases, et al.

[2018-12-31 11:20] binkley commented on #41
I'll try again, thank you, and report back.

[2019-01-01 03:39] charleskorn commented on #41
No worries, let me know how you go.

[2019-01-01 03:42] charleskorn commented on #39
No worries, glad to help.

I'd love to be able to link to your setup as an example, as I don't yet have one like this - would you be willing to share it?

[2019-01-02 11:03] binkley commented on #41
Pulled from upstream into my fork.  Ran `./gradlew clean check`.  I do have a test failure, but it no longer looks related to JVM 11.  I'm guessing I need to poke at my Docker network settings (I using Docker Desktop 2.0.0.0-mac81, stable channel):
[code]

[2019-01-02 11:04] binkley opened #45 "Migrate build to Kotlin DSL"
I'm uncertain from the roadmap the degree to which this is a Kotlin project.  Lately I've been trying Gradle 5.0 with Kotlin DSL 5.0 on small projects.  Migrating was straight-forward:

https://guides.gradle.org/migrating-build-logic-from-groovy-to-kotlin/

If you have an interest, I will find some time for a PR to your repo.

[2019-01-02 11:08] binkley opened #46 "Exiting Docker shell failed"
Using batect 0.24.0.  Upgraded from 0.23.0 by copying a newer shell script version over the older one.  This task:
[code]
Produced this error when exiting:
[code]

[2019-01-03 00:04] charleskorn commented on #41
Unfortunately that's a manifestation of https://github.com/square/okhttp/issues/2738 that comes up from time to time. It seems to only affect OS X (the CI build that runs on Linux never has the same problem). It's been on my list to investigate further but happens infrequently enough that it hasn't been a priority. Re-running the tests usually fixes the problem (which I know isn't really a fix :)

[2019-01-03 00:13] charleskorn commented on #45
I'm definitely interested (I've been using the Kotlin DSL on another project and like it).

The only drawback to migrating would be the loss of Dependabot support, but they are working on this (https://github.com/dependabot/feedback/issues/172), and I think the other benefits outweigh the temporary loss of Dependabot.

I'd love any PRs you have time for - please feel free to send them through!

[2019-01-03 00:19] charleskorn commented on #46
A couple of questions:

1. Do you consistently see this issue now with v0.24.0, but never see it with v0.23.0? How about with 0.23.3? (0.23.3 had a change related to this)

2. Can you please try running `stty -g` and then `stty <output from stty -g>` outside of batect (ie. in a standard Bash shell) - do you see the same error?

   (So if `stty -g` gives you `abc123:456`, please run `stty abc123:45

[2019-01-03 00:19] #42 closed

[2019-01-03 00:20] charleskorn commented on #42
This is being tracked in the roadmap, so I'm going to close this for now.

[2019-01-04 01:01] ineffyble opened #47 "Hot reload / file watch functionality"
It would be neat if I could set an option, and have Batect automatically re-build and run the current task on file change.

[2019-01-04 03:40] charleskorn commented on #47
Hi @ineffyble, thanks for the suggestion.

How would you like this to behave? I'm imagining something like a `--watch` flag on the command line (so it would be `./batect --watch build`), and it would look for changes in the mounted directories.

And I'm imagining a need to be able to exclude certain directories (eg. don't trigger a rebuild just because the build produced the artifact in a mounted

[2019-01-09 12:17] binkley commented on #39
@charleskorn I'm happy to share.  I'm still working on buy-in from my team.  :)

[2019-01-10 01:35] charleskorn commented on #39
No worries, let me know if there's anything I can do to help convince them :)

[2019-01-11 10:58] binkley opened #51 "build succeeds/fails when running multiple times in a row"
In project https://github.com/binkley/docker-java11, at commit `4194e19f64c1bd5dde56117badc139c6d52060b5`, I can reproduce alternating success/failure with (output elided):
[code]
Failure looks like:
[code]

[2019-01-13 01:46] charleskorn commented on #51
This looks like a duplicate of #46 (albeit with a reproduction) - are you ok for me to close #46 and work in here?

[2019-01-13 01:47] charleskorn commented on #51
To help me diagnose the issue, I need a little more information:

1. Can you please try running `stty -g` and then `stty <output from stty -g>` outside of batect (ie. in a standard Bash shell) - do you see the same error?

   (So if `stty -g` gives you `abc123:456`, please run `stty abc123:456` as the second command.)

2. What OS are you running? And if you're running Linux, what distro and versio

[2019-01-14 11:24] binkley opened #52 "Behaviour of command without shell entrypoint is unexpected"
I've tried several YAML variations on quoting multi-line strings.  Latest is:
[code]
In each case, batect complains:
[code]
I'm sure this is PEBKAC.  What am I doing wrong?

[2019-01-14 11:40] binkley commented on #46
I tested different versions by globally replacing the version string in my latest copy of the `batect` script.  I need to check if that script itself changed.

Output from 0.24.0:
[code]
(Note: something is whacky.  My typing is echoed twice for "exit".)

Output from 0.23.3:
[code]
(Note: no doubling of my characters in "exit".)

[2019-01-14 11:42] binkley commented on #52
I'm not sure this is a multiline issue.  I was trying YAML multiline options from: https://yaml-multiline.info/

When I tried using a single-line, single-quoted string, I still had the same complaint:
[code]

[2019-01-14 11:48] binkley commented on #52
Ah, I get it now.  Trying `echo $0 $SHELL $-` reveals that this is _not_ passed to `/bin/sh` as I had expected.  And recognizing the `batect.yml` file is for Docker Compose, I checked the docs on `command`.  Those docs are not explicit, but I infer that the value of the `command` line in YAML is passed to the `exec()` call, so does not invoke `/bin/sh`.

[2019-01-14 11:56] binkley commented on #52
@charleskorn I'm ok with closing this.  Contra, it could be a documentation request.  Since Docker Compose itself doesn't explain this well, I'm uncertain if Batect should, though it is a gotcha for the unaware.

[2019-01-16 03:12] ineffyble opened #53 "Weird dependency execution order"
I've run into a situation where tasks are executing in an unexpected fashion. I've replicated this situation with the `batect.yml` below.

**Expected behaviour:** makeTheSandwich runs _before_ takeABiteOfTheSandwich

Is there something I'm missing in my dependency tree that's causing it to run in this order?

[batect.yml.txt](https://github.com/charleskorn/batect/files/2762493/batect.yml.txt)

[2019-01-16 03:51] charleskorn commented on #52
Thanks for the feedback @binkley.

What you're seeing is the behaviour of `ENTRYPOINT` and `CMD` from Docker (see https://docs.docker.com/engine/reference/builder/#cmd) - I'm guessing the image you're using doesn't have an entrypoint set, and so the `command` you give is executed directly, rather than being interpreted by a shell (which would handle the `&&` in the way you expect).

If you wanted

[2019-01-16 03:54] charleskorn commented on #46
Are you sure the output you've given there is around the right way? The reason I ask is the issue with double-echoing of text was fixed in v0.23.3.

But regardless, it looks like the issue appears in both versions, so I'll investigate further.

[2019-01-16 03:57] charleskorn commented on #53
Thanks for the feedback @ineffyble. Just to be clear, which task are you running? (ie. `./batect <some-task-name-here>`)

[2019-01-16 04:02] ineffyble commented on #53
Oops, sorry. `./batect sandwichHasBeenEaten`

[2019-01-17 02:35] charleskorn commented on #53
Right, so if I understand correctly, the order in `prerequisites` is not respected?

I would expect the execution order to be:

* `getSandwichContents`
* `putContentsInBread`
* `prepareTheTable`
* `makeTheSandwich`
* `takeABiteOfTheSandwich`
* `eatTheSandwich`
* `sandwichHasBeenEaten`

If that's not what's happening then this sounds like a bug, not something you're missing in your configuration.

[2019-01-17 02:46] ineffyble commented on #53
That's right - they're running in the wrong order.

Good to know it is a bug and just not me goofing up.

[2019-01-17 02:51] charleskorn commented on #53
Alright, I'll take a look into it. Thanks for the detailed report and reproduction!

[2019-01-17 23:37] #53 closed

[2019-01-17 23:38] charleskorn commented on #53
I've just pushed a fix for this, and will publish a release shortly.

Thanks again for taking the time to report the issue and for providing a reproduction @ineffyble!

[2019-01-18 23:38] #52 closed

[2019-01-18 23:38] charleskorn commented on #52
I've updated the docs with a note about this - thanks again for the feedback @binkley!

[2019-01-18 23:45] charleskorn commented on #51
One last question... can you please run `which stty`?

(Based on https://github.com/alexch/rerun/issues/62 and the non-standard output you're getting from `stty`, I suspect you might have a different version of `stty` on your path.)

[2019-01-18 23:46] charleskorn commented on #46
Duplicate of #51.

[2019-01-18 23:46] #46 closed

[2019-01-20 22:31] charleskorn commented on #41
I've added a fix for this in d6a1ebb - please pull the latest master and let me know if you still run into this issue.

If everything's working, please go ahead and close this issue, otherwise, please post back here with any further problems.

Thanks again for your feedback!

[2019-01-28 06:16] marty-macfly opened #58 "Project level environment variables"
Hello,

We can define default variables on container and task with the use of `${MY_VAR:-default_value}`. In my case I use the variable at two different places like that:

[code]

Would be easier to set the default value at project level instead of everytime i'm using it. Like that:

[code]

If they are not defined on the host env variable they will get the default value set at the top of the proj

[2019-01-29 11:27] charleskorn commented on #58
Hi @marty-macfly, thanks for the suggestion. I think this makes a lot of sense, and I've been thinking about something similar myself.

It's already on the [roadmap](https://github.com/charleskorn/batect/blame/master/ROADMAP.md#L37), and I plan to implement it soon (for some definition of soon).

Having said that, if you're interested in submitting a PR I'd be very happy to discuss this in further

[2019-02-14 01:52] ineffyble opened #65 "False error and no log output if container exits too quickly"
I'll prefix this by saying that I haven't been able to replicate it on my MacBook, but it's happening consistently on multiple CentOS machines.

If running a task that exits almost immediately (for example, where the command is `echo "hi"`, instead of container output, I get:

[code]

with a failure message.

If I make a task to shell into the container and run the same command/script, it passes.

[2019-02-14 06:30] charleskorn commented on #65
Thanks for the feedback @ineffyble! I've just run into this myself. It looks like the Docker daemon is not coping with the fact that the container has just exited (trying the same thing a few seconds later gives me a "container is stopped" / "container doesn't exist" message) - might be a race condition in the daemon somewhere.

Regardless, this is an easy thing for me to fix, so I'll take a look.

[2019-02-14 09:46] #65 closed

[2019-02-14 09:47] charleskorn commented on #65
I've just pushed a fix for this and I'll cut a release tonight. Thanks again for your feedback @ineffyble!

[2019-02-25 23:31] ineffyble opened #66 "Nicer formatting for --list-tasks"
Our project has 63 tasks defined in our batect.yml, and as a result the output of `batect --list-tasks` can be a bit of a mess.

Something that our team found handy was adding "\n\t" to the start of every description - this means the description for each task is on a newline and indented, which greatly improves visibility.

Perhaps something like this could be incorporated into batect natively?

[2019-02-25 23:34] ineffyble opened #67 "Support for YAML aliases"
Something I've found very helpful with writing build pipelines for GoCD is using YAML aliases - which let you define a block of code (an object or array) once, and then reuse it in multiple places, without rewriting.

This would be very useful for helping to make our batect.yml smaller and more readable (it's currently over 600 lines!).

I tried to use a YAML alias, but got a message that YAML ali

[2019-02-25 23:40] ineffyble opened #68 "More concise passing of environment variables"
Our batect.yml currently has many many lines under `environment` blocks that look like:

[code]

When you want to pass a host variable through to the container as the same name and value, a more concise format could be helpful. This is something [Docker-Compose](https://docs.docker.com/compose/environment-variables/#pass-environment-variables-to-containers) and Buildkite do well.

E.g.:

[code]

[2019-02-26 01:03] charleskorn commented on #67
😱

This makes sense to me as something to add support for. I'm also interested in both why your config is so big and what is duplicated - are you able to share an example so I can understand how you would want to use this?

[2019-02-26 01:05] charleskorn commented on #66
I'm intrigued - why so many tasks?

Something that's been on my radar for a while now is the ability to group the output from `--list-tasks` - would that also be helpful here?

Thanks again for all your feedback @ineffyble!

[2019-02-26 01:07] charleskorn commented on #68
Makes sense to me, thanks for the suggestion @ineffyble!

[2019-02-26 03:39] ineffyble commented on #67
I think #58 might solve a lot of the use cases I'd have for aliases

[2019-03-10 18:56] #67 closed

[2019-03-10 19:03] charleskorn commented on #58
Hi @marty-macfly, thanks again for your feedback. I've just added support for YAML aliases and anchors, which should make it easy to do things like this, and it will be part of v0.27 (which I'm planning to release soon).

You can now do something like this:

[code]

You can also use a similar technique for individual values if you don't want to share the entire set of environment variables, or if

[2019-03-10 19:03] #58 closed

[2019-03-10 19:05] charleskorn commented on #67
Hi @ineffyble, thanks again for all your feedback. I've just added support for YAML aliases and anchors, and it will be part of v0.27 (which I'm planning to release soon).

There will be a bunch of examples of this on the [configuration docs page](https://batect.charleskorn.com/config/Overview.html) once I push out the release later today.

[2019-03-10 20:03] #66 closed

[2019-03-10 20:05] charleskorn commented on #66
I've just added support for grouping the output of `--list-tasks`, and this will be part of v0.27 (which I'm planning to release soon).

Please take a look at it and let me know if this isn't enough for your situation and we can discuss other possible solutions.

[2019-03-10 20:06] charleskorn commented on #41
I'm going to go ahead and close this due to inactivity - if you run into it again, please reopen this issue.

[2019-03-10 20:06] #41 closed

[2019-03-10 20:07] charleskorn commented on #39
I don't think there's any further action required here, so I'm going to close this now, but please reopen it if you need any further assistance.

[2019-03-10 20:07] #39 closed

[2019-03-24 09:32] ineffyble commented on #20
I'm seeing this on CircleCI with batect 0.27.1 now. Running locally it works right, but on CircleCI, all my jobs end with this error.

[2019-03-24 18:39] charleskorn commented on #20
I've been able to identify the problem (thanks @ineffyble for the logs) - it's an issue running batect against Docker version 17.10 and earlier. I've got a fix ready and I'll push out a release shortly.

Thanks for your feedback!

[2019-03-27 21:45] charleskorn commented on #10
Once https://github.com/docker/libnetwork/pull/2348 is merged and released, adding support for this on Linux should be straightforward.

[2019-04-05 10:59] pameck opened #74 "Add support for --init to make using Node easier"
I am running a Node express server with batect. When I input `ctrl + c` in the terminal, it does not kill the process, instead it just hangs.

With the attached project by running `./batect api` and then `ctrl +c` I'm able  to reproduce the bug.
[sigterm-error-project.zip](https://github.com/charleskorn/batect/files/3047553/sigterm-error-project.zip)

I've also experienced this error with an nginx

[2019-04-10 10:30] pameck commented on #74
I've been trying to debug this one but I haven't been able to progress much. [In this fork](https://github.com/pameck/batect/commit/cdd94f6d46cc9d713df32d220ec4eda8194f07f8) there is some code to reproduce the error.

Also, in the example project attached to the bug, I noticed that if I capture the `SIGINT` within the container first, then the process is correctly killed. Maybe that gives light in

[2019-04-11 10:50] pameck commented on #74
After reading [this article](https://blog.ghaiklor.com/avoid-running-nodejs-as-pid-1-under-docker-images-when-running-them-on-mesosphere-kubernetes-or-b7bd505657f9), I altered the sample project to test the solution for killing the container with `CTRL C` which is running the image with the `--init` flag.

`CTRL C` fails when trying to kill the container after having it run with the following comm

[2019-04-11 23:01] charleskorn commented on #74
Right, so this isn't a bug in batect per se, but an issue with Node. Adding support for `--init` makes sense to me.

[2019-04-11 23:04] charleskorn commented on #45
I'm going to close this due to inactivity, but if you're still interested in submitting a PR, that would be great!

[2019-04-11 23:04] #45 closed

[2019-04-11 23:05] charleskorn commented on #51
I'm going to close this due to inactivity - if you're able to share more info, I'm happy to reopen this and take a look.

[2019-04-11 23:05] #51 closed

[2019-04-13 05:30] ineffyble opened #78 "Tasks that run on the host"
It would be great if you could define a task that executes on the host (not in a Docker container).

This is useful because:

- It means you can use batect as your task runner for **all** tasks, even the ones that can't/shouldn't run in Docker
- It means when you're setting up task workflows using dependencies, you can include these

A prime example: I want to run a bash script that build a Docker

[2019-04-13 05:33] ineffyble opened #79 "Consider using ".batect" as example folder name instead of "dev-infrastructure""
This is an observation from a couple of projects.

Containing your `Dockerfile` definitions for batect containers in `.batect/` makes them tidier/more out of the way, especially when they're being used purely to run tasks (and there's not any `Dockerfile` definitions for your actual app, for example).

It also is less confusing than `dev-infrastructure` which leads my mind to cloud servers and Ter

[2019-04-13 05:38] ineffyble opened #80 "Allow adding or dropping Docker capabilities"
The `container` spec should allow specifying [Docker capabilities](https://docs.docker.com/engine/reference/run/#runtime-privilege-and-linux-capabilities). See [docker-compose documentation](https://docs.docker.com/compose/compose-file/#cap_add-cap_drop) for an example implementation.

This functionality would be useful:

A) When wanting to tighten security, by allowing the user to drop unused cap

[2019-04-14 03:20] charleskorn commented on #80
Great minds think alike... I added this to [the roadmap](https://github.com/charleskorn/batect/blob/master/ROADMAP.md) on Friday, and I nearly have a change ready to go to add support for `--privileged`. The capabilities stuff shouldn't be too hard to add either.

[2019-04-14 03:22] charleskorn commented on #78
This is something I've been thinking a bit about lately. Is your only use case for running a command locally building and pushing an image?

[2019-04-14 03:23] charleskorn commented on #79
That's a nicer name for it, I was never super happy with `dev-infrastructure`.

Would you be interested in submitting a PR for this for the sample projects and docs?

[2019-04-15 10:44] charleskorn commented on #74
Are you OK for me to close this now that #81 has been merged?

[2019-04-15 10:48] pameck commented on #74
Yes, I'll test v30 tomorrow against the other container that's been failing to exit.

[2019-04-23 10:26] charleskorn commented on #74
Did you have a chance to try this @pameck?

[2019-04-25 21:05] nesl247 commented on #68
Should I open another issue to have the same support for `build_args`?

[2019-04-25 21:20] nesl247 opened #86 "Support build context"
I can't seem to be able to replicate the structure that we currently have. We have `docker/php/Dockerfile`, but I need the image to have access to `.` as the build context.

Am I missing something here?

[2019-04-26 07:46] charleskorn commented on #86
Hi @nesl247, you're not missing anything :)

At the moment, batect expects that your Dockerfile is in `build_directory` - that forms the root of the build context.

However, adding support for Dockerfiles in other locations wouldn't be too tricky, so I'm happy to add it. Watch this space.

[2019-04-26 07:47] charleskorn commented on #68
@nesl247 are you asking for the ability to use environment variables in build arg values?

[2019-04-26 14:35] nesl247 commented on #86
Thanks @charleskorn!

[2019-04-26 14:37] nesl247 commented on #68
I'm looking for this exact same feature but for build_args. In docker-compose, if you don't pass a value to an `environment` or `build_arg` key, it will get the value from the runtime environment variables if it exists.

This issue is exactly about this, but only `environment` was mentioned, not `build_args`. If you want me to open another issue still I would be happy to do so.

[2019-04-27 11:13] #86 closed

[2019-04-27 11:14] charleskorn commented on #68
I'd consider support for environment variables in build args to be a different feature to what's been requested in this issue, so please open a separate issue.

[2019-04-27 11:15] charleskorn commented on #86
I've just pushed this change and it will be part of the 0.31 release which should be out in the next few days.

Thanks for your feedback @nesl247!

[2019-04-27 11:47] #74 closed

[2019-04-27 11:52] charleskorn commented on #80
`--privileged` was added as part of [v0.29](https://github.com/charleskorn/batect/releases/tag/0.29.0) and adding and dropping capabilities will be part of v0.31, which should be out in the next few days.

Thanks again for all your feedback @ineffyble!

[2019-04-27 11:52] #80 closed

[2019-04-27 15:47] nesl247 commented on #86
Thanks for the quick work! We're excited to give batect a shot.

[2019-04-27 15:51] nesl247 opened #87 "Add support for environment variables in build_args"
As https://docs.docker.com/compose/compose-file/#args has the feature

It would be really useful here as well. Our use case is we pass a `GITHUB_TOKEN` in order to install private dependencies, to a multi-stage Dockerfile.

See #68 for the same feature but for `environment`.

[2019-04-28 07:33] charleskorn commented on #87
Just to be clear, batect already supports passing environment variables from the host to a container with a verbose syntax (`SOME_ENVIRONMENT_VARIABLE: $SOME_ENVIRONMENT_VARIABLE`), but #68 is asking for a concise syntax for the situation where the name of the environment variable on the host matches the desired name in the container.

At the moment, batect doesn't support either of these things f

[2019-04-29 13:08] nesl247 commented on #87
I didn't realize it didn't support it at all in build_args. We were waiting on the other issue to be solved as it was a blocker for us so we hadn't gotten even as far as this building.

Given that `build_args` don't support environment variables at all, this is another blocker for us.

I would love to have at least the verbose syntax, though I would treat build_args the same as environment variabl

[2019-04-30 08:26] charleskorn commented on #87
Makes complete sense, I agree with prioritising `build_args` supporting environment variables over the more concise syntax for either `build_args` or `environment`. I'll take a look when I get a chance.

Are you referring to #86 here?

[2019-04-30 14:10] nesl247 commented on #87
@charleskorn Yep! And thanks again!

[2019-05-02 12:30] jobasiimwe opened #92 "Ask user to confirm command and run it after making correction suggestion"
As a user,
When I mis-type the task name
And...batect gives you a suggestion of what I mostlikely meant,
I want batect to ask me to confirm if that is the command i meant (probably with y/n) and if i confirm...i want batect to run that command

[2019-05-03 11:35] charleskorn commented on #92
Nice idea, thanks @jobasiimwe.

[2019-05-05 11:44] charleskorn commented on #79
I've updated the sample projects and documentation to reflect this. Thanks again for the suggestion @ineffyble!

[2019-05-05 11:44] #79 closed

[2019-05-18 07:54] #87 closed

[2019-05-18 07:55] charleskorn commented on #87
Hey @nesl247, sorry for the slow response to this (I've been moving house). I've implemented this and it should go out in the next release, which should be out in the next day or two.

[2019-05-18 14:04] nesl247 commented on #87
Nothing to apologize for. Thanks for all of your hard work! Hope you enjoy your new house.

Looking forward to trying out batect again.

[2019-05-20 15:15] nesl247 opened #99 "Extremely poor performance compared to docker-compose"
I'm not sure what the cause of this is, but if I run `phpunit` in `batect`, it takes `3.84 minutes` compared to `6.1 seconds` in `docker-compose`. This is not including the build time for the containers, only the time taken by phpunit itself (it outputs it at the end of the tests).

Both of them are not using any volume mounts, and are using the same `Dockerfile`.

[2019-05-20 22:37] charleskorn commented on #99
Hi @nesl247, thanks for your feedback. That doesn't sound right at all, execution performance should be on par with docker-compose.

Are you able to share a sample project that reproduces the problem so that I can investigate further? And could you please post the output from `./batect --version`?

[2019-05-20 23:12] nesl247 commented on #99
Hey. Unfortunately I can't provide the current project as a sample, but I will try and dockerize something else and see if I can reproduce it. Until then, I've included the information request as well as other potentially relevant information.

[code]

[code]

[code]

[code]

`docker-compose run --rm php vendor/bin/phpunit`

[2019-05-20 23:28] nesl247 commented on #99
And the issue was my fault. I was testing against the image itself without `LINIO_ENV`, a flag we have to make a few changes, including turning on xdebug. In batect I had it.

Unfortunately though the performance is still twice as slow that of `docker-compose`. However, it's a big improvement from before.

I'm going to close this as I'm not sure if it's due to environmental factors or batect itsel

[2019-05-20 23:28] #99 closed

[2019-05-21 01:48] jagregory opened #101 "Invalid project name with build_directory results in obscure Docker error"
If you specify a project name that includes upper case letters or spaces, and use a container that uses `build_directory`, when the container is built you get a relatively unclear error message:

It's not immediately obvious that the project name ends up being used as part of the docker image (although in hindsight it makes sense).

[2019-05-21 01:53] jagregory opened #102 "YAML deserialisation errors are obscure"
I accidentally defined `volumes` as a string instead of an array:

[code]

The resulting error isn't the clearest:

I assumed it was a syntax error in my YAML, but from a YAML perspective it's correct. So it must be when it's trying to deserialize valid YAML into an incompatible data structure.

[2019-05-21 07:30] charleskorn commented on #99
No worries at all. If you find anything that would help others speed up their projects, I'd be keen to hear about it so I can add it to the documentation.

[2019-05-21 09:33] charleskorn commented on #102
Hey @jagregory, thanks for the feedback. You're right, this error message isn't very clear at all. I'll take a look and improve it.

[2019-05-21 09:34] charleskorn commented on #101
Hey @jagregory, thanks for letting me know about this. We should definitely be doing some validation on the project name (and probably the container name as well) to prevent issues like this.

[2019-05-22 09:58] #102 closed

[2019-05-22 09:59] charleskorn commented on #102
I've pushed a fix for this and it'll be in the next release - thanks again for your feedback @jagregory.

[2019-05-22 15:11] tjacoby opened #103 "Support Google Cloud Container Registry credential helper"
Pulling images from the Google Cloud Container registry fails with the following error:

[code]

The reason seems to be because the Username reported by the credential helper is `_dcgcloud_token` instead of the expected `<token>`.

This is the extract from the batect log file (replaced the actual secret with "xxx"):
[code]

[2019-05-23 07:22] jagregory opened #105 "One-off tasks against a dependent container"
I have a service and a local S3 instance. I need to run an aws-cli command to create a bucket before my app can run. What I would like to do is:

- Launch the local S3
- Run aws-cli command to create a bucket
- Launch my local server

How I’ve attempted it:

[code]

This doesn't work because the prerequisites are executed before the task's dependencies are started.

Then I tried adding the S3 cont

[2019-05-23 09:19] charleskorn commented on #103
Hey @tjacoby, thanks for taking the time to report this issue. Looks like the GCP credential helper isn't quite meeting [the requirements of a credential helper](https://docs.docker.com/engine/reference/commandline/login/#credential-helper-protocol) and this is breaking things. This is a relatively easy thing to workaround though, so I'll take a look and push out a fix shortly.

[2019-05-23 09:32] charleskorn commented on #105
Hey @jagregory, thanks for the suggestion. I agree that it would be great if batect could cover this situation.

I'm going to think about this a bit more before I commit to a solution. One idea I have is something like a `setup_commands` array on each container definition, so then it would look something like this:

[code]

The idea being that these commands would be run in the containers after th

[2019-05-23 10:47] charleskorn commented on #103
I've just pushed a fix for this and it should be part of the next release. Thanks again @tjacoby!

[2019-05-24 07:37] tjacoby commented on #103
Hi Charles,

thanks for picking up my request so quickly. I built batect locally from master and tried the fix but unfortunately it still doesn't work.

It fails with the following error now:
[code]

I saw that you are using a `PasswordDockerRegistryCredentials` for the Google container registry. I tried changing the code to use `TokenDockerRegistryCredentials` but this still does not fix the issu

[2019-05-24 07:53] charleskorn commented on #103
I tried it with pulling an image directly it was working for me - are you able to try pulling an image directly and see if that works for you?

So instead of `build_directory: ...`, use `image: eu.gcr.io/xxx-xxx-xxx/conda:814a9e1654ac16c661ba60f78e81782c26eadf3d`

[2019-05-24 11:19] tjacoby commented on #103
Yes - pulling the image works

[2019-05-25 01:25] charleskorn commented on #103
OK, looks like there's an issue with building images - I'll take a look.

[2019-05-25 02:22] #103 closed

[2019-05-25 02:24] charleskorn commented on #103
I've fixed the issue building images as well, and this will be part of the next release.

If you want to use a version with this fix in the meantime, https://bintray.com/charleskorn/batect/batect should have a pre-release version available with this fix in the next 20 minutes or so.

Thanks again for your feedback @tjacoby!

[2019-05-26 07:46] charleskorn commented on #101
Thanks again for your feedback @jagregory - I've fixed this issue and I'll push out a release with the fix shortly.

In the meantime, you can grab the latest version from the files section of https://bintray.com/charleskorn/batect/batect/0.33.0-dev.0.15%2B57c558f if you want to try out the fix before I publish the release. (It might take ~20 minutes for the build and publish to finish.)

[2019-05-26 07:46] #101 closed

[2019-05-27 12:24] Byron-TW opened #108 "Maybe interesting: Toast, written in Rust"
Hi @charleskorn ,

I had a look at [this tool, Toast](https://github.com/stepchowfun/toast), and it looked somewhat similar to Batect. One major difference seems to be that there is only a single (shared) image across tasks, and that there is no orchestration across containers, limiting its use for tests.

The reason I post it here is to possibly give you inspiration for further developing Batect.

[2019-05-31 10:40] charleskorn commented on #108
Hey @Byron-TW, thanks for sharing. That tool looks really interesting, I like its use of caching to speed things up. I'll definitely keep it in mind as I develop further features for batect!

[2019-05-31 10:40] #108 closed

[2019-06-07 08:59] cazgp opened #113 ".dockerignore is incorrectly parsed"
Given a `.dockerignore` file:

[code]

and a `batect` config:

[code]

The error message:

[code]

Removing the `.dockerignore` file makes everything work.

I would try to debug the cause and make a PR but don't speak kotlin yet :(

[2019-06-08 06:31] charleskorn commented on #113
Hi @cazgp, thanks for taking the time to submit such a detailed bug report. I'll take a look at this in the next few days.

[2019-06-08 10:39] #113 closed

[2019-06-08 10:40] charleskorn commented on #113
I've just pushed a fix for this and I'll release an updated version shortly.

In the meantime, you can grab the latest version from the files section of https://bintray.com/charleskorn/batect/batect/0.34.0-dev.0.31%2Bcd7886b if you want to try out the fix before I publish the release. (It might take ~20 minutes for the build and publish to finish.)

[2019-06-09 02:17] ineffyble opened #115 "More logging options"
It can be very difficult to troubleshoot things when you're using batect.

As an example, if I have a task that start my app code, and has a dependency on a localstack container, I only have access to the app logs (via stdout). I have no way to see the logs of the localstack container at all.

Things that would be useful:

- An option to keep stopped containers so I can `docker logs` them, even if

[2019-06-09 02:25] ineffyble commented on #78
I think there's other usecases. For example, installing a pre-commit hook for the repo.

The problem is that teams tend to try and use batect instead of a "go" script, but it's hard to do that when it has to run everything in Docker.

[2019-06-09 02:30] ineffyble opened #116 "Shell tab completion"
It would be amazing if batect supported bash/shell autocompletion (e.g. so I can type `./batect bu`, hit <tab>, and have it autocomplete to `./batect build`).

[2019-06-10 11:03] charleskorn commented on #116
Hey @ineffyble, thanks for the feedback. I completely agree - this would be awesome, and it's been on the roadmap for a while.

I was playing around with getting this working for Fish a few weeks ago and it looks like it wouldn't be too much work for other shells either. Once I've finished adding support for Windows, I'll look into this further.

[2019-06-10 11:14] charleskorn opened #117 "Update JSON schema to draft-07"
See https://github.com/ineffyble/batectify/issues/2.

Need to make sure this doesn't break any IDEs.

[2019-06-10 11:17] charleskorn commented on #115
Hey @ineffyble, thanks for the feedback. I agree this is something that batect could do better.

This wouldn't be too hard to implement - this is something I could do in the short term

This would be much more complex to implement, but it would also be the best user experience - this is probably more of a long-term feature

If you had the other two options available, would you still want / need th

[2019-06-10 11:22] charleskorn commented on #78
OK, makes sense. This isn't something I'm going to implement soon, but I will one day.

Out of interest, is there a reason why you can't mount the source directory into a container and set up the pre-commit hooks from there?

[2019-06-12 11:04] #117 closed

[2019-06-17 14:47] jmewes opened #120 "Override volume configuration at runtime"
Hi,

When trying out Batect, a colleague of mine asked whether it's possible to override container volumes at runtime, something like this:

[code]

Looking the [container volume configuration](https://batect.charleskorn.com/config/Containers.html#volumes) in the docs, it seems like it's not possible at the moment.

Do you think this is a feature which should be supported?

Kind regards

[2019-06-18 07:46] charleskorn commented on #120
Hi @jmewes, thanks for the feedback. It's an interesting idea, and I'd like to understand your use case a little bit more - is there a reason why putting volume mounts in the configuration file is unsuitable?

[2019-06-18 15:44] jmewes commented on #120
Hi @charleskorn ,

My colleague brought up the question when reviewing a pull request which I have created. After having the opportunity to explain the semantics of the `batect.yml` file to him personally, it turned out that for our use case (mounting some data into the container for creating a PDF file out of it) a relative path is sufficient.

Thank you for your time to consider our question. I'

[2019-06-18 15:44] #120 closed

[2019-06-20 16:13] eichelkrauta opened #126 "Allow for quiet batect download from batect script (no -#)"
Currently, the bootstrapping batect script downloads the batect jar with a -# flag, causing the following to happen in certain environments:
<img width="589" alt="Screen Shot 2019-06-17 at 4 06 30 PM" src="https://user-images.githubusercontent.com/8661309/59864272-0a3bce80-934c-11e9-91c2-8840bad5fe81.png">

I would like an optional flag added to the bootstrapping script to address this issue in th

[2019-06-28 10:02] charleskorn commented on #126
Resolved with #129.

[2019-06-28 10:02] #126 closed

[2019-07-19 10:35] androa commented on #105
I've run into a similar case. I'm using http://www.mock-server.com/ to mock away some old and horrible SOAP-services while doing local development, and now it's bundled in together with the application. Which has it's pros and cons, but now I needed the same mocks in another application.

MockServer works by spinning up as server with an HTTP API to create new mocks and expectations. It holds no s

[2019-07-21 02:14] charleskorn commented on #105
Hey @androa, thanks for your feedback. Would the first solution in my comment above (`setup_commands`) be sufficient for you, or would you need the ability to spin up a second container to initialise MockServer?

[2019-07-21 11:43] androa commented on #105
Yes and no. MockServer is a docker container with JDK available. So I can get around the initialisation by doing either:

1. Extend the MockServer docker image and insert a whole Java project and run it. It's cumbersome to have to maintain a separate docker image just for this.
2. Mount the Java project/jar as a volume to the MockServer image and use the `setup_commands`.

I do however feel it's a

[2019-07-21 12:08] charleskorn commented on #105
I've had a lot of success with Mountebank as well - there's an example of setting it up in the Java sample project (https://github.com/charleskorn/batect-sample-java/tree/master/.batect/exchange-rate-service-fake).

[2019-07-28 22:25] charleskorn commented on #42
Hey @carloslimasis, just wanted to let you know that batect now has experimental support for Windows with [v0.34](https://github.com/charleskorn/batect/releases/tag/0.34.0) - please try it out and let me know how you go.

[2019-08-01 11:12] asharma8438 opened #154 "Need Info on Inter container access where one container listens on a local port"
I have a use case where i create two containers - one for the build environment using a docker file and other for oracle database using an image. Build container is dependent on database container.
Database has to be accessible from localhost:1521 so i have provided ports as local: 1521 and container: 1521. My Java application build happens in Build container which has tests to be verified against

[2019-08-01 22:32] charleskorn commented on #154
Hi @asharma8438, thanks for the question! You can access other running containers by their name - so if your database container is called `my_database_container`, your Java application can access it at `my_database_container:1521`.

[2019-08-01 23:09] asharma8438 commented on #154
Thanks for your response Charles. Is there a way to access the database at localhost:1521 from the batect container?

[2019-08-02 07:06] charleskorn commented on #154
There's no built-in way to do that, no. Are you not able to use `my_database_container:1521`?

[2019-08-02 07:19] asharma8438 commented on #154
I have my application configuration files and other code files which refer
to the database at localhost:1521.
Can do with the database hostname but wanted to check if it was possible to
avoid the change in hostname.

Regards
Ashish Sharma

On Fri, 2 Aug 2019 at 5:06 pm, Charles Korn <notifications@github.com>
wrote:

--

Regards
Ashish Sharma

[2019-08-02 07:44] charleskorn commented on #154
No worries. Are you ok for me to close this issue? Feel free to open another one if you have any further questions.

[2019-08-02 07:45] asharma8438 commented on #154
Sure thank you.

On Fri, 2 Aug 2019 at 5:44 pm, Charles Korn <notifications@github.com>
wrote:

--

Regards
Ashish Sharma

[2019-08-02 07:51] #154 closed

[2019-08-11 07:23] charleskorn commented on #115
I've just added the ability to keep the stopped containers running (provide `--no-cleaup-after-success` or `--no-cleanup`) and this will be part of the next release.

[2019-08-16 00:06] camjackson opened #178 "Allow a task or container to override an image's ENTRYPOINT"
Say I'm using an image that someone else built, which has set `ENTRYPOINT someTool` in its Dockerfile. When using that image in batect, I can do `command: someCmd`, and inside the container it will run `someTool someCmd`. That's all expected behaviour.

Where it gets tricky is if I want to override the `ENTRYPOINT` that the image has. If I want to get an interactive shell in the container for debu

[2019-08-16 07:54] charleskorn commented on #178
Hey @camjackson, thanks for the detailed suggestion! I'd love to see a PR for this, and I'm happy to give you some pointers on where to get started if you'd like.

[2019-08-23 06:08] priorax commented on #105
This would be really helpful to me as well.
We are currently in the middle of setting up our dotnet core projects to run against temporary Postgres databases.
Since we are wanting to test with fresh databases as well, we want to perform EntityFramework migrations after the dependent database has launched, but before we commence our integration tests.
At the moment we have tried a few variations, b

[2019-08-29 02:06] priorax opened #207 "Ability to set the CIDR range of the network created"
Thanks to the many network re-architectures over the years, my corporate VPN pushes out IP routes for most of the RFC1918 space (with the majority of our infrastructure being on the same IP range as the docker default network)
This means that when I run `docker network create` I get the following error:
[code]

This can be overcome by specifying a CIDR range manually

[code]

At a Daemon level, I

[2019-08-29 09:29] charleskorn commented on #207
Hi @priorax, thanks for the suggestion! Have you tried setting `default-address-pools` for your daemon as discussed in https://github.com/moby/moby/pull/29376? That looks like it might solve the issue - `default-address-pools` defines the pools that Docker can use by default when creating networks.

[2019-09-13 10:10] GoodDingo opened #222 "Issue with non-standard stty on path"
I've checkout clean `batect-sample-ruby` and run this on unmodified master branch:

[code]

when run with sudo, it passed and failed on different thing

[code]

Docker Desktop 2.1.0.2 (37877):
[code]

batect:
[code]

P.S. This is my **first** usage of batect. I have no idea how it works nor how to produce more detailed report.

Thanks,
Mira Hedl

[2019-09-13 12:24] wandrewni opened #223 "Support for using environment variables in volume paths"
Our organization uses maven as our primary build tool, which puts the repository for downloaded dependencies in `$HOME/.m2/repository`.  We would like to be able to mount that directory into the build container's maven repository, but as the `local` field requires absolute paths, there is no portable way to specify a developers `$HOME/.m2/repository`

We would like to do something like:
[code]

Ca

[2019-09-13 21:49] charleskorn commented on #223
Hey @wandrewni, thanks for the question. You can use `~` to refer to the home directory when specifying the local path for a directory mount, so your example would look something like:

[code]

[2019-09-13 21:54] charleskorn commented on #222
HI @GoodDingo, thanks for trying batect and sorry to hear you're having trouble. That should definitely work on MacOS without root. I noticed you're using Amazon's JDK - are you able to try with Oracle's JVM or OpenJDK?

Also, could you please run `which stty` and let me know what it says? There have been issues in the past related to non-standard versions of `stty` interfering with the default on

[2019-09-13 22:37] charleskorn commented on #47
I'm going to close this as won't fix - given the diversity of requirements, and the many tools already out there that could do this much better and work in conjunction with batect, this doesn't feel like a great fit for batect to implement right now.

[2019-09-13 22:37] #47 closed

[2019-09-14 10:51] charleskorn commented on #115
I've added the ability to show output from all containers interleaved (run the task with `--output all`), and this will be part of the next release. I'm not going to implement the ability to save logs to a file just yet - if you feel that `--output all` doesn't satisfy your needs enough, please submit a new issue.

Thanks again for your feedback @ineffyble!

[2019-09-14 10:51] #115 closed

[2019-09-14 14:20] wandrewni commented on #223
A-ha.  I thought that did not work, but what I had tried was putting `~` in the `container` path, which must be absolute.  Now that I've got `local: ~/.m2/repository`, it's working swimmingly.  Thanks!

[2019-09-14 14:20] #223 closed

[2019-09-20 09:53] charleskorn commented on #105
OK, it looks like there are two solutions here, both of which would be valuable:

* some way to run commands in a container that has just become healthy but before any containers that depend on it start (`setup_commands` from above - name TBC)
* some way to run commands in another container after another container becomes healthy but before any containers that depend on it start

The first of thes

[2019-09-24 23:13] priorax commented on #207
Hi @charleskorn , sorry for the delay in getting back to you.
That worked beautifully!
I'll happily close this issue off.

[2019-09-24 23:13] #207 closed

[2019-09-29 03:43] #178 closed

[2019-09-29 06:57] camjackson commented on #115
Yaaas I was just coming here to chime in that this feature would be super helpful, and it's already done! 😁

Time to go update all my repos to 0.36.0!

[2019-09-30 11:12] charleskorn commented on #222
Hi @GoodDingo, just wanted to follow up on this - were you able to try the suggestions above?

[2019-10-13 04:49] charleskorn commented on #222
Hi @GoodDingo, I'm going to go ahead and close this issue, but please feel free to re-open it if you need any further help.

[2019-10-22 09:18] thelukemccarthy commented on #105
I have a similar problem. What I would like to be able to do is run the first task to completion then use batect to spin up another container that joins the same network.

Maybe a new field called 'network-group' could be used to specify which containers get added to the same network?

[2019-10-23 20:49] charleskorn commented on #105
Hey @thelukemccarthy, could you expand a little on what you're trying to do? What does the first task do, and what does the second container do?

[2019-10-29 21:50] alpha-er opened #270 "Image building fails on ADD step with remote source"
Trying out batect and it fails on building an image using a Dockerfile with an `ADD` step with a remote source.

Dockerfile:
[code]

batect.yml:
[code]
Running the batect command:
[code]

batect version:
[code]

[2019-10-29 23:56] charleskorn commented on #270
Hi @alpha-er, thanks for the feedback. Can you confirm that the same Dockerfile works correctly when you use it with Docker directly (eg. with `docker build`)?

[2019-10-30 02:34] alpha-er commented on #270
[code]

[2019-10-30 12:33] charleskorn commented on #270
Perfect, thanks @alpha-er, I'll take a look.

Thanks :)

[2019-10-30 13:21] #270 closed

[2019-10-30 13:21] charleskorn commented on #270
I've fixed the issue and will push out a new release shortly. Thanks again for taking the time to report this issue!

[2019-11-05 23:37] Tzrlk opened #271 "Quoted shell-evaluated commands don't accept additional arguments"
From what I've read in the documentation, tasks can be executed with additional arguments passed to the specified command like so: `batect my-task -- arg1 arg2`. Also, when attempting to use shell interpolation in the command, it is required to modify the entrypoint to be something like `/bin/bash -c`, necessitating the command be quoted.

Unfortunately, because the command is considered a single

[2019-11-10 03:10] charleskorn commented on #271
Hi @Tzrlk, thanks for the suggestion and apologies for the slow response. That's an interesting idea, I'll add it to the long list of ideas to take a look at in the future.

One other thing you might want to consider doing is creating a shell script of your own that accepts the extra arguments and passes them to the command correctly. It's a bit fiddly, but might be clearer than adding `${*}` ever

[2019-11-13 02:19] DamianBis opened #275 "Windows containers"
when running with windows containers i get errors.

"Error: An unexpected exception occurred during execution.
During execution of step of kind 'CreateTaskNetworkStep': java.net.SocketTimeoutException: Read timed out"

Based off of reading the documentation it's not explicitly there, but it seems implied that windows containers aren't supported.

Are there any plans for adding support for windows

[2019-11-13 07:28] charleskorn commented on #275
Hey @DamianBis, thanks for the feedback. You're correct - Windows containers aren't supported, and that isn't explicitly called out in the docs. I'll add something to clarify this.

There are no plans to support Windows containers at the moment - given the relatively small number of people that use Windows containers it's not a priority, but I'd be happy for someone to contribute this (and I assum

[2019-11-17 06:02] charleskorn commented on #105
An update on this: I've added a basic version of this (the `setup_commands` approach discussed in [this comment](https://github.com/charleskorn/batect/issues/105#issuecomment-495142763)), and it's just been released as part of [v0.38](https://github.com/charleskorn/batect/releases/tag/0.38.0).

I don't have any immediate plans to implement the more advanced scenario of running a setup command in a

[2019-11-19 00:23] aidansteele opened #278 "batect doesn't appear to work with Minikube docker daemon"
When I use minikube, I set the following environment variables:

[code]

This fails to run my task and returns the following error:

[2019-11-20 09:01] charleskorn commented on #278
Hey @aidansteele, thanks for the feedback. I'll take a look.

[2019-11-21 09:42] charleskorn opened #286 "Setup commands that run in a different container"
Continuation of discussion in #105, for the more advanced use case:

[2019-11-21 09:43] charleskorn commented on #105
I'm going to close this issue in favour of continuing the discussion on the advanced scenario in #286.

[2019-11-21 09:43] #105 closed

[2019-11-25 10:27] flobas opened #289 "Allow env variable interpretation in volume paths"
Hi there,

I started playing with batect (very great tool!) and I noticed host environment variables aren't taken into account when mounting volumes.

Here is my test: I want to build and run a container that writes a simple file to my host through a Docker volume.

- Batect description (v0.38.0)
[code]
- Dockerfile
[code]
- Trace
[code]

It would be great to allow environment variable interpretat

[2019-11-26 06:40] charleskorn commented on #289
Hi @gobah, thanks for the feedback. Batect supports paths that are relative to the directory that `batect.yml` is in - would that work? So your local mount path might be something like `./test` for example.

[2019-11-26 10:56] gobah commented on #289
Hi @charleskorn and thank you for the quick answer. Relative paths work like a charm however this is not enough for my case.

I'm using a GitlabCI job with a `docker` image and `dind` service to run batect. In this case, the only common path between my job container and dind services is /builds directory (https://gitlab.com/gitlab-org/gitlab-runner/issues/1482#note_34438183).

So I need to mount a

[2019-11-26 21:18] charleskorn commented on #289
Right, makes sense. I'll add this to my backlog!

[2019-12-02 05:10] #278 closed

[2019-12-04 05:27] chandantp opened #296 "batect not propagating host's /etc/resolv.conf to containers"
batect is not propagating host's `/etc/resolv.conf` to the container. As a result, the DNS resolution fails. The example using `alpine` image is shown below.

Note that on running the same container using `docker`, the name resolution succeeds.
Further, on mounting host's `/etc/resolv.conf` to the container in the batect container definition and login to the container, the DNS resolution succeeds.

[2019-12-04 09:06] charleskorn commented on #296
Hey @chandantp, thanks for the feedback. This may be an issue with how Docker does DNS resolution in non-default networks. By default, it will set up a DNS server of its own that will delegate to the host's `resolv.conf` if it can't answer the query. (https://docs.docker.com/v17.09/engine/userguide/networking/configure-dns/ has more details.)

If you attempt to resolve the name with the full domai

[2019-12-04 23:47] chandantp commented on #296
Docker version: `19.03.5, build 633a0ea` (missed providing this earlier)

If the full domain name is provided, the DNS resolution is successful as can be seen below.
[code]

Apparently, when the container is run using `batect`, the DNS resolution is not being delegated to the host's `resolv.conf` when the embedded DNS server is unable to resolve the hostname. The same however works when the contai

[2019-12-05 05:05] nashvan opened #299 "Error attaching: configured logging driver does not support reading"
This issue happens when I am trying to run batect (which is going to run a docker) in our Jenkin agent which is a dockerised agent hosted on ecs. I have mounted docker socket into docker in batect.yaml as below:
containers:
  build-env:
    build_directory: dev-infra/build-env
    volumes:
    - local: .
      container: /code
      options: cached
    - /var/run/docker.sock:/var/run/docker.sock
.

[2019-12-07 01:21] charleskorn commented on #299
Hi @nashvan, sorry to hear you're having issues. Just to make sure I understand correctly, is this what you're trying to do:

* You have a Jenkins agent hosted in a Docker container running on ECS
* You're running batect with the configuration above
* You'd like to mount the ECS host's Docker socket into `build-env`

Is that correct? If so, what would you like to do inside `build-env`?

[2019-12-07 01:25] charleskorn commented on #296
The other big difference between `docker run ...` and batect is that batect also starts a separate Docker network for each task, which results in the behaviour described in that page I linked to.

Can you please try running the following and let me know if you run into the same behaviour?

[code]

This will reveal whether it is an issue with batect or Docker itself.

[2019-12-08 21:54] nashvan commented on #299
@charleskorn Thank you very much for your reply. that is exactly true.
Inside build-env I am trying to run Terraform commands.

[2019-12-09 07:59] charleskorn commented on #299
OK, do you have the same issue if you try to run a Docker container on that same agent without batect?

[2019-12-10 01:05] chandantp commented on #296
Yes, I run into the same behaviour with the above commands as can be seen below:
[code]

[2019-12-10 08:10] charleskorn commented on #296
OK, in that case, it's not an issue with batect, but an issue with Docker. I can't find this issue reported elsewhere, so I'd suggest filing an issue with them.

In the meantime, configuring `--dns-search` for your Docker daemon (see https://docs.docker.com/engine/reference/commandline/dockerd/) may resolve the issue.

[2019-12-10 08:11] #296 closed

[2019-12-13 00:33] paulvalla-zorro commented on #286
That would be handy, we are trying to initialize a dynamodb running in one container, using an aws-cli container to create a table and once everything is ready, run integration tests in a third container.

[2019-12-17 02:40] nashvan commented on #299
Had to change the logging drive and keep it as default (json-file), and that issue fixed. but now facing a terraform versioning issue which I am not getting that issue if I ran the pipeline without batect. while both dockers are using same terraform version.

[2019-12-17 09:04] charleskorn commented on #299
Great to hear the original issue has been fixed. Could you share more details of the error you're seeing with Terraform?

[2019-12-18 02:12] nashvan commented on #299
Actually before that, how we can make batect work and read docker daemon's logs from awslog instead of json-file? is this something to do with batect or the docker container that batect runs on top of our jenkins slave "container"?

[2019-12-18 03:37] avnab commented on #299
hi @charleskorn .   not being able to use awslogs driver is a bit of a showstopper for teams using jenkins ecs slaves that want/need to capture logs in cloudwatch.

it appears that the awslogs driver does not support reading, so things like `docker logs <id>` does not work.  i think when batect tries to attach to container output it is failing due to this.

when the container runs, this is called:

[2019-12-19 08:36] charleskorn commented on #299
Hey @nashvan and @avnab, yep, we can definitely fix this in batect. Looks like the solution would be to explicitly set the log driver for all containers we create to `json-file`.

This is specified when [the container is created](https://docs.docker.com/engine/api/v1.40/#operation/ContainerCreate) in the `HostConfig.LogConfig.Type` property, so we'd need to add that to `DockerContainerCreationRequ

[2019-12-19 08:45] avnab commented on #299
Hi @charleskorn, i've built a version with the logs qs set to false to test tomorrow.   wrt forcing the logconfig to use json-file, i don't think that is an approach we can use, as we need to ensure that container logs are sent to cloudwatch from these containers for policy reasons.   we'll do a bit of testing and then perhaps we can chat about options to deal with this in a PR.

[2019-12-19 08:49] wyvern8 commented on #299
switching gh accounts.. btw great work on this tool - very useful.

[2019-12-19 09:12] wyvern8 commented on #299
another thought @charleskorn - if we do use json-file for launched containers, the ecs slave would log the stdout and stderr of the step containers via awslogs - correct?  that might be accepatable if so. wiil test that.

[2019-12-19 12:20] wyvern8 commented on #299
Draft PR for testing.  https://github.com/charleskorn/batect/pull/304

[2020-01-09 15:12] alexswilliams opened #340 "Blank environment variable values cause exception"
It appears that including an environment variable with a blank value (a valid thing to do in some situations) causes a spec checking error.

e.g. the following task:
[code]
will produce the following error: `Invalid expression ''` when running `./batect myTask`

Changing to `SOME_ENV_VAR: "N/A"` causes the app to run as expected, but causes the value `N/A` to be injected into the environment inste

[2020-01-10 10:42] #340 closed

[2020-01-10 10:42] charleskorn commented on #340
Good catch, thanks @alexswilliams. I've just fixed this and it will be part of the next release.

[2020-01-18 08:22] charleskorn commented on #275
Good news - turns out this isn't hard to implement so I've added support for Windows containers and this will be part of the next release (which should be out shortly). Thanks again for your feedback @DamianBis!

[2020-01-18 08:22] #275 closed

[2020-01-19 05:00] dependabot-preview[bot] opened #348 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/integrationTest/test-images/basic-image/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in thi

[2020-01-19 05:00] dependabot-preview[bot] opened #349 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/integrationTest/test-images/image-with-expose/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file

[2020-01-19 05:00] dependabot-preview[bot] opened #350 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/integrationTest/test-images/image-without-expose/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` fi

[2020-01-19 05:00] dependabot-preview[bot] opened #351 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/build-arg/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[2020-01-19 05:00] dependabot-preview[bot] opened #352 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-additional-hostname/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/conf

[2020-01-19 05:00] dependabot-preview[bot] opened #353 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-additional-hostname/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config

[2020-01-19 05:00] dependabot-preview[bot] opened #354 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency-chain/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.ym

[2020-01-19 05:00] dependabot-preview[bot] opened #355 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency-chain/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.

[2020-01-19 05:00] dependabot-preview[bot] opened #356 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency-chain/proxy/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` f

[2020-01-19 05:00] dependabot-preview[bot] opened #357 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` fil

[2020-01-19 05:00] dependabot-preview[bot] opened #358 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` f

[2020-01-19 05:00] dependabot-preview[bot] opened #359 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-health-check-overrides/dependency/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/co

[2020-01-19 05:00] dependabot-preview[bot] opened #360 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/dependency-container-with-setup-command/task-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/co

[2020-01-19 05:01] dependabot-preview[bot] opened #361 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/proxy-variables/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this

[2020-01-19 05:01] dependabot-preview[bot] opened #362 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/simple-task-dockerfile-command/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml

[2020-01-19 05:01] dependabot-preview[bot] opened #363 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/simple-task-using-dockerfile-with-add-from-url/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.depen

[2020-01-19 05:01] dependabot-preview[bot] opened #364 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/symlinks-in-build-context/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` fil

[2020-01-19 05:01] dependabot-preview[bot] opened #365 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/simple-task-using-dockerfile/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-01-19 05:01] dependabot-preview[bot] opened #366 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-explicit-dependency/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-01-19 05:01] dependabot-preview[bot] opened #367 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-container-with-setup-command/task-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.y

[2020-01-19 05:01] dependabot-preview[bot] opened #368 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-explicit-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.ym

[2020-01-19 05:01] dependabot-preview[bot] opened #369 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-healthy-dependency/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-01-19 05:01] dependabot-preview[bot] opened #370 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-healthy-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml

[2020-01-19 05:01] dependabot-preview[bot] opened #371 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-slow-healthy-dependency/dependency/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config

[2020-01-19 05:01] dependabot-preview[bot] opened #372 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-unhealthy-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.y

[2020-01-19 05:05] #361 closed

[2020-01-19 05:05] #362 closed

[2020-01-19 05:05] #363 closed

[2020-01-19 05:05] #364 closed

[2020-01-19 05:05] #365 closed

[2020-01-19 05:05] #366 closed

[2020-01-19 05:05] #367 closed

[2020-01-19 05:05] #368 closed

[2020-01-19 05:05] #369 closed

[2020-01-19 05:05] #371 closed

[2020-01-19 05:05] #372 closed

[2020-01-19 05:05] #348 closed

[2020-01-19 05:05] #349 closed

[2020-01-19 05:05] #350 closed

[2020-01-19 05:05] #351 closed

[2020-01-19 05:05] #352 closed

[2020-01-19 05:05] #353 closed

[2020-01-19 05:05] #354 closed

[2020-01-19 05:05] #355 closed

[2020-01-19 05:05] #356 closed

[2020-01-19 05:05] #357 closed

[2020-01-19 05:05] #358 closed

[2020-01-19 05:05] #359 closed

[2020-01-19 05:05] #360 closed

[2020-01-19 05:05] #370 closed

[2020-01-21 20:28] alexswilliams opened #393 "Timeout reading docker api /events message body in docker 19.03.5"
Hi,
After upgrading docker to 19.03.5, batect seems to timeout while waiting for dependent containers to become healthy.

I tried to dig into the issue a little, it seems that the chunking format of the /events endpoint has changed, such that it outputs a full buffer at a time (and as a result, the last json object normally gets cut off / included in the next chunk.)

The stack trace generated by

[2020-01-22 08:46] charleskorn commented on #393
Hey @alexswilliams, thanks for the detailed bug report! I'll take a look.

[2020-01-22 09:31] #393 closed

[2020-01-22 09:32] charleskorn commented on #393
I've just fixed this and it will be part of the next release (which I'll release tonight).

[2020-01-22 11:03] alexswilliams commented on #393
Building from that commit solves the issue for me.  Beautiful.  Thanks Charles!

[2020-02-04 21:19] charleskorn opened #401 "Container names"
Suggested by @camjackson in https://spectrum.chat/batect/general/feature-request-container-names~16ddb5a1-af6e-4be0-83ec-964fe0488f89

[2020-02-05 10:45] #401 closed

[2020-02-16 03:04] #289 closed

[2020-02-16 03:48] charleskorn commented on #289
I've just implemented this and it will be part of the next release. Thanks for your feedback @flobas!

[2020-02-20 01:18] yoyo-i3 opened #407 "docker --env-file option"
Using batect has been super useful for me and my team; The one option that will be beneficial to running our containers would be the docker --env-file option as we have 100+ environment variables so we have an env.list file for each environment with its value and with docker we just use the --env-file option. It would be great to have this option in batect so we can pass the file name and location

[2020-02-20 06:50] charleskorn commented on #407
Hi @yoyo-i3, glad to hear you've found batect useful.

Can I clarify where you'd like to use this environment file? Is it to pass options to containers for different environments? If so, you might be able to achieve the same thing with config variables (https://batect.dev/config/ConfigVariables.html). These give slightly better discoverability than environment variables and can also make it easier

[2020-02-20 07:22] yoyo-i3 commented on #407
ConfigVariables are really useful, just started using them today for common variables shared between different applications.
The need for environment files in our project is mainly because we want to have consistent way of deployment to the cloud and on premises environments.

For every environment we already have files with environment keys and their values; so we will have environment file for a

[2020-02-20 23:17] paulvalla-zorro opened #410 "batect.d folder to store batect files configuration instead of everything in batect.yaml"
Hi,

Our `batect.yaml` file is getting bigger and bigger, it would be great to have something to break this file into multiple configuration file, something like that:

[code]

[2020-02-21 06:45] charleskorn commented on #410
Makes sense to me, thanks for the suggestion @paulvalla-zorro!

[2020-02-21 06:56] charleskorn commented on #407
Sorry, three more questions :)

* Are you asking for a command line option to pass a file containing environment variables to a container (something like `./batect --env-from=...`), or a way to reference this file from a container's definition in the batect config file?

* Are you sharing the environment variable files with other tools, or is the file used with batect only used when running and te

[2020-02-21 07:52] yoyo-i3 commented on #407
The config variables functionality is already working great so I was thinking just adding a script in the code or something to handle the config_variables option without having to add the actual variables in the batect.yml file at all.

Example:
batect.yml
—————
containers:
  app1:
    image: my-app:1.2.3
    environment:
         env_var1: env_var1_value
         env_var2: <env_var2_key

[2020-02-25 04:54] BethanyDrake-x opened #412 "additional hostname feature might not work under this windows environment"
[code]

We are running windows container using batect, the `additional_hostnames` doesn't work when connecting from Container A to Container B using the additional hostname.

[2020-02-25 05:05] BethanyDrake-x commented on #412
[code]

And it works using this set of versions.

[2020-02-25 05:32] charleskorn commented on #407
Ok, so it sounds like you don't need anything extra in batect? Or am I misunderstanding?

[2020-02-25 05:39] yoyo-i3 commented on #407
The only two things that would be beneficial is having the below;

Can we use the config-vars-file option without having to add the variables in the config_variables list and in the container’s environment list?

And can we use multiple config-vars-file; one for each of the containers? so we can pass the config-vars-file name in the environment list for each container

Does that make sense?

[2020-02-25 06:01] heyheman11 commented on #407
Hi charles, I also have a similar request. It would be extremely helpful if batect had the ability to consume a .env file similar to how docker-compose consumes it, like [this](https://docs.docker.com/compose/compose-file/#env_file).

[2020-02-26 07:12] charleskorn commented on #407
@yoyo-i3:

This is something I don't plan to add sorry - requiring config vars to be explicitly defined is one of the key benefits over environment variables (as it allows them to be validated and documented), and requiring them to be listed for containers prevents unintended side effects when you add or remove them.

This is definitely something I could see being added, but perhaps in a slightly

[2020-02-27 08:52] charleskorn commented on #412
Thanks for the bug report @BethanyDrake-x! Could you please try running the following commands on the affected machine and share the output with me?

[code]

Also, what image are you using?

[2020-02-27 22:20] BethanyDrake-x commented on #412
docker version

Client: Docker Engine - Enterprise
 Version:           18.09.4
 API version:       1.39
 Go version:        go1.10.8
 Git commit:        c3516c43ef
 Built:             03/27/2019 18:22:15
 OS/Arch:           windows/amd64
 Experimental:      false

Server: Docker Engine - Enterprise
 Engine:
  Version:          18.09.4
  API version:      1.39 (minimum version 1.24)
  Go version:

[2020-02-29 13:16] binkley commented on #116
I've noticed tooling has definitely been moving in this direction.  Perhaps one of the implementation approaches might make sense for `batect`?

- `jenv init -`
- `golangci-lint completion bash`
- `rustup completions bash`

Since `batect` has "reflection" for tasks (ie, `-T` works), it might be straight forward.

[2020-03-01 07:12] charleskorn commented on #116
This is definitely still something I want to do, I've just had more urgent things crop up sadly. I'm always open to PRs if you're interested in contributing one, otherwise, watch this space :)

[2020-03-03 04:26] GerardWorks opened #414 "Add capability to expose a range of ports"
A docker image for example 'Localstack' exposes a range of ports, as a batect user I would like to be able to expose a range of ports

for example:
docker compose file will have:
ports:
      - "4567-4599:4567-4599"

batect could have:
ports:
      - local: 4567-4599
        container: 4567-4599

[2020-03-03 07:29] charleskorn commented on #414
Hey @GerardWorks, thanks for the suggestion. I'll add it to my backlog.

[2020-03-05 21:17] yoyo-i3 commented on #407
Hi Charles,
I will have a go at it and if it worked for me, will do a PR for you to review. Thanks a lot for all the great work..

[2020-03-06 06:25] charleskorn commented on #407
That would be great, thanks @yoyo-i3. If you'd like to get early feedback on a work in progress, I'm always happy to take a look.

[2020-03-07 20:43] binkley commented on #116
@charleskorn Do you have a preferred strawman command line syntax?

[2020-03-08 22:13] charleskorn commented on #116
I've been thinking about it, but I haven't decided on anything. Here are some of the things going through my mind:

One of the constraints we have is that `batect` isn't installed globally (unlike the examples you posted above), so a user couldn't just put `source <(batect completion bash)` in their `.bashrc`, as they'd have to point to a particular project's `batect` wrapper script.

The other co

[2020-03-08 22:15] charleskorn commented on #412
Thanks for the info @BethanyDrake-x, I'll take a look.

[2020-03-09 07:10] dependabot-preview[bot] opened #431 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/src/integrationTest/resources/test-images/cache-mount/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this

[2020-03-09 07:59] #431 closed

[2020-03-09 08:08] dependabot-preview[bot] opened #432 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/src/journeyTest/resources/run-as-current-user-with-cache/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-03-09 08:26] #432 closed

[2020-03-16 14:57] boxleytw commented on #222
I've run into a lot of issues with GNU coreutils version of `stty` on Mac (via Homebrew) when using batect.  However, system version works reliably:
[code]
Homebrew does helpfully warn that using it's program versions in place of system programs can produce problems, and this seems to be one of the cases.

[2020-03-17 10:20] charleskorn commented on #222
Ideally, batect would be using the underlying `ioctl()` call to do what we use `stty` to do, but that opens a whole other can of worms :) I'll see if I can use `/bin/stty` by default.

[2020-03-17 10:37] charleskorn commented on #222
@boxleytw, do you have `/usr/local/opt/coreutils/libexec/gnubin` on your `PATH`? By default, the `coreutils` Homebrew package prefixes binaries that conflict with Mac-provided binaries with a G, so `/usr/local/bin` contains `gstty` but not `stty`.

[2020-03-18 09:24] charleskorn commented on #412
I'm not able to reproduce this issue @BethanyDrake-x - what error message do you get when using `additional_hostnames`?

Also, are you able to share a sample configuration file that reliably shows this issue?

[2020-03-21 00:33] #299 closed

[2020-03-22 10:16] #410 closed

[2020-03-29 05:23] #414 closed

[2020-03-29 05:24] charleskorn commented on #414
I've just implemented this and it will be part of the next release. Thanks again for the suggestion @GerardWorks!

[2020-04-02 05:17] DavidHe1127 opened #461 "Make cached resources available across multiple containers"
My use case is I have 2 tasks and each one needs to run in a different container. They both need the same `node_modules` to be able to run and it has to be installed inside the container rather than on the build agent.

Currently, I am installing it twice in each task run and thinking if it is possible to share it between these 2 containers. i.e node_modules installed on container one when running

[2020-04-02 08:01] charleskorn commented on #461
Hi @DavidHe1127, thanks for the question! It's definitely possible to share the `node_modules` folder between containers. You have two options:

* you can mount a shared cache into both containers - all you need to do is specify the same `name` and they'll both use the same underlying volume

* you can mount a local directory into both containers

Hope that helps!

[2020-04-02 08:20] DavidHe1127 commented on #461
@charleskorn thanks for that. I've worked out this as well.

[code]

This way `node_modules` is also available in `test-env` container as well.

[2020-04-02 08:21] charleskorn commented on #461
Looks good to me. Are you happy for me to close this issue?

[2020-04-02 08:22] DavidHe1127 commented on #461
@charleskorn Yup sure. thanks

[2020-04-02 08:22] #461 closed

[2020-04-05 05:32] wilvk opened #466 "Add support for bash task completion"
It would be great to have the ability to type the start of a task to run for a `batect.yaml` file and have bash complete the task name .

e.g.

If we have a task called `run-tests`

[code]

could autocomplete on tab to:

[code]

[2020-04-05 11:13] charleskorn commented on #466
Hey @wilvk, thanks for the suggestion! This has been on my roadmap for a while and I'm already tracking this with #116, so I'm going to close this as a duplicate.

[2020-04-05 11:13] #466 closed

[2020-04-06 02:35] wilvk commented on #466
Ah, my bad. Didn't see it there! Thanks Charles.

[2020-04-17 11:43] binkley opened #475 "How to clean up old versions of batect jar?"
Poking around `$HOME` I noticed `.batect`, and naturally ran `find .batect -type f`.  I see it's a cache for downloaded Batect jars going back for a while.

Trying the `--clean` flag, I see it cleans up cache mounts (yeah!), however does nothing for the cached jars.

Is there something I'm missing in letting Batect manage cleaning up the cached jars?  I could do this by hand (the layout of `.batec

[2020-04-17 11:48] binkley commented on #222
@charleskorn Sorry ... I didn't see this question until now :(

Yep ... you describe my `PATH` exactly.  I did set it up to use `gnubin`.  It might be fair to say my comments on `/bin/stty` were self-inflicted.

[2020-04-17 12:36] binkley opened #476 "[security] During build, some files become owned by root"
This may be a "how Docker works" question.  However, if there is something Batect can do to help, I'd like to discuss.

----

Violating the principle of least astonishment, without use of `sudo`, a build creates `./docs/build` and everything underneath owned by `root`.  To wit:
[code]
The full output of `find` (without counting files) begins at `./docs/build`.  This causes `./gradlew clean` to fai

[2020-04-17 22:58] charleskorn commented on #222
No worries, I'll change it so that it defaults to `/bin/stty` if that exists, and falls back to whatever `stty` is on the path.

[2020-04-17 23:01] charleskorn commented on #476
Hey @binkley, yep, that's the expected behaviour. Have you had a look at https://batect.dev/tips/BuildArtifactsOwnedByRoot.html? It has a more detailed explanation of what's going on and how batect can help solve it.

[2020-04-17 23:02] charleskorn commented on #412
I'm going to go ahead and close this issue due to inactivity - if you have more information to share, please go ahead and reopen it.

[2020-04-17 23:02] #412 closed

[2020-04-17 23:09] charleskorn commented on #475
It's an interesting idea (especially because I just looked at my local `~/.batect` and it was nearly 1 GB in size 😱).

I'm thinking that, as a first pass, we could add a `./batect --cleanup-downloads` command that would remove anything in `~/.batect/cache` older than the current version.

A future improvement would be to track the last time a version in the cache was used and automatically delete

[2020-04-17 23:45] #222 closed

[2020-04-18 12:12] binkley commented on #475
That sounds sensible.

An enhancement (different story card? :) ) would be that upgrading Batect auto-removes the previous version.

I can see some niggles here: removing a version which in use by another Batect-enabled project.  The worst case there is that the removed version is redownloaded.

[2020-04-18 12:13] binkley commented on #476
Oh, hey, thanks!  No ... I missed that document.  I searched GitHub issues, but forgot about the wiki, etc.  Thanks!

[2020-04-18 12:13] #476 closed

[2020-05-05 10:37] hussein-joe opened #509 "Add support to join an existing docker network"
**_The problem_**
I am using Batect in my current project and I wanted my Batect services to connect to a Kafka cluster(with all Confluent platform services like connect, and control centre). I found that it is challenging to have a compose file with all Confluent services separate from the Batect file.
The only option I had was to copy all Confluent services to another Batect file and include it

[2020-05-05 22:46] charleskorn commented on #509
Thanks for the suggestion @hussein-joe, I'll take a look.

[2020-05-13 04:51] squirmy opened #512 "Example of using batect with Buildkite"
When using Buildkite with command eval disabled it is not possible to pass the task as a command line parameter.

https://buildkite.com/docs/agent/v2/securing#disabling-command-eval

This can be worked around be providing a wrapper script around batect, but would be nicer if it had native support in batect.

[2020-05-13 08:49] charleskorn commented on #512
Hey @squirmy, thanks for the suggestion. How do you imagine this working? Something like setting `BATECT_TASK=the-task`, then running `./batect`?

[2020-05-13 09:26] #475 closed

[2020-05-13 09:27] charleskorn commented on #475
I've added automatic background cleanup of downloaded files that haven't been used in 30 days, and this will be part of the next release.

Thanks for the feedback @binkley!

[2020-05-13 14:20] squirmy commented on #512
Yeah, thats exactly the environment variable I'm setting now and forwarding on to batect in a wrapper script.

Though thinking more after I made the suggestion, you may want to be able to include more args than just the task.

A BATECT_ARGS as a catch all for all arguments may work better. We could keep it simple, if no arguments provided on the command line check to see if BATECT_ARGS exists and

[2020-05-15 23:24] charleskorn commented on #512
I'm keen to keep the core CLI and wrapper script as focused and simple as possible, so I'm not sure I'd want to add this to the main application, and would instead suggest that functionality is implemented as a separate script that then calls `./batect`.

I'd be happy to add a page to the docs with an example script for Buildkite (similar to the pages we already have for [CircleCI](https://batect.

[2020-05-16 08:55] squirmy commented on #512
Sure, sounds good. This is a particular use case for buildkite, and only is required if this option is set.

Looking at those pages they also go into some detail on the default agents / which images to use with batect. Build kite does have a list of default stacks, though its not obvious if it comes with docker and Java.

https://buildkite.com/docs/agent/v3

[2020-05-18 00:16] priorax opened #513 "Interactive tasks/guide for dealing with user input"
At the moment, we have some tasks that are performed outside of batect due to the need to rely on user input, it would be nice to bring these into batect to standardise our processes into one tool.

Example:
 - Naming of a database migration

Current process for us:
  - Run through either a Powershell or a shell script (since our team work across both Windows and Linux) to create the migration wit

[2020-05-18 22:38] charleskorn commented on #513
Hi @priorax, thanks for the question!

Both of the things you've mentioned should work fine - did you try one and it didn't work?

Prompting a user for input is supported - provided you're running batect in an interactive shell (eg. not on CI) and not using `--output=all`, it should work just like it does if you invoke the script directly and allow the user to enter input.

Passing extra args is a

[2020-05-18 22:47] charleskorn commented on #512
Do you know which ones come with Docker and Java?

[2020-05-23 16:24] askfor opened #519 "Provide api for java?"
Hi, is it possible to use batect in jvm? So it can be run in an integration test, kinda like https://www.testcontainers.org

[2020-05-23 23:36] charleskorn commented on #519
Hi @askfor, batect inverts the responsibilities compared to Testcontainers:

With Testcontainers, your test code is responsible for starting containers, waiting for them to become ready etc. and then starting the tests.

With batect, batect is responsible for starting containers, waiting for them to become ready etc., and then starting the container that runs your tests. This makes your tests much

[2020-05-24 02:42] askfor commented on #519
Thanks, I got it. Then I've another question that I didn't find the answer in the document.
Do these containers join the same network as docker-compose does, or it there any mechanism let these containers communicate (like https://www.testcontainers.org/features/networking/ )？
So we can run multiple batect tasks in CI at the same time without port conflict.

[2020-05-24 07:26] charleskorn commented on #519
Each container in the same task joins the same network. Each task creates its own network automatically, so unless you expose ports on the host, tasks shouldn't conflict with each other.

There's also [an open feature request](https://github.com/batect/batect/issues/509) to be able to specify the network a task uses, which would be useful if you want to run two tasks on the same network.

[2020-05-24 07:52] askfor commented on #509
It would be nice if Batect can run a compose file directly, there are many services (and 3rd party projects) already have a compose file.

[2020-05-24 08:06] askfor commented on #519
Thanks for your clarification.

[2020-05-24 09:46] #519 closed

[2020-05-24 09:48] charleskorn commented on #509
@askfor, have you seen [Batectify](https://batectify.enchanting.dev/) by @ineffyble? It converts Docker Compose config files to batect format for you automatically.

[2020-05-25 02:04] askfor commented on #509
Hi @charleskorn, I've seen that, but I think it's better to support docker-compose directly.
1. User or 3rd party project can still change the existing docker-compose file without effecting Batect.
2. Sometimes it is desirable to separate the project's own container from dependencies, especially some complicated ones.  not sure if this can be addressed by "include", but still use docker-compose it

[2020-05-26 09:28] charleskorn commented on #509
It's an interesting idea - thanks for the suggestion @askfor! I'll keep it in the back of my mind for the future, but I'm not sure this would be high on my list of priorities.

[2020-05-26 09:28] charleskorn commented on #513
Just wanted to follow up on this @priorax - did you have any further questions about this? If not, would you mind closing this issue?

[2020-05-26 10:02] charleskorn commented on #512
Hey @squirmy, I've had a go at adding some documentation for using batect with Buildkite in 29555db - would you mind taking a look and let me know if it looks reasonable? (I don't have access to a Buildkite instance of my own to test this on.)

[2020-05-27 22:35] charleskorn opened #520 "Ability to configure additional /etc/hosts entries"
See https://spectrum.chat/batect/general/how-to-configure-extra-hosts-in-batect~3f02a47f-5451-4a4d-b5e0-493e1d575d04 - equivalent to Docker Compose's `extra_hosts` option or the `--add-host` option for `docker run`.

[2020-05-28 11:48] priorax commented on #513
Sorry for the delay!

More than happy for you to close it, I was looking for "interactive", "terminal" and "tty" and just couldn't find anything obvious, but if it's a working use case, more than happy for it to be closed!

[2020-05-28 22:35] #513 closed

[2020-05-30 00:20] #512 closed

[2020-05-30 01:28] #520 closed

[2020-06-03 07:46] hpcsc opened #549 "Add support to get config variable from CLI"
It would be nice if batect can provide a CLI command to get config variable by name (with consideration of config variable files, override variables etc)

**Scenario**:
Currently we use batect config variables to keep repo-wide variables in a central place (.e.g. component name to be used in the code, infra code etc). There are a few exceptional cases where we want to get the same variable names t

[2020-06-03 08:42] charleskorn commented on #549
Hey @hpcsc, is https://batect.dev/CLIReference.html#set-a-config-variable-config-var what you're after?

[2020-06-03 08:52] hpcsc commented on #549
hey @charleskorn

No, I'm looking for way to get the value of config var to use outside of batect, not to set it

[2020-06-03 22:30] charleskorn commented on #549
Ah sorry, I misread your question. There's no built-in way to do that at the moment, but as a workaround, you could achieve the same thing by creating a task that prints the value to the console, and then running the task in quiet mode (`--output=quiet`):

[code]

[code]

[2020-06-04 03:04] hpcsc commented on #549
thanks @charleskorn
that's a good work around for us for now

[2020-06-05 04:25] zizhongzhang opened #551 "Set environment variable on dependency for specific task"
Hi Team,

I have an app the behaviour of which changes based on which mode it is on.
Is it possible to set 'MODE' at batect task level which then pass down to container level at container start-up? below is one hypothetical example.

[code]

[code]

[2020-06-05 23:05] charleskorn commented on #551
Hi @zizhongzhang, thanks for the suggestion! This isn't something that's possible at the moment but I can add it to my backlog.

[2020-06-11 04:03] DiegoAlpizar opened #553 "Comparison with Earthly ?"
How does this compare to https://github.com/earthly/earthly ?

Maybe add it to https://batect.dev/Comparison.html ?

[2020-06-11 22:36] charleskorn commented on #553
Hey @DiegoAlpizar, thanks for the suggestion. I haven't heard of Earthly but I'll take a look and update the docs.

[2020-06-12 10:16] askfor opened #554 "Any way can pass arguments to a command that in prerequisites?"
Hi, Is there any way can pass arguments to a command that in prerequisites?

[2020-06-13 01:23] charleskorn commented on #554
Hi @askfor, thanks for the question. At the moment, that's not supported easily, but there are ways - could you perhaps share what you're trying to achieve so I can understand more?

[2020-06-13 02:27] askfor commented on #554
For example, I want to checkout a certain branch and then run mvn install.

[code]

[2020-06-13 02:27] askfor commented on #554
For example, I want to checkout a certain branch and then run mvn install.

[code]

[2020-06-13 07:19] askfor opened #555 "Can not mount /var/run/docker.sock in windows"
Hi, It seems "/var/run/docker.sock" can't be mounted in windows.
The path was resolved to "D:/var/run/docker.sock" according to the error message.
[code]
[code]

[2020-06-13 07:50] charleskorn commented on #554
In that particular case, it might be easiest to use an environment variable - so your config file would become something like this:

[code]

Which can then be run with something like `branch=my-branch ./batect install`.

Does that work for you?

[2020-06-13 07:51] charleskorn commented on #555
Ah, good catch - I'll take a look at that.

[2020-06-13 08:04] #555 closed

[2020-06-13 10:54] askfor commented on #554
Yes, this will do.
Thanks.

[2020-06-13 11:41] #554 closed

[2020-06-14 06:37] #509 closed

[2020-06-27 06:29] dependabot-preview[bot] opened #559 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/integrationTest/test-images/basic-image/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in thi

[2020-06-27 06:29] dependabot-preview[bot] opened #560 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/integrationTest/test-images/image-with-expose/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file

[2020-06-27 06:29] dependabot-preview[bot] opened #561 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/integrationTest/test-images/image-without-expose/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` fi

[2020-06-27 06:29] dependabot-preview[bot] opened #562 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/build-arg/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[2020-06-27 06:29] dependabot-preview[bot] opened #563 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/cache-mount/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo

[2020-06-27 06:29] dependabot-preview[bot] opened #564 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-additional-hostname/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config

[2020-06-27 06:29] dependabot-preview[bot] opened #565 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-additional-hostname/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/conf

[2020-06-27 06:29] dependabot-preview[bot] opened #566 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency-chain/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.ym

[2020-06-27 06:29] dependabot-preview[bot] opened #567 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency-chain/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.

[2020-06-27 06:29] dependabot-preview[bot] opened #568 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency-chain/proxy/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` f

[2020-06-27 06:29] dependabot-preview[bot] opened #569 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` fil

[2020-06-27 06:29] dependabot-preview[bot] opened #570 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` f

[2020-06-27 06:29] dependabot-preview[bot] opened #571 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/container-with-health-check-overrides/dependency/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/co

[2020-06-27 06:29] dependabot-preview[bot] opened #572 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/dependency-container-with-setup-command/task-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/co

[2020-06-27 06:29] dependabot-preview[bot] opened #573 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/dockerfile-command/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in th

[2020-06-27 06:30] dependabot-preview[bot] opened #574 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/dockerfile-with-add-from-url/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-06-27 06:30] dependabot-preview[bot] opened #575 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/proxy-variables/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this

[2020-06-27 06:30] dependabot-preview[bot] opened #576 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/simple-task-using-dockerfile/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-06-27 06:30] dependabot-preview[bot] opened #577 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/symlinks-in-build-context/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` fil

[2020-06-27 06:30] dependabot-preview[bot] opened #578 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-container-with-setup-command/task-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.y

[2020-06-27 06:30] dependabot-preview[bot] opened #579 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-explicit-dependency/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-06-27 06:30] dependabot-preview[bot] opened #580 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-explicit-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.ym

[2020-06-27 06:30] dependabot-preview[bot] opened #581 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-healthy-dependency/build-env/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml`

[2020-06-27 06:30] dependabot-preview[bot] opened #582 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-healthy-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml

[2020-06-27 06:30] dependabot-preview[bot] opened #583 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-slow-healthy-dependency/dependency/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config

[2020-06-27 06:30] dependabot-preview[bot] opened #584 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/app/build/resources/journeyTest/task-with-unhealthy-dependency/http-server/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.y

[2020-06-27 22:48] #559 closed

[2020-06-27 22:48] #560 closed

[2020-06-27 22:48] #561 closed

[2020-06-27 22:48] #562 closed

[2020-06-27 22:48] #563 closed

[2020-06-27 22:48] #564 closed

[2020-06-27 22:48] #565 closed

[2020-06-27 22:48] #566 closed

[2020-06-27 22:48] #567 closed

[2020-06-27 22:48] #568 closed

[2020-06-27 22:48] #569 closed

[2020-06-27 22:48] #570 closed

[2020-06-27 22:48] #571 closed

[2020-06-27 22:48] #572 closed

[2020-06-27 22:48] #573 closed

[2020-06-27 22:48] #574 closed

[2020-06-27 22:48] #575 closed

[2020-06-27 22:48] #576 closed

[2020-06-27 22:48] #577 closed

[2020-06-27 22:48] #578 closed

[2020-06-27 22:48] #579 closed

[2020-06-27 22:48] #580 closed

[2020-06-27 22:48] #581 closed

[2020-06-27 22:48] #582 closed

[2020-06-27 22:48] #583 closed

[2020-06-27 22:48] #584 closed

[2020-07-12 14:56] askfor opened #600 "Add a pull policy for container images"
I think there should be a pull policy for container images, so a user can choose to always pull images even the image exists.

[2020-07-12 22:55] charleskorn commented on #600
Hey @askfor, thanks for the suggestion. Could you tell me a little bit more about your use case?

(I'm hesitant to add something like this as it would have a significant impact on performance, but if there's a compelling use case for it, I'm open to changing my mind.)

[2020-07-13 00:13] askfor commented on #600
Some images use latest tag, when it was updated, it won't be updated if there is not a pull policy force it always pulls image.
It could be an option user can set, k8s has a similar setting.
https://kubernetes.io/docs/concepts/containers/images/#updating-images

[2020-07-13 05:57] damian-bisignano opened #601 "Add --isolation=hyperv option to batect"
Just realised that this option is already being used. containers start with hyper-v isolation so it's not needed. please delete this post

[2020-07-13 06:13] damian-bisignano commented on #601
S

[2020-07-13 06:13] #601 closed

[2020-07-13 11:09] charleskorn commented on #600
Could you give me an example of an image that requires you to use `latest`?

[2020-07-13 15:54] askfor commented on #600
mostly self-made image, so we didn't want to give them a version for convenience.

[2020-07-13 22:41] charleskorn commented on #600
I'd very strongly encourage you to tag your images with versions and keep those tags immutable. Not only does it have the performance benefit of not needing to pull `latest` every time you run a task, but it also makes your tasks predictable and reproducible - one of the major goals of batect.

Is this because updating image tags in a project (or across many projects) is difficult? One of the thin

[2020-07-14 03:04] askfor commented on #600
I agree that use a fixed version image is a good practice.
But sometimes use latest images is also desirable. For example, the container image itself is under development, so there are lots of updates going on.
Always pull the latest image isn't much a performance impact as it sounds. if the images hash not changed there won't be a real pull. And it's a policy user change set plus it can be defaul

[2020-07-15 07:45] charleskorn commented on #600
Are these for Docker images you are modifying yourself? In that case, another option that might be even more convenient is to refer to the image's build directory directly with `build_directory` rather than needing to build and push the image somewhere.

[2020-07-15 08:25] askfor commented on #600
Yes, these images are maintained by ourselves( maybe different teams) . But build_directory won't always be feasible, those dockerfile could be in different repositories.

[2020-07-19 23:53] Tzrlk opened #611 "Add option to suppress prerequisite task execution"
In the task definition for my project, I have a set of commands that should ideally be run in order. linting should be run after rendering, deployment should only run after successfully linting. However, when orchestrating this in a CI environment such as Jenkins, I find that I want to use the process flow available there, while still preserving the default behaviour locally.

Can an option such a

[2020-07-20 08:38] charleskorn commented on #600
Right, makes sense. I'll add this to my backlog, but can't make any promises when it will be available. I'm always open to PRs if you'd be interested in contributing :)

[2020-07-20 08:42] charleskorn commented on #611
Hey @Tzrlk, thanks for the suggestion. It's an interesting idea, I'll add it to my backlog. (PRs are always welcome too :) )

[2020-07-30 07:24] dflook opened #612 "Set a name for batect created networks"
It's difficult to identify networks created by batect.
When batect creates networks can it set a sensible name & label? Perhaps based on the `project_name`.

[2020-07-30 22:41] charleskorn commented on #612
Hey @dflook, thanks for the suggestion. That makes a lot of sense to me - I'll add it to my backlog.

[2020-08-04 04:52] #600 closed

[2020-08-04 04:52] charleskorn commented on #600
I've just implemented this and it will be in the next release (0.58). Thanks again for the suggestion @askfor!

[2020-08-04 06:14] #611 closed

[2020-08-04 06:22] charleskorn commented on #611
I've just implemented this and it will be in the next release (0.58). Thanks again for the suggestion @Tzrlk!

[2020-08-04 06:40] #612 closed

[2020-08-04 06:41] charleskorn commented on #612
I've just implemented this and it will be in the next release (0.58). Thanks again for the suggestion @dflook!

[2020-08-06 05:58] hongyuanlei opened #614 "Batect will try to download all the docker image versions when there is no image tag be specified"
Here is a container config:
[code]

There is no tag of this image, then when you try to run this container, Batect will try to pull all the versions of this image. It would be better it can use the latest as the default tag.

[2020-08-06 07:14] charleskorn commented on #614
Hey @hongyuanlei, thanks for the bug report, I'll take a look.

[2020-08-07 02:52] charleskorn commented on #614
I can reproduce this issue (and it also affects `--override-image`).

For the time being, please use a tag when specifying an image.

[2020-08-07 05:05] hongyuanlei commented on #614
Thanks for your reply.

[2020-08-19 02:59] thirkcircus opened #627 "batect.cmd broken on windows with powershell core installed"
Root cause appears to be something to do with the order of psmodulepath module resolution but the symptom is this;
[code]

I did a little hunting, changed the last few lines of `batect.cmd` to this
[code]

resulting in this
![image](https://user-images.githubusercontent.com/81165/90586612-b8325980-e22b-11ea-9587-40b581eb06d5.png)

which shows the Desktop PS process resolves `Microsoft.PowerShell.U

[2020-08-19 03:27] thirkcircus commented on #627
https://github.com/PowerShell/PowerShell/pull/11057 looks relevant

so given
![image](https://user-images.githubusercontent.com/81165/90588657-47417080-e230-11ea-8b7c-a3bac444b4a9.png)
it appears that batect removing (if exists)
[code]
from the `psModulePath` env var passed to powershell.exe would fix the problem.

[2020-08-19 11:07] charleskorn commented on #627
Hey @thirkcircus, thanks for the bug report and the detailed investigation :)

Just to confirm, is your terminal running PowerShell? If so, is it PowerShell Core or the desktop version?

I don’t know much more than the basics of PowerShell, so if you have suggestions on how this could be fixed (or would be willing to submit a PR like you mentioned), I’d be very grateful.

[2020-08-20 03:24] thirkcircus commented on #627
yes, I invoked batect from a PS Core terminal.

normally (or at least how I read PowerShell/PowerShell#11057 ), if invoking powershell (desktop) straight from pwsh (core) then it'll do the right thing re psmodulepath and remove the problem entries.  like so;
![image](https://user-images.githubusercontent.com/81165/90713344-3577d000-e2f9-11ea-90d3-37463a7f5566.png)

but when batect is in the mix (i

[2020-08-23 12:16] binkley opened #632 "GitHub action reports no telemetry, even with explicit flag"
*NB* -- repo referenced in this issue: https://github.com/binkley/kotlin-dice.  I'm looking for advice:
1. GitHub does not do the "right thing"
2. Batect does not do the "right thing"
3. Both?

I'd like my local projects to be as clean and faithful as possible.  "Toy" projects like this are how I learn a technology at depth.

----

Following the instructions of output for telemetry, I expected war

[2020-08-24 06:51] charleskorn commented on #632
Hey @binkley, thanks for the bug report.

It looks like there are two things going on here:

1. The telemetry consent prompt (the `batect can collect anonymous environment, usage and performance information...` message) is mistakenly shown when using `--permanently-enable-telemetry` / `--permanently-disable-telemetry`. This is a bug and should be easy to fix.

2. The file that stores your telemetr

[2020-08-26 12:10] binkley commented on #632
@charleskorn Thank you for the advice on caching the maven directory.

Locally, I ask devs to make a `ln -s ~/.m2 .maven-cache` symlink so their local `batect` builds do not redownload.

[2020-08-26 15:53] binkley opened #635 "Documentation or code change to reuse user's existing caches for builds"
I'm looking for either:

1. More clear documentation
2. Code changes

To reuse user's existing caches for builds.  A typical example is Maven or Gradle builds, which cache downloads in `~/.m2` or `~/.gradle`, respectively.  C/C++ builds have these concerns for distributed builds using `ccache` or similar tools.

As a local workaround, I have recommended to others that in a JVM (Java, Kotlin, et al

[2020-08-26 15:54] binkley commented on #632
@charleskorn See https://github.com/batect/batect/issues/635 to cover concerns raised above

[2020-08-27 00:49] doug-ferris opened #636 "Passthrough of current working directory folder name to local volume mount path"
Sorry. I had 0 idea how to title this in a way that makes sense.

My current use case is that I have a project that deploys to AWS Lambda and uses Amazon CDK to build the Cloudformation that will be deployed.

I currently have the following batect config:
[code]

This is wonderful in that it works, but the assets file generated by CDK becomes based on /src/src (eg:
[code]

This normally wouldn't b

[2020-08-27 10:55] charleskorn commented on #635
Hi @binkley, you should be able to use an absolute path or a path starting with `~` in the `local` path for a volume mount to do this. For example:

[code]

This is just an ordinary Docker volume mount, and doesn't use a batect cache. You mentioned you looked at the documentation but how this works wasn't clear - so that I can improve the documentation, where were you looking for this information?

[2020-08-27 11:00] charleskorn commented on #636
Hey @doug-ferris, thanks for your feedback. I'd previously thought about adding the `$(pwd)` idea you suggested, but I've been hesitant to do it due to issues on Windows (how do you map a path like `C:\blah` to a Unix-style path?).

Unfortunately I don't know much about CDK or SAM Local, so this may be a dumb question - why is it using absolute paths? Is there a way to configure it to use relative

[2020-08-27 11:01] charleskorn commented on #632
@binkley, given you've opened #635 for this, are you OK for me to close this issue? 0.58.3 contains the fix for the issue you were seeing with the telemetry prompt.

[2020-08-27 12:04] binkley commented on #632
@charleskorn Yes, do close this issue, please.

[2020-08-27 14:47] binkley commented on #635
This is such a better solution than the symlink -- thank you!

Yes, this was not obvious to me from the documentation.  Reading through the comments on the Gradle issue, this seems complex, and outside scope for Batect.  Personally, I'm not seeing problems, but the issue commenters do encounter them.  This is what I tried:
[code]
No issues that I could see.  I checked the file perms on `~/.m2` and

[2020-08-27 14:47] #635 closed

[2020-08-27 14:48] #632 closed

[2020-08-30 17:19] catacgc opened #637 "Making ports configurable"
Binding a local port on the host is very useful. Unfortunately, this makes it problematic when running builds in parallel on a Jenkins host (two PR builds for example).

It will be very useful to make ports configurable.

[2020-08-31 03:02] doug-ferris commented on #636
I wouldn't have a clue, but unless you can recommend a method of doing docker in docker (which I always feel weird recommending, but if there's an example I've missed, that'd be great), I am happy for this to be closed as not being a batect problem

[2020-08-31 06:26] charleskorn commented on #637
Hi @catacgc, thanks for the feedback. Could you please clarify what you mean by 'configurable'? Are you imagining a CLI option or something like that?

[2020-09-01 09:35] catacgc commented on #637
Yes, at first I was thinking that making config expressions work in ports declarations would be enough. But now I have second thoughts about it. Here's my build definition:

[code]

One ideea was to allow things like:

[code]

But this has the downside that it breaks any yaml schema parsing.

Now I am thinking it's better to have an option to conditionally bind local ports via a config variable, a

[2020-09-01 10:24] charleskorn commented on #637
What if, instead of a config variable, it was a CLI flag? So then locally you run `./batect my-task` as per usual, and on CI you run `./batect --disable-ports my-task`, and batect would effectively ignore `ports` altogether, preventing any conflicts.

[2020-09-01 10:39] charleskorn commented on #636
It is possible to do Docker in Docker, but there are bunch of edge cases and gotchas and so I wouldn't recommend that.

Your suggestion of passing through the current working directory might work, but I agree it's a bit messy as well (you should be able to use the `PWD` environment variable to do this if you want to go down this path).

My only other suggestion would be to file an issue with the C

[2020-09-02 10:51] catacgc commented on #637
Yep, that would be perfect for this use-case

[2020-09-02 11:06] catacgc commented on #637
By the way, I can contribute this as well. Doesn't seem to be such a big change

[2020-09-03 06:34] diffidentDude opened #641 "Container not passed as healthy, even though it is reporting healthy."
Hey,

I'm doing a POC on this, trying to setup a container with health_check. Unfortunately, even though the health_check is reporting healthy, if I do a docker inspect it's listed as healthy but batect doesn't continue to the next stage.

This does work fine in docker-compose.

Config looks like this,
[code]

Console
[code]

Console
[code]

Console
[code]

[2020-09-03 06:43] charleskorn commented on #641
Hey @diffidentDude, thanks for the detailed issue report. There are a couple of things I'd suggest trying:

* Do you see any output that suggests what the problem might be if you run the task with `./batect --output=all test`? (`--output=all` displays output from all containers, including while they're starting up)
* Docker 18.03.1 is a very old version of Docker - are you able to try upgrading to

[2020-09-03 07:21] diffidentDude commented on #641
Could it be related to this https://forums.docker.com/t/docker-for-mac-doesnt-output-to-stdout-when-input-stream-is-provided/10806 ?

[2020-09-03 11:51] charleskorn commented on #641
Hmmm... that seems to indicate that Docker isn't passing along the health events to batect. If you run `docker events --since 0 --filter event=health_status` in one terminal window, and then run `./batect --output=all test` in another terminal window, do you see any new `health_status` events appear in the output from `docker events`?

[2020-09-03 22:25] diffidentDude commented on #641
Yeah, I think you're onto something. The output of
[code]
is nada.

[2020-09-04 09:05] charleskorn commented on #641
That sounds like an issue with Docker rather than batect sorry - is there no way you can upgrade to a more recent version?

[2020-09-05 03:53] diffidentDude commented on #641
No worries, definitely sounds like it.
I'll do my best to get an update, thanks so much for your help. You can close this off if you like.

[2020-09-05 10:36] charleskorn commented on #641
One other thing you could try - what happens if you run `docker events` like before but run Docker Compose instead of batect?

[2020-09-06 00:40] #614 closed

[2020-09-06 00:41] charleskorn commented on #614
Thanks again for the bug report @hongyuanlei - I've just fixed this issue and it will be part of the next release.

[2020-09-07 07:11] diffidentDude commented on #641
I have done it, and gotten some really weird results.

I do see events... but not when I expect them. I'll do some more testing and report back.

[2020-09-08 10:19] #637 closed

[2020-09-12 04:28] charleskorn commented on #116
https://github.com/batect/batect/pull/649 may be of interest to you - it is an RFC for how this could actually be implemented.

[2020-09-12 04:52] ineffyble commented on #116
One thing to be careful of is breaking environments when files move.

Serverless Framework uses a Node package called `tabtab` to automatically add bash completions by adding a line to the user's `.bashrc` (or similar). This happens automatically when you run `npm install` (without any option to stop this happening), and the line in the `.bashrc` (or similar) points at a file in the relevant `node

[2020-09-13 03:09] charleskorn commented on #116
Thanks for the feedback @ineffyble. My plan is to have only one globally-installed script per shell, and use mechanisms like Fish's `/usr/local/share/fish/vendor_completions.d` and Homebrew's `/usr/local/etc/bash_completion.d` for Bash - these simply load whatever is present in these directories, so there's no risk of issues with things being moved or uninstalled.

[2020-09-16 06:05] smozely opened #654 "Running on Remote DOCKER_HOST"
Hi there,

Just wondering if its expected that I should / shouldn't be able to run batect pointing to a remote docker host?

I've setup DOCKER_HOST to point to my docker server, and batect starts working, pulls the image and attempts to start ... but then I get an error.

Error: Could not run container node-build-env.
Starting container 'id' failed: error while creating mount source path '/Users/s

[2020-09-16 07:06] charleskorn commented on #654
Hey @smozely, thanks for the question.

If you are using any features that rely on local resources (volume mounts is the biggest one), this won't work - Docker doesn't support mounting volumes from one machine to another.

In theory, if your containers have no dependency on local resources, it _should_ work. However, this hasn't been tested - what's the reason for wanting to run against a remote D

[2020-09-16 09:00] smozely commented on #654
Hey @charleskorn cheers for the quick response ...

Yeah of course that makes sense about docker not handling mounting volumes like that.

... Ah the main reason was just me trying to use an old Mac Mini as a docker host, and let me offload some work from my underpowered laptop. So not an important use case :) Thanks for the response

[2020-09-16 09:00] #654 closed

[2020-09-17 21:52] Tzrlk opened #655 "Dockerfile build doesn't support BuildKit"
When using the following batect container config:
[code]
and the following Dockerfile:
[code]
I receive the following error:
[code]
I've got BuildKit enabled in both environment variables:
[code]
and in the daemon config:
[code]
And regular docker builds succeed without issues:
[code]
Why is batect ignoring the BuildKit feature flag? I would have thought setting it in the daemon config would have

[2020-09-19 22:49] charleskorn commented on #655
Hey @Tzrlk, thanks for the detailed issue report. batect doesn't currently support BuildKit, but it's been on my to-do list for a while. I can't promise when it will be available, but I'll take a look at it soon.

To your question about the `DOCKER_BUILDKIT` environment variable: this only applies if the Docker CLI is used - batect uses the Docker API directly, and I'm guessing IntelliJ does the s

[2020-09-20 21:57] Tzrlk commented on #655
I figured it'd be something like that. Strangest is that the daemon configuration for BuildKit doesn't flow-through to the api. Not like strange design decisions aren't par for the course with Docker, though.

[2020-09-23 06:03] SongGithub opened #663 "Occasional SocketTimeoutException during CreateContainerStep"
Please help to diagnose this issue. It happens intermittently.

[code]

[2020-09-23 06:42] charleskorn commented on #663
Hey @SongGithub, sorry about that.

Could you share the output of `./batect --version` so I can see what batect, Docker and OS version you're using?

Also, does this happen with only one task or container, or any?

[2020-09-23 12:28] SongGithub commented on #663
hi @charleskorn ,
- batect 0.56
- Docker v19.03
- OS: centos7

It happens on any task/container.

[2020-09-23 12:30] SongGithub commented on #663
is there any flag to turn on verbose error logging, so that when I catch it next time, the error log would give more details about root cause.

[2020-09-23 22:19] charleskorn commented on #663
Yep, you can run batect with `--log-file=some-log.json` to create a log file at `some-log.json`.

The timeout that error is referring to is currently set to 60 seconds, which should be plenty of time. If you create a container using the Docker CLI directly, how long does it take? (eg. run `time docker create foo-env:11.0.0`)

[2020-10-01 07:35] SongGithub commented on #663
thank you for reply and I will add a logging flag to it. Hope to catch it in action next time.

[2020-10-01 10:27] hpcsc commented on #549
hey @charleskorn , could I check with you one more thing related to this issue: so far we have used your workaround above in our pipeline like this:

[code]

This works fine when batect is already cached in build agents. When it's not, the command above will download batect and the variable `NAME` contains the log as the result of downloading.

I take a brief look at the wrapper and there's a vari

[2020-10-01 10:34] charleskorn commented on #549
That looks like a bug - the wrapper should be passing `--silent` to `curl` to suppress the output when `BATECT_QUIET_DOWNLOAD` is set. For the time being, you could modify your wrapper script to include this.

[2020-10-01 10:46] hpcsc commented on #549
awesome, thanks for the fast reply (and commit). Will do some workaround for now and wait for the next version with this change

[2020-10-02 00:47] SongGithub opened #665 "batect not propagating host's /etc/resolv.conf to containers"
batect is not propagating host's /etc/resolv.conf to the container. As a result, the DNS resolution fails. The example using alpine image is shown below.

Note that on running the same container using docker, the name resolution succeeds.
Further, on mounting host's /etc/resolv.conf to the container in the batect container definition and login to the container, the DNS resolution succeeds.

## not

[2020-10-02 06:17] charleskorn commented on #665
Hi @SongGithub, thanks for the detailed issue report. Does the name resolve correctly if you use the full domain name? (eg. `forwardproxy.mycompany.com` instead of `forwardproxy`)

Also, as mentioned in #296, this may be because Docker does some unusual things with non-default networks. If you run the commands in https://github.com/batect/batect/issues/296#issuecomment-562799749, do you see the sa

[2020-10-08 22:51] charleskorn commented on #636
Given there's been no activity on this issue for over a month, I'm going to go ahead and close it. Please feel free to reply here or open another issue if you have further questions.

[2020-10-08 22:51] #636 closed

[2020-10-08 22:52] charleskorn commented on #641
Hey @diffidentDude, did you have any luck with this?

[2020-10-09 11:32] SongGithub commented on #665
Yes, it resolves fqdn correctly. Only issue is that it can’t resolve the short forwardproxy URL to the fqdn correctly.

[2020-10-09 11:34] SongGithub commented on #665
I have tried to run commands in #296 . But It didn’t manage to reproduce the symptom as seen with Batect.

[2020-10-09 22:47] charleskorn commented on #665
OK, that's strange, batect isn't doing anything special around this. Are you able to share the full contents of `/etc/resolv.conf` when you run the container with and without batect?

Also, what image are you using? Some versions of Alpine don't support the `search` option in `resolv.conf`, which is required to get the behaviour you're expecting, and later versions support this but have limitation

[2020-10-10 02:58] charleskorn opened #679 "Slow container start times with latest version of Docker for Mac (v2.4)"
It seems the introduction of a new file sharing feature in the latest version of Docker for Mac can cause containers to take quite a long time to start (20-30s).

Symptom in batect is batect saying the container has started, but there is no output from the task for a while, or an error about a timeout during `RunContainerStep` or `InitialiseCachesStep`.

If this is happening to you, try disabling

[2020-10-12 13:50] boxleytw opened #680 "Documentation: Recommend running Gradle with `--no-daemon` flag"
This issue is specific to Gradle builds with Batect.

The documentation should mention using the `--no-daemon` flag for running Gradle in `batect.yml`.  Several reasons:

* There is no point in spinning up a daemon for a Docker ephemeral container
* With a daemon, the Docker container's Gradle may be confused by `~/.gradle/daemon` and `/.gradle/workers` directories, as these refer to processes in

[2020-10-12 21:21] charleskorn commented on #680
Hey @boxleytw, https://batect.dev/tools/Gradle.html describes setting the `GRADLE_OPTS` environment variable to `-Dorg.gradle.daemon=false`, which has the same effect as `--no-daemon`.

[2020-10-13 23:29] SongGithub commented on #665
I have been done triage tasks to rule out issue with
- nginx.conf.
- particular Docker image.

[2020-10-13 23:31] SongGithub commented on #665
anyway

[code]

[2020-10-13 23:43] charleskorn commented on #665
Thanks @SongGithub. Is `resolv.conf` from the container the same when you run it with the Docker CLI directly and with batect?

[2020-10-14 02:49] heyheman11 opened #681 "Health check seems to cause timeout issues"
Hi there, we are using batect to run browser tests against a docz dev server and it seems the health check on the server isn't working and causing timeout issues.

This is the set-up:

- Node container running a docz dev server
- testcafe image running tests against dev server

**batect**: 0.56

Below is our config file::

[code]

When I run `./batect --ouput=all browser-tests` I get the following

[2020-10-14 03:06] charleskorn commented on #681
Hi @heyheman11, what version of Docker are you using? (Some older versions of Docker don't always correctly report health check events.)

[2020-10-14 03:10] heyheman11 commented on #681
Hey @charleskorn thanks for getting back, I'm running docker for mac version 18.03.1

[2020-10-14 03:14] charleskorn commented on #681
OK, this sounds like the same problem as #641. Docker 18.03.1 is a very old version and has a known issue with reporting health check events, which is why you're seeing this issue. Are you able to upgrade to a newer version of Docker?

[2020-10-14 03:28] heyheman11 commented on #681
Apologies about the duplicate issue, I did see that. Unfortunately I'm unable seeing as docker is managed by the company I work for, thank you for the heads up though!

[2020-10-14 03:28] #681 closed

[2020-10-14 10:41] diffidentDude commented on #641
@charleskorn sorry, got busy with other things, I'll make it a priority.

[2020-10-14 22:13] dalzymendoza commented on #679
Thanks, this solved my issue.

[2020-10-15 07:58] SongGithub commented on #665
yes it is.

[2020-10-15 09:04] charleskorn commented on #665
OK, that `resolv.conf` looks correct, so it's not that.

I've tried to reproduce this problem myself in a similar environment but have not had any luck - are you able to share a `batect.yml` that exhibits this problem so I can reproduce it and debug it myself?

[2020-10-16 01:40] charleskorn commented on #655
I've just released v0.60 which has experimental support for BuildKit. Please give it a go and let me know if you run into any issues.

[2020-10-19 00:05] Tzrlk commented on #655
Appears to switch to the BuildKit engine just fine, though has problems pulling the syntax image from either a private:
[code]
or public repo:
[code]
If I remove the syntax image reference (and any features that depend on it), the build seems to run fine, though with way less logging (as BuildKit is want to do without further configuration).

[2020-10-19 00:17] charleskorn commented on #655
OK, that makes sense - BuildKit handles registry authentication slightly differently and it looks like batect isn't quite doing the right thing.

Does using an image from a private repo that requires authentication work for you?

[2020-10-19 00:49] Tzrlk commented on #655
Regularly, yeah, and even with regular BuildKit builds. Just need to `docker login <registry>` at some point beforehand.
Only seems to have trouble with the syntax image.

[2020-10-19 01:55] charleskorn commented on #655
Thanks for the info - I can't promise when I'll be able to fix this, but it's high on my priority list. I'm waiting for https://github.com/square/wire/issues/1325 to be resolved before I can pick this up.

[2020-10-28 05:13] charleskorn commented on #116
📢 I've just released [v0.62](https://github.com/batect/batect/releases/tag/0.62.0) which includes shell tab completion support for Fish. I'll add support for other shells (including Bash and zsh) in a future release.

If you have any feedback on this, please feel free to post it here or open a separate issue for bugs.

[2020-10-30 14:33] binkley commented on #680
I've been tracking this locally in https://github.com/binkley/modern-java-practices which provides strawman builds for Gradle and Maven on a trivial project.

Presently, both Gradle and Maven builds with Batect (`build-gradle` and `build-maven`, respectively) work.

I'm encountering confusing issues with Gradle builds only.  This may not be Batect's issue, but Gradle's.

I need to update my `batec

[2020-10-30 22:05] charleskorn commented on #680
My general advice to anyone using Gradle is to mount a separate cache volume for `~/.gradle` instead of using a mounted directory from the host. On macOS and Windows, the I/O performance of a mounted directory is pretty terrible, and then there are also issues like these that make it unreliable.

[2020-11-01 14:12] binkley opened #706 "Gradle build best practices"
Howdy @charleskorn!

I've been working at [a long-form article on "best Java/JVM build practices" for the local build](https://github.com/binkley/modern-java-practices) (my first 100+ star repo!).  I note you handle your Gradle build a little differently than the conclusions I came to.  For example, my suggestion is to fix plugin versions in `settings.gradle`.  And I see you deal with multi-module

[2020-11-01 18:02] binkley commented on #706
Actually, I full of puffy, powdery stuff.  I found Ben Mane's plugin in your `build.gradle`.  I don't know why I missed this on first pass!

[2020-11-01 18:20] binkley commented on #706
OK, I'm doing the poor Netiquitte thing and reopening.  Would you be open to a "build" PR?

No code changes, just refreshing the build.

[2020-11-01 21:06] charleskorn commented on #706
Hi @binkley, thanks for the offer of a PR. What did you have in mind for refreshing the build?

[2020-11-02 12:53] binkley commented on #706
It's overall a solid build, so "refresh" is too strong a word.  More projects should show the respect for the local build that you do.

I'd like to:

1. Pull the version numbers out of the build, keeping them all one spot: `gradle.properties`
2. Convert to Kotlin build syntax (since this is a Kotlin project)
3. Possibly lock down `dependencyUpdates` to only use release versions (up to you)
4. Poss

[2020-11-02 13:39] binkley opened #708 "GitHub action redownloads some Maven plugins"
Expected behavior: this is all cached, and not redownloaded on each CI run.

**NB** -- ignore the adoptopenjdk image download: To be addressed separately from this issue.

[code]

[2020-11-02 13:46] binkley commented on #708
Ooops .. I apologize.  In the wrong browser tab!  This issue for for a different project.  _Mea maxima culpa_

[2020-11-02 13:46] #708 closed

[2020-11-02 14:16] binkley opened #709 "Advice on caching Docker images in CI that are used by Batect"
Looking for advice or Batect documentation update ("Working with CI systems").

[code]

I'm looking for advice on caching the Docker image downloads in GitHub actions.  I'd rather not pull down a new image on each run of Batect in CI.

I tried this in my GitHub actions YAML:
[code]
(I committed a local `.docker-cache` file in the project so GitHub would have a unique cache key.)

I did some resear

[2020-11-02 14:22] binkley commented on #680
I'm unable to close this.  :)

[2020-11-03 00:36] #680 closed

[2020-11-03 00:39] charleskorn commented on #709
Hey @binkley, I haven't tried this myself, but https://github.com/satackey/action-docker-layer-caching looks like it might be relevant to your situation. The readme does suggest that pulling images from source is generally faster than restoring them from cache, but it might be worth experimenting to see what works best for you.

I'd be very keen to hear how you go, this would be a great thing to a

[2020-11-03 00:55] charleskorn commented on #706
Those all sound like great ideas. I'd suggest submitting each of these as their own PR to keep the PRs small.

This will almost certainly break Dependabot (it doesn't yet support Gradle configuration in Kotlin, and I don't believe it's sophisticated enough to understand variables), but I've been thinking about switching to Renovate anyway, which does support both of these. I'm happy to set up Reno

[2020-11-03 10:34] binkley commented on #709
Hmm.   That project looks like it is aimed at building images.  However, it would obviously use `/var/lib/docker` as well, so the implementation seems applicable.

But you have a good point.  I don't have a CI performance issue per se, I just wanted consistency around caching.   I may have fallen into the trap of _A foolish consistency is the hobgoblin of little minds_!

[2020-11-03 10:34] #709 closed

[2020-11-05 15:39] binkley commented on #706
Note a change I'm adding to my fork, in support of:

1. Consistency in `build.gradle`
2. Eventual PR for Kotlin-based DSL

I'm regularizing the quoting throughout `build.gradle`(s) to use double quote marks rather than single quote marks.  Groovy supports them both, whereas Kotlin supports only double quote marks.

I hope to get a PR out today (depending on time demands from my day job :) ).

Also

[2020-11-05 18:28] binkley commented on #706
re: Skipping Spotless

I'm working to move _all_ plugin, tooling, and dependency versions into root-level `gradle.properties`:

1. Avoid spreading version numbers across multiple `build.gradle` files
2. Make it clear in one place that plugin and tooling versions are often related

_However_, spotless `spotlessApply` task is **deleting** the `pluginsManagement` block from `settings.gradle`.  I'm re

[2020-11-05 18:35] binkley opened #714 "Local build on Linux creates docs/build as root-owned"
This is something I'm researching.  I find that running:
[code]
results in `./docs/build` output directory as owned by "root", so a following `./gradlew clean` fails for permissions.

**To reproduce** (I'm using current Ubuntu 20.04 LTS):

[code]

**NOTE** CI builds would not catch this (I believe) as they always start "clean".

[2020-11-05 19:26] binkley opened #715 "Introduce JaCoCo for local code coverage"
**AS A** developer
**I WANT** my local build to fail when I drop coverage
**SO THAT** I have confidence in new or changed code

I noticed the CI build in GitHub relies on Codecov, and there is no matching equivalent in my local build (I see `~/.codecov.yml` in the root for the CI action to use).  I also don't know when I should crank up the the coverage number(s).

I'd like to introduce JaCoCo to

[2020-11-05 21:15] charleskorn commented on #715
Hey @binkley, this is available but disabled by default because I found it has a large (~50%) impact on build and test cycle times.

If you'd like to generate code coverage, run the build with `-PgenerateCoverage=true`, eg. `./gradlew check jacocoReport -PgenerateCoverage=true`.

[2020-11-05 21:15] charleskorn commented on #715
(If there's a better way to do this, I'd love to hear it, this seems very awkward.)

[2020-11-05 21:17] charleskorn commented on #714
Ah good catch - that would be because the docs build is running from within a Docker container.

I'm in the midst of completely revamping the docs (including moving them out of this repo), so fixing this is a low priority for me. For now, you could try disabling building the docs if this is impacting other things.

[2020-11-05 21:24] charleskorn commented on #706
Is the `pluginsManagement` block the first block in that file? Spotless does some weird stuff for Gradle scripts to determine where the license header should end up. It's based on a regex that finds the first non-license statement in the file, and is defined in https://github.com/batect/batect/blob/master/gradle/spotless.gradle#L50. It may be that we just need to add `pluginsManagement` as another

[2020-11-06 12:03] binkley commented on #714
Understood.  It caught me off guard -- my "build practices" repo doesn't exhibit this behavior when I run Batect from command line.

Ah ... /light dawns/  <-- I see what happened: it's not running Batect, it's running through Docker.

[2020-11-06 13:49] binkley commented on #715
Sounds good.  For me, I haven't found before that JaCoCo contributes must to overall build times (_vs_ PITest, for example, which clearly does), but I haven't tried many multi-project projects.

I'll close this for now, and do some before/after timing comparisons before submitting a PR to make coverage the default for local build.

[2020-11-06 13:49] #715 closed

[2020-11-06 14:45] binkley commented on #706
The runtime syntax rules for `settings.gradle` require that the `projectManagement` come at the top.

Thanks for the pointer on the license text.  I'll experiment with that regex.

[2020-11-07 10:44] catacgc opened #724 "Feature proposal: HCON as alternative to YAML"
[HOCON](https://github.com/lightbend/config/blob/master/HOCON.md) is a much more capable (and, subjectively, more readable) configuration lanaguage than YAML

Given that kotlin serialization supports it already, it would be a perfect fit for batect, with some built in capabilities that are very powerful:
- composability: the biggest thing I miss in batect right now. Example: ability to use a volum

[2020-11-09 06:31] charleskorn commented on #724
Hey @catacgc, thanks for the suggestion.

I'm interested to understand more about some of the ideas you raise there and how the existing YAML configuration file format isn't meeting your needs. Could you elaborate on how the existing format isn't working for you and how HOCON would work better? If you could provide some examples of what you're thinking, that would be even better.

[2020-11-14 01:06] charleskorn commented on #641
I'm going to close this due to inactivity. If you're able to investigate further, please feel free to re-open the issue.

[2020-11-14 01:06] #641 closed

[2020-11-14 01:06] charleskorn commented on #663
I'm going to close this due to inactivity. If you're able to investigate further, please feel free to re-open the issue.

[2020-11-14 01:06] #663 closed

[2020-11-14 01:06] charleskorn commented on #665
I'm going to close this due to inactivity. If you're able to investigate further, please feel free to re-open the issue.

[2020-11-14 01:06] #665 closed

[2020-11-17 18:33] jbduncan opened #730 "Can't start container if Unix group doesn't exist"
I'm seeing a strange error when I run this example project, which I was hoping you could help me with: https://github.com/jbduncan/batect-failing-example.

When I manually start up a container based on the AdoptOpenJDK image in the project above, and then I access its shell with `docker exec -it <container-name> /bin/sh; exit`, it works fine for me. By comparison, when I run `./batect shell`, it p

[2020-11-17 21:11] charleskorn commented on #730
Hey @jbduncan, thanks for the detailed issue and repro project.

Could you please confirm a few details so that I can work out what's going on?

* What OS are you using on your machine?
* What's the output of running `id -g` and `id -gn` on your machine?

[2020-11-18 11:15] jbduncan commented on #730
@charleskorn Wow, thanks for the quick response. :)

I'm using macOS Catalina 10.15.7 with Docker Desktop.

My outputs for the commands you requested are as follows:

`id -g`: 1687511723
`id -gn`: 1687511723

[2020-11-18 21:11] charleskorn commented on #730
Looks like something weird has happened with your system's groups. `id -g` should give the ID of your primary group (norrmally `staff` on macOS), and `id -gn` should give the name of your primary group. The fact that `id -gn` is returning the ID suggests that something has gone awry.

If you go to Users and Groups in System Preferences, unlock it and then right-click on your user and select Advanc

[2020-11-19 09:37] jbduncan commented on #730
@charleskorn Ah, interesting.

It says "1687511723" for my group. My user ID is a different number, if that helps.

I wonder if my group is like that because my employer, who owns the MacBook, has done something unusual with the machine setup.

Any further thoughts on this? Is this something I should raise with my employer, or is it something that batect could work around?

[2020-11-19 09:46] charleskorn commented on #730
Unfortunately it's not really something batect can easily work around - your user is in an invalid state. This might be because your employer has set your machine up like this, but the only other time I've seen something like this was when there was some file corruption going on (normally group IDs are somewhere between 2 and 5 digits).

The best thing to do would be to get your primary group set

[2020-11-19 09:53] jbduncan commented on #730
Hmm. A colleague of mine has done a quick search on the `id` man page, and he came up with this:

[code]

This kind of suggests to me that this behaviour, although very unusual, is not unexpected.

Any further thoughts on this?

[2020-11-19 21:24] xdavidnguyen opened #732 "docker rate limit for batect-cache-init-image"
hi,

we recently hit the docker rate limiting when running batect in CI: `Pulling the cache initialisation image 'batect/batect-cache-init-image@sha256:ac625b08d33aa6af8b0a5c61aa59e3c06d75007138b2e26d607c95274b2daed5' failed: Pulling image 'batect/batect-cache-init-image@sha256:ac625b08d33aa6af8b0a5c61aa59e3c06d75007138b2e26d607c95274b2daed5' failed: toomanyrequests: You have reached your pull rat

[2020-11-20 05:06] charleskorn commented on #732
Hey @xdavidnguyen, thanks for reporting this issue, I'll see if there's anything I can do to prevent this.

In the meantime, you can try pushing the image to a private image registry and then passing the image name to batect with [`--linux-cache-init-image`](https://batect.dev/CLIReference.html#set-cache-initialisation-image-linux-cache-init-image), or by setting the `BATECT_LINUX_CACHE_INIT_IMAGE

[2020-11-20 10:16] jbduncan commented on #730
@charleskorn FYI, I'm just checking if the result of `id -g(n)` is the same for all my colleagues or not.

[2020-11-20 15:19] jbduncan commented on #730
Unfortunately, all my dev colleagues have the same group name and ID as me, and I've not yet heard anything from the team inside my company who looks after our Macs...

I acknowledge that this is a hairy situation and you're hesitant to move forward because batect can't easily work around this edge case, so if you'd find it helpful, I'd be more than happy to delve into the batect source code and s

[2020-11-20 16:51] jbduncan commented on #730
@charleskorn I have some good news, albeit some strange news.

Enabling my company VPN changes my machine's unix group name to something reasonable, apparently. I never knew VPN could do that! And batect doesn't choke on it, which is fantastic. ✨

I'd still like to investigate this further though, so if you're open to my suggestion in https://github.com/batect/batect/issues/730#issuecomment-731230

[2020-11-20 21:55] charleskorn commented on #732
I've submitted a request to Docker to have that repository included in their Open Source program (which would remove the rate limits for everyone). If I don't get a response within a few days, I'll investigate moving the image elsewhere.

[2020-11-20 22:07] charleskorn commented on #730
That is strange but good news :) It looks adding a workaround for this weird situation isn't too difficult (and wouldn't break anything that relies on the information), so I'll push up a fix for this shortly.

[2020-11-20 22:13] #730 closed

[2020-11-22 21:52] xdavidnguyen commented on #732
thanks @charleskorn for the quick response

[2020-11-23 02:28] xdavidnguyen commented on #732
hey @charleskorn , just thinking whether batect can provide an option to set the batect cache image at global level instead of having to provide either env variable or flag in every batect command that uses cache?

[2020-11-23 05:43] charleskorn commented on #732
What did you have in mind @xdavidnguyen? A property in the configuration file or something else perhaps?

[2020-11-23 06:54] xdavidnguyen commented on #732
yes, properly something like the built-in config var `project_name` where you have the option to override it like other config variables

but thinking from different perspective, batect cache image is internal to batect and users properly don't want to concern with what tag of that image to use either. So an option to specify docker remote server (default to docker hub) is better in my opinion

[2020-11-23 09:39] jbduncan commented on #730
Wow! Thank you very much for implementing this workaround so quickly. (And also thank you for being so receptive in general!)

I'll use my VPN-based workaround for now, but I'm very much looking forward to the next release of batect. :)

[2020-11-23 09:42] jbduncan commented on #730
Oh, I should've looked at the releases first. 😅

Thank you very much as well for the very fast bug-fix release! Looking forward to trying it out as soon as I have the opportunity.

[2020-11-26 21:05] charleskorn commented on #732
Just to keep you updated: Batect has been accepted into Docker's open source program, so the pull limits will be removed from the cache init image. This might take a day or two to take effect.

[2020-12-08 08:44] charleskorn commented on #732
I've just been informed by Docker that the rate limits have been removed. If you're still encountering issues with this, please feel free to comment here.

[2020-12-08 08:44] #732 closed

[2020-12-10 21:12] charleskorn commented on #655
🚨 Batect's experimental support for BuildKit does not work with Docker 20.10. I'll take a look at this in the next few days to see if it's an easy fix, but at first glance it looks like it's related to the changes that are blocked by that Wire issue linked above.

[2020-12-23 01:03] Abhisha1 opened #769 "Problem with search results on https://batect.dev/search"
Hi there!

I've been using batect and was using the search functionality in the browser to investigate caching. I can see a view results when searching from the homepage, but when I click to view more results and get redirected to the search page, it yield no results (tried a bunch of terms to verify). I've attached a screenshot of the error below.

Thanks
![image](https://user-images.githubuserco

[2020-12-23 03:19] charleskorn commented on #769
Thanks for letting me know about this @Abhisha1 - this is something I'm aware of and am looking into. Like you said, the quick search box does display results, so I'd suggest using that for now.

[2020-12-26 22:19] #769 closed

[2020-12-26 22:20] charleskorn commented on #769
This should be fixed now, thanks again for your feedback @Abhisha1!

[2020-12-28 06:47] charleskorn commented on #655
I've just released 0.64.2 with a bunch of improvements to BuildKit support, including a fix for Docker 20.10 and support for pulling images from registries that require credentials.

Based on my testing, this should fix all of the issues discussed in this issue, so I'm going to go ahead and close it. If that's not the case, please feel free to comment here or open a new issue if you run into any o

[2020-12-28 06:47] #655 closed

[2020-12-28 06:48] charleskorn commented on #714
With the move to the [new docs](https://github.com/batect/batect.dev) this should no longer be an issue. Thanks again for the feedback @binkley!

[2020-12-28 06:48] #714 closed

[2020-12-28 06:48] charleskorn commented on #724
I'm going to close this due to inactivity. If you're able to provide more information, please feel free to reopen this issue.

[2020-12-28 06:48] #724 closed

[2020-12-28 06:51] charleskorn commented on #551
Hi @zizhongzhang, this is now possible with [`customise`](https://batect.dev/docs/reference/config/tasks#customise) which was introduced in 0.61.0 - sorry for not coming back to this issue earlier.

For example:

[code]

[2020-12-28 06:51] #551 closed

[2021-01-16 22:27] charleskorn opened #785 "No colour output when running in Git Bash on Windows"
What it says in the title - all output from Batect is plain text when running under Git Bash on Windows. Colour output is used when running under PowerShell or Command Prompt.

Seems to be a result of https://stackoverflow.com/questions/40912072/git-for-windows-mintty-sys-stdout-isatty-returns-false and https://github.com/mintty/mintty/issues/482. [This comment](https://github.com/mintty/mintty/is

[2021-01-23 06:23] #785 closed

[2021-01-25 08:39] hpcsc opened #789 "private registry support?"
Hi,

I can't find any documentation regarding support for pulling images from private registry? Is that not supported at the moment?

More on my current project setup and problem:

- CI server is Azure Devops.
- Before running batect command with private image, I already use Docker task to do login to registry: https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/docker?view=azure-d

[2021-01-25 09:26] charleskorn commented on #789
Hey @hpcsc, thanks for the detailed issue report. Batect does support pulling images from private registries, but relies on the credentials being configured in the default Docker configuration file (`~/.docker/config.json`).

Adding support for the `DOCKER_CONFIG` environment variable shouldn't be too difficult though, I'll take a look at adding that.

[2021-01-26 05:42] #789 closed

[2021-02-06 06:20] charleskorn commented on #116
📢 I've just released [v0.67](https://github.com/batect/batect/releases/tag/0.67.0) which includes shell tab completion support for Zsh.

If you have any feedback on this, please feel free to post it here or open a separate issue for bugs.

[2021-02-11 08:47] renovate[bot] opened #800 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting String near   }
  ]
}
`

[2021-02-11 08:54] #800 closed

[2021-02-26 06:36] mjstrasser opened #812 "Subsequent timeouts on macOS Docker after initial success"
I am getting repeated timeouts running Batect on macOS.

# Setup

* macOS Catalina 10.15.7
* Docker Desktop 3.1.0 (51484) including Engine 10.10.2
* Docker feature **Use gRPC FUSE for file sharing** is disabled
* Batect 0.68.0
* Project is [WireMock Async](https://github.com/mjstrasser/wiremock-async) (See [batect.yml](https://github.com/mjstrasser/wiremock-async/blob/main/batect.yml))

# Observat

[2021-02-26 07:04] mjstrasser commented on #812
Some more information.

* After I commented out `options: cached` for all the volumes in `batect.yml` I could run Batect repeatedly without problem.
* After I uncommented _one_ of the `options: cached` settings (for the local directory) I could run Batect once only. The second run timed out.

[2021-02-26 09:45] charleskorn commented on #812
Hi @mjstrasser, thanks for the detailed issue. I'm not able to access your repo - is it private?

`options: cached` isn't a Batect feature - that enables Docker for Mac's [cached volume mode](https://www.docker.com/blog/user-guided-caching-in-docker-for-mac/). Unfortunately, it seems every new release of Docker for Mac introduces new and different issues with file sharing.

I have seen this issue

[2021-02-26 23:59] charleskorn commented on #116
...and this is also now available as a Oh My Zsh plugin if you'd rather not use Homebrew: https://github.com/batect/zsh-completion#with-oh-my-zsh

[2021-02-27 12:12] mjstrasser commented on #812
Hi @charleskorn

Sorry about the private repo. I have made it public now.

I ran some tests on another machine that almost the same, except that it is running macOS Big Sur 11.2.1. I found that that with Docker Desktop for Mac 3.1.0 requires **gRPC FUSE** to be enabled for repeated Batect runs to succeed.

I ran Batect multiple times in Zsh using:
[code]
Before each run I re-started Docker.

* Wit

[2021-02-27 22:09] charleskorn commented on #812
OK, so it sounds like the issue is the original (non-gRPC) file sharing implementation in Docker for Mac. You should be able to reproduce the issue without Batect by appending `:cached` when creating volume mounts with `docker run`, for example:

[code]

If that exhibits the same behaviour when run multiple times in a row, this is definitely a bug in Docker for Mac - I'd suggest filing a bug with

[2021-02-28 00:58] charleskorn commented on #68
I'm going to close this as won't fix - the existing syntax, while verbose, is more explicit and means we can use standard YAML maps rather than a list which needs to be parsed.

[2021-02-28 00:58] #68 closed

[2021-02-28 00:59] charleskorn commented on #92
I'm going to close this as won't fix - with the introduction of [shell tab completion](https://batect.dev/docs/getting-started/shell-tab-completion/), I believe there's less of a need for this. If you disagree, please feel free to reopen this issue.

[2021-02-28 00:59] #92 closed

[2021-02-28 08:40] mjstrasser commented on #812
Sorry if I wasn’t clear. The issue is not with Docker caching,
it is with the use of **gRPC FUSE**.

Timeouts happen after a couple of runs when **gRPC FUSE** is disabled
in Docker for Mac and `run_as_current_user` is enabled in Batect.

I ran the same Gradle command five times each in Docker a number of ways with these results:

| **gRPC FUSE** | Command | User | Result |
|--|--|--|--|
| disabled

[2021-03-01 07:54] charleskorn commented on #812
Is there any noticeable speed difference between successful runs of these three scenarios?

| gRPC FUSE | Command | User |
|--|--|--|
| disabled | `docker run` | root |
| disabled | Batect | root  |
| disabled | Batect | non-root |

Also, are you able to capture logs for the failing scenario (eg. run with `./batect --log-file batect.log build-gradle`) and share the exception stack trace? (Search f

[2021-03-01 23:39] mjstrasser commented on #812
Here are average timings in seconds from 5 runs each a couple of days ago:

| **gRPC FUSE** | Command | User | Not cached | Cached | Notes |
|--|--|--|--|--|--|
| disabled | `docker run` | root | 40.9 | 28.1 |
| disabled | Batect | root | 46.7 | 32.8 |
| disabled | Batect | non-root | 53.7 | 31.6 | 2 successful runs |

Timings reported by `time`.

[2021-03-02 00:30] mjstrasser commented on #812
Every Batect timeout log includes an exception with this stack trace:
[code]

[2021-03-02 00:53] mjstrasser commented on #812
# Docker for Mac updated to 3.2.0

After updating, I observed:

* The **gRPC FUSE** option is under **General** Preferences,  not **Experimental Features**.
* If **gRPC FUSE** is _disabled_, the same timeouts happened after one or two successful Batect runs (`run_as_current_user` enabled).
* If **gRPC FUSE** is _enabled_, no errors running Batect 5 times (`run_as_current_user` enabled).

[2021-03-02 07:38] charleskorn commented on #812
Thanks for the information @mjstrasser. The Docker API call that is timing out is already set to use a 30s timeout which _should_ be plenty, but I can increase that.

Out of interest, does running `docker run` with `docker run -u $(id -u):$(id -g) ...` produce a similar performance penalty? That is the only significant change I can think of that `run_as_current_user` introduces that could possibly

[2021-03-02 10:17] charleskorn commented on #812
I've just released [0.68.1](https://github.com/batect/batect/releases/tag/0.68.1) with an increased timeout - please give it a go and let me know if it at least resolves the timeouts. (It won't make anything faster, but at least it won't fail all the time.)

[2021-03-02 11:58] mjstrasser commented on #812
No improvement with version 0.68.1. Of 5 runs 2 succeeded then 3 failed: **gRPC FUSE** not enabled.

# Batect logs

This screenshot shows only warning and error log messages from Batect after import into a locally running Seq instance (using the [import-logs-to-seq.sh](https://github.com/mjstrasser/wiremock-async/blob/main/import-logs-to-seq.sh) script):

<img width="924" alt="image" src="https://

[2021-03-02 12:03] mjstrasser commented on #812
Running Docker directly with `-u` was interesting:

- First set of five: all succeeded without timing out.
- Second set of five: one succeeded, then the second run blocked with no messages. Restarting Docker broke the block.
- Third set of five: one succeeded, then the second run blocked in the same way.

Command is:
[code]

[2021-03-03 08:43] charleskorn commented on #812
That result suggests to me that there's a bug in Docker for Mac when all of the following are true:

* gRPC FUSE is disabled
* the volume is mounted with `:cached`
* a non-default user is used with `docker run` (eg. `docker run -u $(id -u):$(id -g)`)

Unfortunately there's not much I can do to fix this for you - I'd suggest raising an issue with the Docker team (in the [`docker/for-mac` repo](http

[2021-03-05 04:33] mjstrasser commented on #812
Thanks @charleskorn. I realise there is not much you can do.

I have tried to create repeatable examples with `docker run` and non-default user but outcomes are inconsistent. I will report it anyway.

[2021-03-05 04:34] #812 closed

[2021-03-07 01:54] #271 closed

[2021-03-07 01:54] #407 closed

[2021-03-07 01:54] #549 closed

[2021-03-07 01:54] #706 closed

[2021-03-19 01:15] charleskorn opened #828 "Action required: upcoming Bintray shutdown and how it affects you"
Bintray [announced on February 3](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) that it will be shutting down on May 1, 2021.

This affects Batect, as Batect's wrapper script downloads Batect from Bintray.

The simplest solution is to upgrade to Batect v0.69.0: run `./batect --upgrade`.

More information is available on [the blog](https://batect.dev/blog/2021/03

[2021-03-23 03:11] dan-neumegen-xero opened #829 "Question: Common container definitions and local volume relative paths"
I'm having a problem with using central definitions for containers shared by multiple projects.

Say I have a container specified in a common batect file (lets call it batect_1.yml) in directory1, which is included in another file (batect_2.yml) in directory2.

The container definition has a volume like so:
[code]
In the docs for [volume ](https://batect.dev/docs/reference/config/containers#volume

[2021-03-23 03:30] charleskorn commented on #829
Hey @dan-neumegen-xero, maybe I need to make the docs a bit clearer here: paths in a file are resolved relative to the directory containing the file.

So if `container-1` is defined in `/my-project/includes/container.yml`, and `/my-project/includes/container.yml` is included into `/my-project/src/batect.yml`, paths for volume mounts on `container-1` are resolved relative to `/my-project/includes`.

[2021-03-25 02:46] dan-neumegen-xero commented on #829
That is the exact piece of the puzzle I had missed! Thanks @charleskorn and no bugs, all working as expected

[2021-03-25 02:46] #829 closed

[2021-04-08 01:03] csxero opened #847 "Can't create Selenium Grid sessions using Batect"
## Background

Creating new sessions using `http://localhost:4444/wd/hub/session` works when we setup our grid using docker compose but doesn't work when we use batect

Any reason why this would happen?

### Error
This is the error we get back using batect when trying to create a new session
[code]

## Docker compose file

[code]

## Batect file

We use batect for running our ci process.
[code]

#